@font-face {
	font-family: metapro-book;
	src: url('fonts/MetaPro-Normal.otf');
	src: url('fonts/MetaPro-Normal.otf') format('embedded-opentype'), url("fonts/MetaPro-Medium_30264.ttf") format('truetype');
	font-weight: normal;
	font-style: normal;
}