/*
 *   Theme specific css changes
 */
.white-theme-header {
    .portal-name{
        color: #000;    
    }
}
.default-theme-header, .black-theme-header {
    .portal-name{
        color: #FFF;    
    }
}
.white-theme {}
.default-theme {} 
.black-theme {}
.white-bg {
    background-color: #ffffff;
    padding-top:10px;
    .tiles-list-view {
        .report-tile {
            &:nth-child(even) {
                background-color: #f5f5f5;
                .wrap-reportname {
                    background: #f5f5f5;
                }
            }
        }
    }    
}
.default-bg {
    background-color: #ffffff;//#f5f5f5
    padding-top:10px;
    .tiles-list-view {
        .report-tile {
            &:nth-child(even) {
                background-color: #f5f5f5;
                .wrap-reportname {
                    background: #f5f5f5;
                }
            }
        }
    }
}

.black-bg {
    background-color: #1f1f1f;
    padding-top:10px;
    .ibox-title {
        .dashed-box {
            background: linear-gradient(0deg, transparent 49%, #f5eeee 50%, transparent 52%) !important;
        }
        h5 {
            color: #FFF;
            background: #1f1f1f;
        }
    }
    .container-fluid {
        .panel-footer {
            background: #333;
        }
        .report-tile {
            .favorite-button {
                //background: url(../images/iconFavorites_blank.png);
                &.favorite-selected {
                    //background: url(../images/iconFavorites_select.png);
                }
            }
        }
    }
    .tiles-list-view {
        .report-tile {
            &:nth-child(even) {
                background-color: #333;
                .wrap-reportname {
                    background-color: #333;
                }
            }
        }
        .wrap-reportname {
            background: #1F1F1F;
            font-size: 15px;
            padding-top: 6px;
            padding-bottom: 6px;
        }
    }
    .list-unstyled li:nth-child(even) {
        background-color: #333333;
    }
    .report-container tr:nth-child(even) {
        background: #333333;
    }
    .table-hover > tbody > tr:hover {
        /* background-color: #f5f5f5; */
    }
}
.black-theme, .default-theme {
    #wrapper {
        background: #333 !important;
    }
}
.black-wrapper, .default-wrapper {
    background: #333 !important;
}
.white-theme {
    #wrapper {
        background: #f5f5f5 !important;
        .navbar-default {
            background: #f5f5f5 !important;
            .nav > li {
                background-color : #f5f5f5 !important;
                a {
                    color: #000 !important;
                }
            }
        }
        #side-menu li:hover {
            background:#2c6790 !important;
        }
        #side-menu li.reports:hover {
            .tree-view ul li:hover {
                background:#f5f5f5 !important;
            }
        }
    }
    .nav > li:hover {
        &.active div[data-angular-treeview] {
            background-color: #f5f5f5 !important;
            outline-color: #f5f5f5;
            ul {
                outline-color: #f5f5f5;
            }
            ul li:hover {
                background: #f5f5f5 !important;
            }
            ul li{
                a:hover{
                    text-decoration: underline;
                }
                a span:hover {
                    text-decoration: underline;
                }
            }
        }
    }
}
.white-portal-name {
    color:#333 !important;
}
.default-portal-name, .black-portal-name {
    color: #ffffff;
}
