/*
 *   Theme specific css changes
 */
.default-theme-header {
    .tooltip.top .tooltip-arrow {
        border-top-color: #000;
    }
    .tooltip.bottom .tooltip-arrow {
        border-bottom-color: #000;
    }
    .tooltip.right .tooltip-arrow {
        border-right-color: #000;
    }
    .tooltip.left .tooltip-arrow {
        border-left-color: #000;
    }
    .tooltip-inner {
        background-color: #000;
        color: #FFF;
    }
}
.black-theme-header {
    .tooltip.top .tooltip-arrow {
        border-top-color: #FFF;
    }
    .tooltip.bottom .tooltip-arrow {
        border-bottom-color: #FFF;
    }
    .tooltip.right .tooltip-arrow {
        border-right-color: #FFF;
    }
    .tooltip.left .tooltip-arrow {
        border-left-color: #FFF;
    }
    .tooltip-inner {
        background-color: #FFF;
        color: #000;
    }
}

.white-theme {}
.default-theme {} 
.black-theme {}


.white-bg {
    background-color: #ffffff;
    padding-top:0px;
    .tiles-list-view {
        .report-tile {
            &:nth-child(even) {
                background-color: #F5F5F5;
                .wrap-reportname {
                    background: #F5F5F5;
                }
            }
        }
    }
    hr {
        border-top: 1px solid #4e5052; 
    }
}

.default-bg {
    background-color: #EAEAEA;//#EAEAEA
    padding-top:0px;
    /*color: #FFF;*/
    .tiles-list-view .reports-box .wrap-reportname {
        background: #FFF;
    }
    .report-tile {
        .favorite-button {
            background: url(../images/icon-favourites-stroke-black.png);
            outline:none;
            &.favorite-selected {
                background: url(../images/icon-favourite-selected.png);
                outline:none;
            }
        }
        .open-exteranl {
            background-image: url('../images/icon-opennewtab-black.png');
            outline:none;
        }
    }
    .panel{
        border: 1px solid #cfcfcf;
        border-bottom: 3px solid #cfcfcf;
        border-radius: 4px;
        -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, .05);
        box-shadow: 0 1px 1px rgba(0, 0, 0, .05);
    }
    .reports-box {
        .image-container {
            background: #FFF;
        }
    }    
    .tiles-list-view {
        .panel {
            border: none;
            border-bottom: none;
            border-radius: 0;
            box-shadow: none;
        }    
        .single-tile {
            background: #FFF;
            margin: 1px 0px;
            padding: 3px;
        }
        .report-tile {
            &:nth-child(even) {
                background-color: #FFF;//#F5F5F5
                .wrap-reportname {
                    background: #FFF;
                }
            }
        }    
    }
    hr {
        border-top: 1px solid #4e5052; 
    }
    .background-box {
        background:#FFF;
        padding:10px;
        clear:both;
        margin-bottom:10px;
        margin-top: 10px;
        tr {
            border-top: 2px solid #EAEAEA;
            border-bottom: 2px solid #EAEAEA;    
        }
        tr:nth-child(even) {
            background: #333;
        }
        tr:nth-child(even) {
            background: #FFF;
        }
        li {
            border-bottom:2px solid #EAEAEA;
        }
        li:last-child {
            border-bottom:none;
        }
        li:nth-child(even) {
            background-color: #FFF;
        }
    }
    .meta-type {
        .glyphicon {
            color:#999;
        }
        .active{
            /*border:1px solid #999;*/
            color: #2c95dd;
        }
        span.meta-table-icon{
            color: #999;
        }
        span.meta-graph-icon{
            color: #999;
        }
    }
    .table-data {
        .search-icon {
          color: #887979;
        }
        input, input:hover, input:active {
            color:#000;
            border: 1px solid #9e9c9c;
            outline: none;
        }
        .close-icon {
            color: #000;
        }
        .meta-list {
            tr {
                border-left:2px solid #f5f5f6;
                border-right:2px solid #f5f5f6;
            }
            th, td {
                border-left:none;
                border-right:none;
            }
        }
    }
    
    .graph-container {
        /*border-top: 1px solid lightgrey;*/
    }
    .meta-type {
        span.meta-table-icon, span.meta-graph-icon {
            color: #999;
        }
        span.meta-table-icon-active, span.meta-graph-icon-active {
            color: #2c95dd;
        }
    }
    #d3d button {
        color:#FFF;
    }
    .tooltip.top .tooltip-arrow {
        border-top-color: #000;
    }
    .tooltip.bottom .tooltip-arrow {
        border-bottom-color: #000;
    }
    .tooltip.right .tooltip-arrow {
        border-right-color: #000;
    }
    .tooltip.left .tooltip-arrow {
        border-left-color: #000;
    }
    .tooltip-inner {
        background-color: #000;
        color: #FFF;
    }
    .detailed-view-icon {
        background: url(../images/grid-view-dark.png);
        background-repeat: no-repeat;
        width: 20px;
        height: 16px;
        display: table;
    }
    .grid-view-icon {
        background: url(../images/grid-view-dark.png);
        background-repeat: no-repeat;
        width: 20px;
        height: 16px;
        display: table;
    }
    .list-view-icon {
        background: url(../images/list-view-dark.png);
        background-repeat: no-repeat;
        width: 20px;
        height: 16px;
        display: table;
    }
    .report-collapse-icon {
        background: url(/images/arrow_close_report.png);
        background-repeat: no-repeat;
        background-size: 100%;
        background-position: center;
    }
    .report-expand-icon {
        background: url(/images/arrow_open_report.png);
        background-repeat: no-repeat;
        background-size: 100%;
        background-position: center;
    }
    .report-sort-arrow-down {
        background: url(/images/move-down.png);
        background-repeat: no-repeat;
        background-size: 90%;
    }
    .report-sort-arrow-up {
        background: url(/images/move-up.png);
        background-repeat: no-repeat;
        background-size: 90%;
    }
}

.black-bg {
    background-color: #1F1F1F;
    padding-top:0px;
    color: #FFF;
    .ibox-title {
        .dashed-box {
            background: linear-gradient(0deg, transparent 49%, #f5eeee 50%, transparent 52%) !important;
        }
        h5 {
            color: #FFF;
            background: #1F1F1F;
        }
    }
    .container-fluid {
/*        .panel-footer {
            background: #333;
        }*/
        .report-tile {
            .favorite-button {
                background: url(../images/icon-favourites-stroke-white.png);
                outline:none;
                &.favorite-selected {
                    background: url(../images/icon-favourite-selected.png);
                    outline:none
                }
            }
            .open-exteranl {
                background-image: url('../images/icon-opennewtab-white.png');
                outline:none;
            }
        }
    }
    .panel{
        border: 1px solid #1F1F1F; //#808080;
        border-bottom: 3px solid #1F1F1F; //#808080;
        border-radius: 4px;
        -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, .05);
        box-shadow: 0 1px 1px rgba(0, 0, 0, .05);
    }
    .reports-box { 
        .image-container {
            background: #333;
        }
    }
    .tiles-list-view {
        .panel {
            border: none;
            border-bottom: none;
            border-radius: 0;
            box-shadow: none;
            background: #333;
        }
        .single-tile {
            background: #333;
            margin: 1px 0px;
            padding: 3px;
        }
        .report-tile {
            &:nth-child(even) {
                background-color: #333;
                .wrap-reportname {
                    background-color: #333;
                }
            }
        }
        .reports-box .wrap-reportname {
            background: #333;
        }
        .panel-footer {
            background: #333;
        }
/*        .wrap-reportname {
            background: #333;
            font-size: 15px;
            padding-top: 6px;
            padding-bottom: 6px;
        }*/
    }
    .list-unstyled li:nth-child(even) {
        background-color: #333333;
    }
    .report-container tr:nth-child(even) {
        background: #333333;
    }
    .table-hover > tbody > tr:hover {
        /* background-color: #E8E8E8; */
    }
    hr {
        border-top: 1px solid #eeeeee; 
    }
    .background-box {
        background:#333;
        padding:10px;
        clear:both;
        margin-bottom:10px;
        margin-top: 10px;
        tr {
            border-top: 2px solid #1F1F1F;
            border-bottom: 2px solid #1F1F1F;    
        }
        tr:nth-child(even) {
            background: #333;
        }
        li {
            border-bottom:2px solid #1F1F1F;
        }
        li:last-child {
            border-bottom:none;
        }
        li:nth-child(even) {
            background-color: #333;
        }
    }    
    .btn { 
        color: #FFF;
    }    
    .btn.bordered { 
        border: 1px solid #FFF;
    }
    .image-container { 
        padding : 0;
    }
    .panel-footer {
        background: #333;
    }
    .pagination { 
        color:#000;
    }    
    .table-data {
        .meta-list {
            thead > tr > th {
                background-color: #999;
            }
            tr {
                border-left: 2px solid #1F1F1F;
                border-right: 2px solid #1F1F1F;
            }
            th, td {
                border-left: none;
                border-right: none;
            }
            tr:nth-of-type(odd) {
                background-color: #6f6e6e;
            }
        }
        .search-icon {
            color: #ded9d0;
        }
        input, input:hover, input:active {
            background-color: #4F4F4F;
            color:#FFF;
            outline: none;
        }
        .close-icon {
            color: #FFF;
            background: url(/images/cancel.png) 0% 0%/65% no-repeat !important;
        }
        .pagination li a {
            background-color: #DDD;
            border-color: #333;
        }
    }
    .meta-type {
        span.meta-table-icon, span.meta-graph-icon{
            color: #FFF;
        }
        span.meta-table-icon-active, span.meta-graph-icon-active {
            color: #2c95dd;
        }
    }
    #d3d {
        color:#333;
    }
    .tooltip.top .tooltip-arrow {
        border-top-color: #FFF;
    }
    .tooltip.bottom .tooltip-arrow {
        border-bottom-color: #FFF;
    }
    .tooltip.right .tooltip-arrow {
        border-right-color: #FFF;
    }
    .tooltip.left .tooltip-arrow {
        border-left-color: #FFF;
    }
    .tooltip-inner {
        background-color: #FFF;
        color: #000;
    }
    .persona-dropDown {
        color: #FFF;
        background: #333;
    }
    .detailed-view-icon {
        background: url(../images/grid-view-white.png);
        background-repeat: no-repeat;
        width: 20px;
        height: 16px;
        display: table;
    }
    .grid-view-icon {
        background: url(../images/grid-view-white.png);
        background-repeat: no-repeat;
        width: 20px;
        height: 16px;
        display: table;
    }
    .list-view-icon {
        background: url(../images/list-view-white.png);
        background-repeat: no-repeat;
        width: 20px;
        height: 16px;
        display: table;
    }
    .report-collapse-icon {
        background: url(/images/arrow_close_report-white.png);
        background-repeat: no-repeat;
        background-size: 100%;
        background-position: center;
    }
    .report-expand-icon {
        background: url(/images/arrow_open_report-white.png);
        background-repeat: no-repeat;
        background-size: 100%;
        background-position: center;
    }
    .report-sort-arrow-down {
        background: url(/images/move-down-white.png);
        background-repeat: no-repeat;
        background-size: 90%;
    }
    .report-sort-arrow-up {
        background: url(/images/move-up-white.png);
        background-repeat: no-repeat;
        background-size: 90%;
    }    
}
.black-theme, .default-theme {
    #wrapper {
        background: #2C2C2C !important;
    }
}
.black-wrapper, .default-wrapper {
    background: #333 !important;
}
.white-theme {
    #wrapper {
        background: #E8E8E8 !important;
        .navbar-default {
            background: #E8E8E8 !important;
            .nav > li {
                background-color : #E8E8E8 !important;
                a {
                    color: #000 !important;
                }
            }
        }
        #side-menu li:hover {
            background:#2c6790 !important;
        }
        #side-menu li.reports:hover {
            .tree-view ul li:hover {
                background:#E8E8E8 !important;
            }
        }
    }
    .nav > li:hover {
        &.active div[data-angular-treeview] {
            background-color: #E8E8E8 !important;
            outline-color: #E8E8E8;
            ul {
                outline-color: #E8E8E8;
            }
            ul li:hover {
                background: #E8E8E8 !important;
            }
            ul li{
                a:hover{
                    text-decoration: underline;
                }
                a span:hover {
                    text-decoration: underline;
                }
            }
        }
    }
}
.white-portal-name {
    color:#333 !important;
}
.default-portal-name, .black-portal-name {
    color: #ffffff;
}