<!doctype html>
<html class="no-js">
<head>
    <meta charset="utf-8">
    <title>EMC Insights</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
    <!-- build:css(.) styles/vendor.css -->
    <!-- bower:css -->
    <link rel="stylesheet" href="bower_components/nvd3/src/nv.d3.css" />
    <link rel="stylesheet" href="bower_components/angular-ui-grid/ui-grid.css" />
    <link rel="stylesheet" href="bower_components/jqcloud2/dist/jqcloud.css" />
    <link rel="stylesheet" href="bower_components/malihu-custom-scrollbar-plugin/jquery.mCustomScrollbar.css" />
    <!-- endbower -->
    <!-- endbuild -->
    <!-- build:css(.tmp) styles/main.css -->
    <link rel="stylesheet" href="bower_components/ngprogress/ngProgress.css">
    <link rel="stylesheet" href="styles/main.css">
    <link rel="stylesheet" href="styles/theme-default.css">

    <!-- endbuild -->
    <style>
        #grayblackground {
            position: fixed;
            top: 0;
            left: 0;
            bottom: 0;
            height:100%;
            width:100%;
            cursor: not-allowed;
            filter: alpha(opacity=60);
            opacity: 0.6;
            background-color: #000000;
            z-index: 9999;
        }
        #loadingIcon {
            position: absolute;
            top:200px;
            width:100%;
            text-align: center;
            font-size: 4em;
            color:white;
            text-shadow: 2px 2px 2px #021124;
            z-index: 9999;
        }
    </style>
</head>
<body ng-app="myBiApp" ng-controller="ParentCtrl" ng-class="{'mini-navbar':toggleLeft}">
    <!--[if lt IE 7]>
      <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->

    <!-- Add your site or application content here -->
    <header id="header">
        <div class="container">
            <div class="row visible-md visible-lg visible-sm hidden-xs v-offset-bottom-15px">
                <div class="navbar-brand col-md-3 col-lg-3 col-sm-3">
                    <a class="navbar-minimalize" ng-click="toggleLeft = !toggleLeft">
                        <!--span class="emc-logo">x</span -->
                        <span class="glyphicon glyphicon-menu-hamburger"></span>
                    </a>
                    <a href="#/" style="display:inline-table; width:30px;">
                        <!--span class="emc-logo">x</span -->
                        <img class="logo"  src="images/EMCLogo.png"/>
                        <span ng-show="!toggleLeft" class="portal-name">INSIGHTS</span>
                    </a>
                </div>
                <div class="col-md-7 col-lg-7 col-sm-6">
                    <search-report></search-report>
                </div>

                <div class="col-md-2 col-lg-2 col-sm-3">
                    <div class="row">
                        <span class="header-right pull-right" ng-show="userObject.userFullName != ''">
                            <!--  userObject.userinfo.role.toLowerCase() === 'admin' || userObject.userinfo.role.toLowerCase() === 'buadmin' -->
                            <a ng-show="userObject.userinfo.role.toLowerCase() === 'admin' || userObject.userinfo.role.toLowerCase() === 'buadmin'" data-toggle="dropdown" class="dropdown-toggle" href="javascript:void(0)">
                                <div class="top-header-title">
                                    <span class="pull-left">
                                        <img alt="image" class="usr-image" ng-src="{{userPicUrl}}" err-src="images/charts/default_user.png">
                                    </span>
                                    <span>
                                        <div ng-bind="userObject.userFullName"></div>
                                        <div class="profile-progress-small">
                                            <div class="progress">
                                                <div class="progress-bar" role="progressbar" aria-valuenow="70"
                                                     aria-valuemin="0" aria-valuemax="100" ng-style="{width:badge}">
                                                </div>
                                            </div>
                                        </div>
                                    </span>
                                </div>

                                <div class="top-header-caret">
                                    <b class="caret"></b>
                                </div>
                            </a>

                            <!-- userObject.userinfo.role.toLowerCase() !== 'admin' && userObject.userinfo.role.toLowerCase() !== 'buadmin' -->
                            <a ng-show="userObject.userinfo.role.toLowerCase() !== 'admin' && userObject.userinfo.role.toLowerCase() !== 'buadmin'" ui-sref="profile"> 
                                <span>
                                    <img alt="image" class="usr-image" ng-src="{{userPicUrl}}" err-src="images/charts/default_user.png">
                                </span>
                                <span>
                                    <div ng-bind="userObject.userFullName"></div>
                                    <div class="profile-progress-small">
                                        <div class="progress">
                                            <div class="progress-bar" role="progressbar" aria-valuenow="70"
                                                 aria-valuemin="0" aria-valuemax="100" style="{{badge}}">
                                            </div>
                                        </div>
                                    </div>
                                </span>
                            </a>

                            <ul class="dropdown-menu animated fadeInRight profile-dropdown-menu">
                                <li><a ui-sref="profile">Profile</a></li>
                                <li class="divider"></li>
                                <li><a href="admin">Admin</a></li>
                            </ul>
                        </span>
                    </div>

                </div>   
            </div>
            <div class="row hidden-md hidden-lg hidden-sm visible-xs">
                <div class="col-xs-10 margin-padding-zero ">
                    <a class="navbar-brand" href="#/"><img class="logo" src="images/EMCLogo.png" alt="logo"></a> 
                    <a class="navbar-brand" href="#/"><img class="logo" src="images/EMCLogo.png" alt="logo"></a> 
                    <div class="portal-name">Insights 
                        <span ng-show="showPage" class="xs-report-header"> | Reports
                            <button ng-click="showIcons()" class="reports-type button-icon glyphicon glyphicon-th-large"></button>
                            <button ng-click="hideIcons()" class="button-icon glyphicon glyphicon-th-list"></button>
                        </span>
                    </div>
                </div>
                <div class="col-xs-2 text-right">
                    <ul class="nav">
                        <li class="nav-header" ng-show="userObject.userFullName != ''" aria-hidden="false">
                            <div class="dropdown text-center profile-element" title="{{userObject.userFullName}}"> 
                                <a data-toggle="dropdown" class="dropdown-toggle user-icon-nav-header" href="javascript:void(0)" aria-expanded="false">
                                    <span><img alt="image" class="img-circle profile-small" ng-src="{{userPicUrl}}" err-src="images/charts/default_user.png"></span>
                                </a>
                            </div>
                            <div class="logo-element">
                                Insights
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="row hidden-md hidden-lg hidden-sm visible-xs">
                <div class="col-xs-12 glb-search-mob">
                    <input class="form-control globle-search-input" type="text" name="mob-search" >
                </div>
            </div>
        </div><!--/.container-->
    </header>
    <!--     <div class="container"> -->
    <div class="pace-done">
        <div id="wrapper" class="container-fluid no-padding">
            <nav class="navbar-default navbar-static-side" role="navigation">
                <!--<div class="navbar-minimalize" ng-click="toggleLeft = !toggleLeft" ></div>-->
                <div class="sidebar-collapse">
                    <ul class="nav metismenu" id="side-menu" style="display: block;margin-top:60px;">
                        <li ui-sref-active="active" class="home">
                            <a ui-sref="home">
                                <div class="row">
                                    <div class="col-md-4 col-lg-4 col-sm-4">
                                        <img src="images/homeIcon.png"/>
                                    </div>
                                    <div class="col-sm-8 col-md-8 col-lg-8">
                                        <label class="nav-label">Home</label>
                                    </div>
                                </div>
                            </a>
                        </li>
                        <li ui-sref-active="active" class="dashboard">
                            <a ui-sref="reportsDashboard"> 
                                <div class="row">
                                    <div class="col-md-4 col-lg-4 col-sm-4">
                                        <img src="images/reportDashboardIcon_leftNavigation.png"/>
                                    </div>
                                    <div class="col-sm-8 col-md-8 col-lg-8">
                                        <label class="nav-label">Operational Dashboard</label>
                                    </div>
                                </div>
                            </a>
                        </li>
                        <li ng-class="{'active': mainState.includes('reports')}" class="reports">
                            <a ui-sref="reports.list">
                                <div class="row">
                                    <div class="col-md-4 col-lg-4 col-sm-4">
                                        <img src="images/iconReports.png"/>
                                    </div>
                                    <div class="col-sm-8 col-md-8 col-lg-8">
                                        <label class="nav-label">Available Reports</label>
                                    </div>
                                </div>
                            </a>

                            <div class="tree-view"
                                 data-angular-treeview="true"
                                 data-tree-model="biGroup.biGroups"
                                 data-node-id="levelId"
                                 data-node-label="levelDesc"
                                 data-node-children="children" >
                            </div>


                        </li>
                        <li ui-sref-active="active" class="favorites">
                            <a ui-sref="favorites" >
                                <div class="row">
                                    <div class="col-md-4 col-lg-4 col-sm-4">
                                        <img src="images/iconFavorites.png"/>
                                    </div>
                                    <div class="col-sm-8 col-md-8 col-lg-8">
                                        <label class="nav-label">My Favorites</label>
                                    </div>
                                </div>
                            </a>
                        </li>
                    </ul>
                </div>
            </nav>
            <div id="page-wrapper" class="dashbard-1">
                <div class="row picture-bg" ng-class="{'ng-hide':['home-header-icon','myprofile-header-icon'].indexOf(mainState.$current.data.classIcon)!=-1}" >
                    <nav role="navigation" style="margin-bottom: 0">
                        <!-- a class="navbar-minimalize minimalize-styl-2 btn" href="#/"><img class="expand-collapse" src="images/expandCollapseHandle.png"/> </a -->
                        <ul class="heading-banner clearfix"><!-- ng-style="{'background-image': 'url('+mainState.$current.data.bgIcon+ ')'}" -->
                            <li>
                                <h2 ng-bind="mainState.$current.data.displayName"></h2>
                                <!--<h5  ng-show="mainState.current.name.indexOf('search.details') === -1 && mainState.current.name.indexOf('reports.details.report') === -1">Keyword: <span ng-bind="mainState.$current.data.subCaption"></span></h5>-->
                                <span ng-show="mainState.current.name.indexOf('search.details') === 0">
                                    <ul class="col-lg-12 col-xl-12 col-md-12 col-sm-12 col-xs-12 subHeaderMenu" ng-cloak>
                                        <li class="col-lg-3 col-xl-3 col-md-3 col-sm-3 col-xs-3"  ui-sref-active="active">
                                            <a ui-sref="search.details.report({'searchId':searchId})">
                                                <div class="icon report" ></div><br/>
                                                <span>Report</span>
                                            </a>
                                        </li>
                                        <li class="col-lg-3 col-xl-3 col-md-3 col-sm-3 col-xs-3" ui-sref-active="active">
                                            <a ui-sref="search.details.about({'searchId':searchId})">
                                                <div class="icon about" ></div><br/>
                                                <span >About</span>
                                            </a>
                                        </li>
                                        <li class="col-lg-3 col-xl-3 col-md-3 col-sm-3 col-xs-3" ui-sref-active="active">
                                            <a ui-sref="search.details.access({'searchId':searchId})">
                                                <div class="icon request" ></div><br/>
                                                <span>How to Request</span>
                                            </a>
                                        </li>
                                        <li class="col-lg-3 col-xl-3 col-md-3 col-sm-3 col-xs-3" ng-hide="$stateParams.persona === 'N'" ui-sref-active="active">
                                            <a ui-sref="search.details.feedback({'searchId':searchId})">
                                                <div class="icon feedback" ></div><br/>
                                                <span >User Feedback</span>
                                            </a>
                                        </li>

                                    </ul>
                                </span> 
                                <span ng-show="mainState.current.name.indexOf('reports.details.report') === 0">
                                    <ul class="col-lg-12 col-xl-12 col-md-12 col-sm-12 col-xs-12 subHeaderMenu" ng-cloak>
                                        <li class="col-lg-3 col-xl-3 col-md-3 col-sm-3 col-xs-3" ui-sref-active="active">
                                            <a ui-sref="reports.details.report.report({'searchId':searchId})">
                                                <div class="icon report" ></div><br/>
                                                <span>Report</span>
                                            </a>
                                        </li>
                                        <li class="col-lg-3 col-xl-3 col-md-3 col-sm-3 col-xs-3 align-center" ui-sref-active="active">
                                            <a ui-sref="reports.details.report.about({'levelId':$stateParams.levelId,'reportId':$stateParams.reportId})">
                                                <div class="icon about" ></div><br/>
                                                <span>About</span>
                                            </a>
                                        </li>
                                        <li class="col-lg-3 col-xl-3 col-md-3 col-sm-3 col-xs-3 align-center" ui-sref-active="active">
                                            <a ui-sref="reports.details.report.access({'levelId':$stateParams.levelId,'reportId':$stateParams.reportId})">
                                                <div class="icon request" ></div><br/>
                                                <span>How to Request</span>
                                            </a>
                                        </li>
                                        <li class="col-lg-3 col-xl-3 col-md-3 col-sm-3 col-xs-3 align-center" ui-sref-active="active">
                                            <a ui-sref="reports.details.report.feedback({'levelId':$stateParams.levelId,'reportId':$stateParams.reportId})">
                                                <div class="icon feedback" ></div><br/>
                                                <span>User Feedback</span>
                                            </a>
                                        </li>

                                    </ul>
                                </span>
                            </li>
                        </ul>

                        <div class="navbar-header-right">
                            <div class="breadcrum">
                                <!--span class="youarehere">YOU ARE HERE : </span>
                                <div ncy-breadcrumb></div-->
                            </div>
                        </div>  
                    </nav>
                </div>
                <!-- main content -->
                <div class="row white-bg">
                    <div class="col-md-12">
                        <div class="wrapper wrapper-content " ui-view></div>
                    </div>
                </div>
            </div> 
            <!-- end main content -->
        </div>
    </div>
    <!-- Here's some values to keep an eye on in the sample in order to understand $state and $stateParams -->
    <!--pre>
      $state = {{$state.current.name}}
      $stateParams = {{$stateParams}}
      $state full url = {{ $state.$current.url.source }}
      {{isLoading}}
    </pre -->
    <!-- $state.$current is not a public api, we are using it to
     display the full url for learning purposes-->

    <div id="grayblackground" ng-show="isLoading"></div>
    <div id="loadingIcon" ng-show="isLoading">
        <div id="circularG">
            <div id="circularG_1" class="circularG"></div>
            <div id="circularG_2" class="circularG"></div>
            <div id="circularG_3" class="circularG"></div>
            <div id="circularG_4" class="circularG"></div>
            <div id="circularG_5" class="circularG"></div>
            <div id="circularG_6" class="circularG"></div>
            <div id="circularG_7" class="circularG"></div>
            <div id="circularG_8" class="circularG"></div>
        </div>
    </div>
    <footer>
        <div class=" visible-md visible-lg hidden-sm hidden-xs">
            <a ui-sref="faq">FAQ</a> | <a target="_blank" href="/doc/Insights%20User%20Documentation.pdf">Help</a> | <a href="mailto:insights.portal.help@emc.com">Contact</a>
        </div>
        <div class="pull-left">
            <!-- strong>Copyright 2015</strong> - All rights reserved. -->
        </div>
    </footer>
    <!-- </div> -->

    <!-- build:js(.) scripts/vendor.js -->
    <!-- bower:js -->
    <script src="bower_components/jquery/dist/jquery.js"></script>
    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/bootstrap-sass-official/assets/javascripts/bootstrap.js"></script>
    <script src="bower_components/angular-animate/angular-animate.js"></script>
    <script src="bower_components/angular-aria/angular-aria.js"></script>
    <script src="bower_components/angular-cookies/angular-cookies.js"></script>
    <script src="bower_components/angular-resource/angular-resource.js"></script>
    <script src="bower_components/angular-route/angular-route.js"></script>
    <script src="bower_components/angular-sanitize/angular-sanitize.js"></script>
    <script src="bower_components/angular-touch/angular-touch.js"></script>
    <script src="bower_components/angular-mocks/angular-mocks.js"></script>
    <script src="bower_components/d3/d3.js"></script>
    <script src="bower_components/nvd3/nv.d3.js"></script>
    <script src="bower_components/angular-nvd3/dist/angular-nvd3.min.js"></script>
    <script src="bower_components/angular-bootstrap/ui-bootstrap-tpls.js"></script>
    <script src="bower_components/underscore/underscore.js"></script>
    <script src="bower_components/angular-underscore-module/angular-underscore-module.js"></script>
    <script src="bower_components/angular-ui-grid/ui-grid.js"></script>
    <script src="bower_components/angular-ui-router/release/angular-ui-router.js"></script>
    <script src="bower_components/ngInfiniteScroll/build/ng-infinite-scroll.js"></script>
    <script src="bower_components/jqcloud2/dist/jqcloud.js"></script>
    <script src="bower_components/angular-jqcloud/angular-jqcloud.js"></script>
    <script src="bower_components/angular-breadcrumb/release/angular-breadcrumb.js"></script>
    <script src="bower_components/ngprogress/build/ngprogress.min.js"></script>
    <script src="bower_components/jquery-mousewheel/jquery.mousewheel.js"></script>
    <script src="bower_components/malihu-custom-scrollbar-plugin/jquery.mCustomScrollbar.js"></script>
    <script src="bower_components/ng-scrollbars/dist/scrollbars.min.js"></script>
    <!-- endbower -->
    <!-- endbuild -->

    <!-- build:js({.tmp,app}) scripts/scripts.js -->
    <script src="scripts/app.js"></script>
    <script src="scripts/app-run.js"></script>
    <script src="scripts/controllers/main.js"></script>

    <script src="scripts/controllers/report.js"></script>
    <script src="scripts/controllers/reports.js"></script> 
    <script src="scripts/controllers/parent.js"></script>
    <script src="scripts/controllers/reportslib.js"></script>

    <script src="scripts/controllers/reportsdashboard.js"></script>
    <script src="scripts/controllers/favorites.js"></script>
    <!-- <script src="scripts/controllers/prompts.js"></script> -->
    <script src="scripts/services/reportsmenu.js"></script>
    <script src="scripts/services/newsservice.js"></script>
    <script src="scripts/services/reportsummaryservice.js"></script>
    <script src="scripts/services/carouselservice.js"></script>
    <script src="scripts/services/profileservice.js"></script>
    <script src="scripts/services/popularsearchservice.js"></script>
    <script src="scripts/services/webserviceurl.js"></script>
    <script src="scripts/services/commonservice.js"></script>
    <script src="scripts/services/userdetailsservice.js"></script>
    <script src="scripts/controllers/profile.js"></script>
    <script src="scripts/module/treeview.js"></script>
    <script src="scripts/services/useralertservice.js"></script>
    <script src="scripts/directives/loadtiles.js"></script>
    <script src="scripts/directives/searchreport.js"></script>
    <script src="scripts/services/reportsfactory.js"></script>
    <script src="scripts/controllers/search.js"></script>
    <script src="scripts/controllers/searchReportController.js"></script>
    <script src="scripts/controllers/searchdetails.js"></script>
    <script src="scripts/services/searchservice.js"></script>
    <!--<script src="scripts/module/tableau-2.0.0.min.js"></script>-->
    <!-- endbuild -->

    <!-- Mainly scripts>
    <script src="scripts/js/jquery.metisMenu.js"></script> 
    <script src="scripts/js/jquery.slimscroll.min.js"></script>
    <script src="scripts/js/mybi-custom.js"></script -->
    <script src="https://baaastableau.corp.emc.com/javascripts/api/tableau-2.0.0.min.js"></script>
</body>
</html>
