/*
 *   Theme specific css changes
 */
/* line 5, ../../app/styles/theme-default.scss */
.default-theme-header .tooltip.top .tooltip-arrow {
  border-top-color: #000;
}
/* line 8, ../../app/styles/theme-default.scss */
.default-theme-header .tooltip.bottom .tooltip-arrow {
  border-bottom-color: #000;
}
/* line 11, ../../app/styles/theme-default.scss */
.default-theme-header .tooltip.right .tooltip-arrow {
  border-right-color: #000;
}
/* line 14, ../../app/styles/theme-default.scss */
.default-theme-header .tooltip.left .tooltip-arrow {
  border-left-color: #000;
}
/* line 17, ../../app/styles/theme-default.scss */
.default-theme-header .tooltip-inner {
  background-color: #000;
  color: #FFF;
}

/* line 23, ../../app/styles/theme-default.scss */
.black-theme-header .tooltip.top .tooltip-arrow {
  border-top-color: #FFF;
}
/* line 26, ../../app/styles/theme-default.scss */
.black-theme-header .tooltip.bottom .tooltip-arrow {
  border-bottom-color: #FFF;
}
/* line 29, ../../app/styles/theme-default.scss */
.black-theme-header .tooltip.right .tooltip-arrow {
  border-right-color: #FFF;
}
/* line 32, ../../app/styles/theme-default.scss */
.black-theme-header .tooltip.left .tooltip-arrow {
  border-left-color: #FFF;
}
/* line 35, ../../app/styles/theme-default.scss */
.black-theme-header .tooltip-inner {
  background-color: #FFF;
  color: #000;
}

/* line 46, ../../app/styles/theme-default.scss */
.white-bg {
  background-color: #ffffff;
  padding-top: 0px;
}
/* line 51, ../../app/styles/theme-default.scss */
.white-bg .tiles-list-view .report-tile:nth-child(even) {
  background-color: #F5F5F5;
}
/* line 53, ../../app/styles/theme-default.scss */
.white-bg .tiles-list-view .report-tile:nth-child(even) .wrap-reportname {
  background: #F5F5F5;
}
/* line 59, ../../app/styles/theme-default.scss */
.white-bg hr {
  border-top: 1px solid #4e5052;
}

/* line 64, ../../app/styles/theme-default.scss */
.default-bg {
  background-color: #EAEAEA;
  padding-top: 0px;
  /*color: #FFF;*/
}
/* line 68, ../../app/styles/theme-default.scss */
.default-bg .tiles-list-view .reports-box .wrap-reportname {
  background: #FFF;
}
/* line 72, ../../app/styles/theme-default.scss */
.default-bg .report-tile .favorite-button {
  background: url(../images/icon-favourites-stroke-black.png);
  outline: none;
}
/* line 75, ../../app/styles/theme-default.scss */
.default-bg .report-tile .favorite-button.favorite-selected {
  background: url(../images/icon-favourite-selected.png);
  outline: none;
}
/* line 80, ../../app/styles/theme-default.scss */
.default-bg .report-tile .open-exteranl {
  background-image: url("../images/icon-opennewtab-black.png");
  outline: none;
}
/* line 85, ../../app/styles/theme-default.scss */
.default-bg .panel {
  border: 1px solid #cfcfcf;
  border-bottom: 3px solid #cfcfcf;
  border-radius: 4px;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
}
/* line 93, ../../app/styles/theme-default.scss */
.default-bg .reports-box .image-container {
  background: #FFF;
}
/* line 98, ../../app/styles/theme-default.scss */
.default-bg .tiles-list-view .panel {
  border: none;
  border-bottom: none;
  border-radius: 0;
  box-shadow: none;
}
/* line 104, ../../app/styles/theme-default.scss */
.default-bg .tiles-list-view .single-tile {
  background: #FFF;
  margin: 1px 0px;
  padding: 3px;
}
/* line 110, ../../app/styles/theme-default.scss */
.default-bg .tiles-list-view .report-tile:nth-child(even) {
  background-color: #FFF;
}
/* line 112, ../../app/styles/theme-default.scss */
.default-bg .tiles-list-view .report-tile:nth-child(even) .wrap-reportname {
  background: #FFF;
}
/* line 118, ../../app/styles/theme-default.scss */
.default-bg hr {
  border-top: 1px solid #4e5052;
}
/* line 121, ../../app/styles/theme-default.scss */
.default-bg .background-box {
  background: #FFF;
  padding: 10px;
  clear: both;
  margin-bottom: 10px;
  margin-top: 10px;
}
/* line 127, ../../app/styles/theme-default.scss */
.default-bg .background-box tr {
  border-top: 2px solid #EAEAEA;
  border-bottom: 2px solid #EAEAEA;
}
/* line 131, ../../app/styles/theme-default.scss */
.default-bg .background-box tr:nth-child(even) {
  background: #333;
}
/* line 134, ../../app/styles/theme-default.scss */
.default-bg .background-box tr:nth-child(even) {
  background: #FFF;
}
/* line 137, ../../app/styles/theme-default.scss */
.default-bg .background-box li {
  border-bottom: 2px solid #EAEAEA;
}
/* line 140, ../../app/styles/theme-default.scss */
.default-bg .background-box li:last-child {
  border-bottom: none;
}
/* line 143, ../../app/styles/theme-default.scss */
.default-bg .background-box li:nth-child(even) {
  background-color: #FFF;
}
/* line 148, ../../app/styles/theme-default.scss */
.default-bg .meta-type .glyphicon {
  color: #999;
}
/* line 151, ../../app/styles/theme-default.scss */
.default-bg .meta-type .active {
  /*border:1px solid #999;*/
  color: #2c95dd;
}
/* line 155, ../../app/styles/theme-default.scss */
.default-bg .meta-type span.meta-table-icon {
  color: #999;
}
/* line 158, ../../app/styles/theme-default.scss */
.default-bg .meta-type span.meta-graph-icon {
  color: #999;
}
/* line 163, ../../app/styles/theme-default.scss */
.default-bg .table-data .search-icon {
  color: #887979;
}
/* line 166, ../../app/styles/theme-default.scss */
.default-bg .table-data input, .default-bg .table-data input:hover, .default-bg .table-data input:active {
  color: #000;
  border: 1px solid #9e9c9c;
  outline: none;
}
/* line 171, ../../app/styles/theme-default.scss */
.default-bg .table-data .close-icon {
  color: #000;
}
/* line 175, ../../app/styles/theme-default.scss */
.default-bg .table-data .meta-list tr {
  border-left: 2px solid #f5f5f6;
  border-right: 2px solid #f5f5f6;
}
/* line 179, ../../app/styles/theme-default.scss */
.default-bg .table-data .meta-list th, .default-bg .table-data .meta-list td {
  border-left: none;
  border-right: none;
}
/* line 186, ../../app/styles/theme-default.scss */
.default-bg .graph-container {
  /*border-top: 1px solid lightgrey;*/
}
/* line 190, ../../app/styles/theme-default.scss */
.default-bg .meta-type span.meta-table-icon, .default-bg .meta-type span.meta-graph-icon {
  color: #999;
}
/* line 193, ../../app/styles/theme-default.scss */
.default-bg .meta-type span.meta-table-icon-active, .default-bg .meta-type span.meta-graph-icon-active {
  color: #2c95dd;
}
/* line 197, ../../app/styles/theme-default.scss */
.default-bg #d3d button {
  color: #FFF;
}
/* line 200, ../../app/styles/theme-default.scss */
.default-bg .tooltip.top .tooltip-arrow {
  border-top-color: #000;
}
/* line 203, ../../app/styles/theme-default.scss */
.default-bg .tooltip.bottom .tooltip-arrow {
  border-bottom-color: #000;
}
/* line 206, ../../app/styles/theme-default.scss */
.default-bg .tooltip.right .tooltip-arrow {
  border-right-color: #000;
}
/* line 209, ../../app/styles/theme-default.scss */
.default-bg .tooltip.left .tooltip-arrow {
  border-left-color: #000;
}
/* line 212, ../../app/styles/theme-default.scss */
.default-bg .tooltip-inner {
  background-color: #000;
  color: #FFF;
}
/* line 216, ../../app/styles/theme-default.scss */
.default-bg .detailed-view-icon {
  background: url(../images/grid-view-dark.png);
  background-repeat: no-repeat;
  width: 20px;
  height: 16px;
  display: table;
}
/* line 223, ../../app/styles/theme-default.scss */
.default-bg .grid-view-icon {
  background: url(../images/grid-view-dark.png);
  background-repeat: no-repeat;
  width: 20px;
  height: 16px;
  display: table;
}
/* line 230, ../../app/styles/theme-default.scss */
.default-bg .list-view-icon {
  background: url(../images/list-view-dark.png);
  background-repeat: no-repeat;
  width: 20px;
  height: 16px;
  display: table;
}
/* line 237, ../../app/styles/theme-default.scss */
.default-bg .report-collapse-icon {
  background: url(/images/arrow_close_report.png);
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center;
}
/* line 243, ../../app/styles/theme-default.scss */
.default-bg .report-expand-icon {
  background: url(/images/arrow_open_report.png);
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center;
}
/* line 249, ../../app/styles/theme-default.scss */
.default-bg .report-sort-arrow-down {
  background: url(/images/move-down.png);
  background-repeat: no-repeat;
  background-size: 90%;
}
/* line 254, ../../app/styles/theme-default.scss */
.default-bg .report-sort-arrow-up {
  background: url(/images/move-up.png);
  background-repeat: no-repeat;
  background-size: 90%;
}

/* line 261, ../../app/styles/theme-default.scss */
.black-bg {
  background-color: #1F1F1F;
  padding-top: 0px;
  color: #FFF;
}
/* line 266, ../../app/styles/theme-default.scss */
.black-bg .ibox-title .dashed-box {
  background: linear-gradient(0deg, transparent 49%, #f5eeee 50%, transparent 52%) !important;
}
/* line 269, ../../app/styles/theme-default.scss */
.black-bg .ibox-title h5 {
  color: #FFF;
  background: #1F1F1F;
}
/* line 274, ../../app/styles/theme-default.scss */
.black-bg .container-fluid {
  /*        .panel-footer {
              background: #333;
          }*/
}
/* line 279, ../../app/styles/theme-default.scss */
.black-bg .container-fluid .report-tile .favorite-button {
  background: url(../images/icon-favourites-stroke-white.png);
  outline: none;
}
/* line 282, ../../app/styles/theme-default.scss */
.black-bg .container-fluid .report-tile .favorite-button.favorite-selected {
  background: url(../images/icon-favourite-selected.png);
  outline: none;
}
/* line 287, ../../app/styles/theme-default.scss */
.black-bg .container-fluid .report-tile .open-exteranl {
  background-image: url("../images/icon-opennewtab-white.png");
  outline: none;
}
/* line 293, ../../app/styles/theme-default.scss */
.black-bg .panel {
  border: 1px solid #1F1F1F;
  border-bottom: 3px solid #1F1F1F;
  border-radius: 4px;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
}
/* line 301, ../../app/styles/theme-default.scss */
.black-bg .reports-box .image-container {
  background: #333;
}
/* line 305, ../../app/styles/theme-default.scss */
.black-bg .tiles-list-view {
  /*        .wrap-reportname {
              background: #333;
              font-size: 15px;
              padding-top: 6px;
              padding-bottom: 6px;
          }*/
}
/* line 306, ../../app/styles/theme-default.scss */
.black-bg .tiles-list-view .panel {
  border: none;
  border-bottom: none;
  border-radius: 0;
  box-shadow: none;
  background: #333;
}
/* line 313, ../../app/styles/theme-default.scss */
.black-bg .tiles-list-view .single-tile {
  background: #333;
  margin: 1px 0px;
  padding: 3px;
}
/* line 319, ../../app/styles/theme-default.scss */
.black-bg .tiles-list-view .report-tile:nth-child(even) {
  background-color: #333;
}
/* line 321, ../../app/styles/theme-default.scss */
.black-bg .tiles-list-view .report-tile:nth-child(even) .wrap-reportname {
  background-color: #333;
}
/* line 326, ../../app/styles/theme-default.scss */
.black-bg .tiles-list-view .reports-box .wrap-reportname {
  background: #333;
}
/* line 329, ../../app/styles/theme-default.scss */
.black-bg .tiles-list-view .panel-footer {
  background: #333;
}
/* line 339, ../../app/styles/theme-default.scss */
.black-bg .list-unstyled li:nth-child(even) {
  background-color: #333333;
}
/* line 342, ../../app/styles/theme-default.scss */
.black-bg .report-container tr:nth-child(even) {
  background: #333333;
}
/* line 345, ../../app/styles/theme-default.scss */
.black-bg .table-hover > tbody > tr:hover {
  /* background-color: #E8E8E8; */
}
/* line 348, ../../app/styles/theme-default.scss */
.black-bg hr {
  border-top: 1px solid #eeeeee;
}
/* line 351, ../../app/styles/theme-default.scss */
.black-bg .background-box {
  background: #333;
  padding: 10px;
  clear: both;
  margin-bottom: 10px;
  margin-top: 10px;
}
/* line 357, ../../app/styles/theme-default.scss */
.black-bg .background-box tr {
  border-top: 2px solid #1F1F1F;
  border-bottom: 2px solid #1F1F1F;
}
/* line 361, ../../app/styles/theme-default.scss */
.black-bg .background-box tr:nth-child(even) {
  background: #333;
}
/* line 364, ../../app/styles/theme-default.scss */
.black-bg .background-box li {
  border-bottom: 2px solid #1F1F1F;
}
/* line 367, ../../app/styles/theme-default.scss */
.black-bg .background-box li:last-child {
  border-bottom: none;
}
/* line 370, ../../app/styles/theme-default.scss */
.black-bg .background-box li:nth-child(even) {
  background-color: #333;
}
/* line 374, ../../app/styles/theme-default.scss */
.black-bg .btn {
  color: #FFF;
}
/* line 377, ../../app/styles/theme-default.scss */
.black-bg .btn.bordered {
  border: 1px solid #FFF;
}
/* line 380, ../../app/styles/theme-default.scss */
.black-bg .image-container {
  padding: 0;
}
/* line 383, ../../app/styles/theme-default.scss */
.black-bg .panel-footer {
  background: #333;
}
/* line 386, ../../app/styles/theme-default.scss */
.black-bg .pagination {
  color: #000;
}
/* line 391, ../../app/styles/theme-default.scss */
.black-bg .table-data .meta-list thead > tr > th {
  background-color: #999;
}
/* line 394, ../../app/styles/theme-default.scss */
.black-bg .table-data .meta-list tr {
  border-left: 2px solid #1F1F1F;
  border-right: 2px solid #1F1F1F;
}
/* line 398, ../../app/styles/theme-default.scss */
.black-bg .table-data .meta-list th, .black-bg .table-data .meta-list td {
  border-left: none;
  border-right: none;
}
/* line 402, ../../app/styles/theme-default.scss */
.black-bg .table-data .meta-list tr:nth-of-type(odd) {
  background-color: #6f6e6e;
}
/* line 406, ../../app/styles/theme-default.scss */
.black-bg .table-data .search-icon {
  color: #ded9d0;
}
/* line 409, ../../app/styles/theme-default.scss */
.black-bg .table-data input, .black-bg .table-data input:hover, .black-bg .table-data input:active {
  background-color: #4F4F4F;
  color: #FFF;
  outline: none;
}
/* line 414, ../../app/styles/theme-default.scss */
.black-bg .table-data .close-icon {
  color: #FFF;
  background: url(/images/cancel.png) 0% 0%/65% no-repeat !important;
}
/* line 418, ../../app/styles/theme-default.scss */
.black-bg .table-data .pagination li a {
  background-color: #DDD;
  border-color: #333;
}
/* line 424, ../../app/styles/theme-default.scss */
.black-bg .meta-type span.meta-table-icon, .black-bg .meta-type span.meta-graph-icon {
  color: #FFF;
}
/* line 427, ../../app/styles/theme-default.scss */
.black-bg .meta-type span.meta-table-icon-active, .black-bg .meta-type span.meta-graph-icon-active {
  color: #2c95dd;
}
/* line 431, ../../app/styles/theme-default.scss */
.black-bg #d3d {
  color: #333;
}
/* line 434, ../../app/styles/theme-default.scss */
.black-bg .tooltip.top .tooltip-arrow {
  border-top-color: #FFF;
}
/* line 437, ../../app/styles/theme-default.scss */
.black-bg .tooltip.bottom .tooltip-arrow {
  border-bottom-color: #FFF;
}
/* line 440, ../../app/styles/theme-default.scss */
.black-bg .tooltip.right .tooltip-arrow {
  border-right-color: #FFF;
}
/* line 443, ../../app/styles/theme-default.scss */
.black-bg .tooltip.left .tooltip-arrow {
  border-left-color: #FFF;
}
/* line 446, ../../app/styles/theme-default.scss */
.black-bg .tooltip-inner {
  background-color: #FFF;
  color: #000;
}
/* line 450, ../../app/styles/theme-default.scss */
.black-bg .persona-dropDown {
  color: #FFF;
  background: #333;
}
/* line 454, ../../app/styles/theme-default.scss */
.black-bg .detailed-view-icon {
  background: url(../images/grid-view-white.png);
  background-repeat: no-repeat;
  width: 20px;
  height: 16px;
  display: table;
}
/* line 461, ../../app/styles/theme-default.scss */
.black-bg .grid-view-icon {
  background: url(../images/grid-view-white.png);
  background-repeat: no-repeat;
  width: 20px;
  height: 16px;
  display: table;
}
/* line 468, ../../app/styles/theme-default.scss */
.black-bg .list-view-icon {
  background: url(../images/list-view-white.png);
  background-repeat: no-repeat;
  width: 20px;
  height: 16px;
  display: table;
}
/* line 475, ../../app/styles/theme-default.scss */
.black-bg .report-collapse-icon {
  background: url(/images/arrow_close_report-white.png);
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center;
}
/* line 481, ../../app/styles/theme-default.scss */
.black-bg .report-expand-icon {
  background: url(/images/arrow_open_report-white.png);
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center;
}
/* line 487, ../../app/styles/theme-default.scss */
.black-bg .report-sort-arrow-down {
  background: url(/images/move-down-white.png);
  background-repeat: no-repeat;
  background-size: 90%;
}
/* line 492, ../../app/styles/theme-default.scss */
.black-bg .report-sort-arrow-up {
  background: url(/images/move-up-white.png);
  background-repeat: no-repeat;
  background-size: 90%;
}

/* line 499, ../../app/styles/theme-default.scss */
.black-theme #wrapper, .default-theme #wrapper {
  background: #2C2C2C !important;
}

/* line 503, ../../app/styles/theme-default.scss */
.black-wrapper, .default-wrapper {
  background: #333 !important;
}

/* line 507, ../../app/styles/theme-default.scss */
.white-theme #wrapper {
  background: #E8E8E8 !important;
}
/* line 509, ../../app/styles/theme-default.scss */
.white-theme #wrapper .navbar-default {
  background: #E8E8E8 !important;
}
/* line 511, ../../app/styles/theme-default.scss */
.white-theme #wrapper .navbar-default .nav > li {
  background-color: #E8E8E8 !important;
}
/* line 513, ../../app/styles/theme-default.scss */
.white-theme #wrapper .navbar-default .nav > li a {
  color: #000 !important;
}
/* line 518, ../../app/styles/theme-default.scss */
.white-theme #wrapper #side-menu li:hover {
  background: #2c6790 !important;
}
/* line 522, ../../app/styles/theme-default.scss */
.white-theme #wrapper #side-menu li.reports:hover .tree-view ul li:hover {
  background: #E8E8E8 !important;
}
/* line 528, ../../app/styles/theme-default.scss */
.white-theme .nav > li:hover.active div[data-angular-treeview] {
  background-color: #E8E8E8 !important;
  outline-color: #E8E8E8;
}
/* line 531, ../../app/styles/theme-default.scss */
.white-theme .nav > li:hover.active div[data-angular-treeview] ul {
  outline-color: #E8E8E8;
}
/* line 534, ../../app/styles/theme-default.scss */
.white-theme .nav > li:hover.active div[data-angular-treeview] ul li:hover {
  background: #E8E8E8 !important;
}
/* line 538, ../../app/styles/theme-default.scss */
.white-theme .nav > li:hover.active div[data-angular-treeview] ul li a:hover {
  text-decoration: underline;
}
/* line 541, ../../app/styles/theme-default.scss */
.white-theme .nav > li:hover.active div[data-angular-treeview] ul li a span:hover {
  text-decoration: underline;
}

/* line 548, ../../app/styles/theme-default.scss */
.white-portal-name {
  color: #333 !important;
}

/* line 551, ../../app/styles/theme-default.scss */
.default-portal-name, .black-portal-name {
  color: #ffffff;
}