<!doctype html>
<html class="no-js">
<head>
    <meta charset="utf-8">
    <title>Insights</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta http-equiv="cache-control" content="max-age=0" />
    <meta http-equiv="cache-control" content="no-cache" />
    <meta http-equiv="expires" content="0" />
    <meta http-equiv="expires" content="Thu, 30 Jun 2016 1:00:00 GMT" />
    <meta http-equiv='cache-control' content='no-cache'>
    <meta http-equiv="pragma" content="no-cache" />
    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
    <!-- build:css(.) styles/vendor.css -->
    <!-- bower:css -->
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css" />
    <link rel="stylesheet" href="bower_components/angular-ui-grid/ui-grid.css" />
    <link rel="stylesheet" href="bower_components/angular-ui-select/dist/select.css" />
    <!-- endbower -->
    <!-- endbuild -->
    <!-- build:css(.tmp) styles/main.css -->
    <link rel="stylesheet" href="bower_components/ngprogress/ngProgress.css">
    <link rel="stylesheet" href="styles/main.css">
    <link rel="stylesheet" href="styles/theme-default.css">
    <!-- endbuild -->
    <style>
    #grayblackground {
        position: fixed;
        top: 0;
        left: 0;
        bottom: 0;
        height:100%;
        width:100%;
        cursor: not-allowed;
        filter: alpha(opacity=60);
        opacity: 0.6;
        background-color: #000000;
        z-index: 9999;
    }
    #loadingIcon {
        position: absolute;
        top:200px;
        width:100%;
        text-align: center;
        font-size: 4em;
        color:white;
        text-shadow: 2px 2px 2px #021124;
        z-index: 9999;
    }
    </style>
</head>
<body ng-app="adminPageApp" ng-controller="RootCtrl" ng-class="{'mini-navbar':toggleLeft}">
<!--[if lt IE 7]>
<p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
<![endif]-->

<!-- Add your site or application content here -->
<header id="header">    
    <div class="container">
        <div class="row visible-md visible-lg visible-sm hidden-xs v-offset-bottom-15px">
            <div class="navbar-brand col-md-3 col-lg-3 col-sm-3">
                <a class="navbar-minimalize">
                    <!--span class="emc-logo">x</span -->
                    <span class="glyphicon glyphicon-menu-hamburger" ng-hide="true"></span>
                </a>
                <a href="../" style="display:inline-table; width:30px;">
                    <!--span class="emc-logo">x</span -->
                    <img class="logo"  src="images/EMCLogo.png"/>
                    <span ng-show="!toggleLeft" class="portal-name" id="insights">INSIGHTS</span>
                </a>
            </div>
            <div class="col-md-6 col-lg-6 col-sm-6">
                <form ng-submit="submitSearch(state.current.name)"  ng-show="state.current.name !== 'notauth' && state.current.name !== 'administration.list.recommended'">
                    <div class="input-group top-search">
                        <input type="text" class="form-control" ng-model="searchText" placeholder="Search for..." autocomplete="off">
                        <!-- add ng-show="searchText.length < 1"-->
                        <span class="input-group-addon globle-search-icon">
                            <button type="submit">
                                <span class="glyphicon glyphicon-search"></span>
                            </button>  
                        </span>
                    </div><!-- /input-group -->
                </form>
            </div>
            <div class="col-md-3 col-lg-3 col-sm-3">
                <div class="row">
                    <span class="header-right pull-right" ng-show="userObject.userFullName != ''">
                        <!--  userObject.userinfo.role.toLowerCase() === 'admin' || userObject.userinfo.role.toLowerCase() === 'buadmin' -->
                        <a ng-show="userObject.userinfo.role.toLowerCase() === 'admin' || userObject.userinfo.role.toLowerCase() === 'buadmin'" data-toggle="dropdown" class="dropdown-toggle" href="javascript:void(0)">
                            <div class="top-header-title">
                                <span class="pull-left">
                                    <img alt="image" class="usr-image" ng-src="{{userPicUrl}}" err-src="images/charts/default_user.png">
                                </span>
                                <span>
                                    <div ng-bind="userObject.userFullName"></div>
                                    <div class="profile-progress-small">
                                        <div class="progress">
                                            <div class="progress-bar" role="progressbar" aria-valuenow="70"
                                                 aria-valuemin="0" aria-valuemax="100" ng-style="{width:badge}">
                                            </div>
                                        </div>
                                    </div>
                                </span>
                            </div>

                            <div class="top-header-caret">
                                <b class="caret"></b>
                            </div>
                        </a>

                        <!-- userObject.userinfo.role.toLowerCase() !== 'admin' && userObject.userinfo.role.toLowerCase() !== 'buadmin' -->
                        <a ng-show="userObject.userinfo.role.toLowerCase() !== 'admin' && userObject.userinfo.role.toLowerCase() !== 'buadmin'" ui-sref="profile"> 
                            <span>
                                <img alt="image" class="usr-image" ng-src="{{userPicUrl}}" err-src="images/charts/default_user.png">
                            </span>
                            <span>
                                <div ng-bind="userObject.userFullName"></div>
                                <div class="profile-progress-small">
                                    <div class="progress">
                                        <div class="progress-bar" role="progressbar" aria-valuenow="70"
                                             aria-valuemin="0" aria-valuemax="100" style="{{badge}}">
                                        </div>
                                    </div>
                                </div>
                            </span>
                        </a>

                        <ul class="dropdown-menu animated fadeInRight profile-dropdown-menu">
                            <li><a href="../#profile">My Profile</a></li>
                            <li class="divider"></li>
                            <li><a href="#/">Administration</a></li>
                        </ul>
                    </span>
                </div>

            </div>
        </div>
        <div class="row hidden-md hidden-lg hidden-sm visible-xs">
            <div class="col-xs-10 margin-padding-zero ">
                <a class="navbar-brand" href="#/"><img class="logo" src="images/EMCLogo.png" alt="logo"></a> 
                <div class="portal-name">Insights 
                    <span ng-show="showPage" class="xs-report-header"> | Reports
                        <button ng-click="showIcons()" class="reports-type button-icon glyphicon glyphicon-th-large"></button>
                        <button ng-click="hideIcons()" class="button-icon glyphicon glyphicon-th-list"></button>
                    </span>
                </div>
            </div>
            <div class="col-xs-2 text-right">
                <ul class="nav">
                    <li class="nav-header" ng-show="userObject.userFullName != ''" aria-hidden="false">
                        <div class="dropdown text-center profile-element" title="{{userObject.userFullName}}"> 
                            <a data-toggle="dropdown" class="dropdown-toggle user-icon-nav-header" href="javascript:void(0)" aria-expanded="false">
                                <span><img alt="image" class="img-circle profile-small" ng-src="{{userPicUrl}}" err-src="images/charts/default_user.png"></span>
                            </a>
                        </div>
                        <div class="logo-element">
                            Insights
                        </div>
                    </li>
                </ul>
            </div>
        </div>
        <div class="row hidden-md hidden-lg hidden-sm visible-xs">
            <div class="col-xs-12 glb-search-mob">
                <input class="form-control globle-search-input" type="text" name="mob-search" >
            </div>
        </div>
    </div><!--/.container-->
</header>

<!-- Starts pace-done -->
<div class="pace-done">
    <div id="wrapper">
        <!-- Starts Sidebar navbar -->
        <nav class="navbar-default navbar-static-side" role="navigation">
            <div class="navbar-minimalize" ng-click="toggleLeft = !toggleLeft" ></div>
            <div class="sidebar-collapse row" >
                <div class="col-xs-12 margin-top-md" ng-show="(state.current.name === 'contents' || state.current.name === 'external')  && state.current.name !== 'notauth'">
                    <h4>Content Type</h4>
                    <label>
                        <input type="radio" name="deployedSearch" value="All" ng-model="displayType" checked ng-click="displayContent('All')" />
                        All Contents
                    </label>
                    <label>
                        <input type="radio" name="deployedSearch" value="Deployed" ng-model="displayType" ng-click="displayContent('Deployed')" />
                        Deployed Contents
                    </label>
                </div>
                <div class="col-xs-12 margin-top-md" ng-show="state.current.name === 'administration.list.manageExternal' && state.current.name !== 'notauth'">
                    <h4>Manage Options</h4>
                    <label>
                        <input type="radio" name="externalForm" value="edit" ng-model="displayForm" checked ng-click="showForm('edit')" />
                        Search / Edit a Report
                    </label>
                    <label>
                        <input type="radio" name="externalForm" value="add" ng-model="displayForm" ng-click="showForm('add')" />
                        Add a Report
                    </label>
                </div>
                <div class="col-xs-12 margin-top-md" ng-show="state.current.name === 'contents' && displayType === 'All'">
                    <h4>General Filters</h4>
                </div>
                <div class="col-xs-12" ng-show="state.current.name === 'contents' && displayType === 'All'">
                    <label>Functional Area</label>  
                    <ui-select ng-model="selectedFuncArea.selected" theme="select2" style="width:100%;" on-select="selectedFunctionalArea($item, $model)">
                        <ui-select-match placeholder="Select Functional Area...">{{$select.selected.functionalArea}}</ui-select-match>
                        <ui-select-choices repeat="fa in functionalAreas | filter: {'functionalArea':$select.search}" refresh="refreshFunctionalAreas($select.search)" refresh-delay="0">
                            <div ng-bind-html="fa.functionalArea | highlight: $select.search"></div>
                        </ui-select-choices>
                    </ui-select>
                    <button class="btn btn-primary btn-xs" ng-style="{'visibility': selectedFuncArea.selected?'visible':'hidden'}" ng-click="clearFilter('func')">clear</button>
                </div>
                <div class="col-xs-12" ng-show="state.current.name === 'contents' && displayType === 'All'">  
                    <label>Source System</label>
                    <ui-select ng-model="selectedSourceSystem.selected" theme="select2" style="width:100%;" on-select="changeSourceSystem($item, $model)">
                        <ui-select-match placeholder="Select Source System...">{{$select.selected.sourceSystem}}</ui-select-match>
                        <ui-select-choices repeat="fa in sourceSystems | filter: {'sourceSystem':$select.search}" refresh="refreshSourceSystems($select.search)" refresh-delay="0">
                            <div ng-bind-html="fa.sourceSystem | highlight: $select.search"></div>
                        </ui-select-choices>
                    </ui-select>
                    <button class="btn btn-primary btn-xs" ng-style="{'visibility': selectedSourceSystem.selected?'visible':'hidden'}" ng-click="clearFilter('source')">clear</button>
                </div>
                <div class="col-xs-12" ng-show="state.current.name === 'contents' && displayType === 'All'">  
                    <label>Report Type</label>
                    <ui-select ng-model="selectedReportType.selected" theme="select2" style="width:100%;" on-select="changeReportType($item, $model)">
                        <ui-select-match placeholder="Select Report Type...">{{$select.selected.reportType}}</ui-select-match>
                        <ui-select-choices repeat="fa in reportTypes | filter: {'reportType':$select.search}" refresh="refreshReportTypes($select.search)"
                                           refresh-delay="0">
                            <div ng-bind-html="fa.reportType | highlight: $select.search"></div>
                        </ui-select-choices>
                    </ui-select>
                    <button class="btn btn-primary btn-xs" ng-style="{'visibility': selectedReportType.selected?'visible':'hidden'}" ng-click="clearFilter('report')">clear</button>
                </div>
                <div class="col-xs-12" ng-hide="state.current.name !== 'administration.list.audit' && state.current.name !== 'administration.list.communication' && state.current.name !== 'administration.list.users'">
                    <label>Persona
                        <select class="form-control" ng-model="selectedAuditGroup" ng-change="changeAuditGroup()">
                            <option value=''></option>
                            <option ng-repeat="fa in auditGroups" value="{{fa.groupId}}">{{fa.groupName}}</option>
                        </select>
                    </label>
                </div>
                <div class="col-xs-12" ng-hide="state.current.name !== 'administration.list.recommended'">
                    <label>Persona
                        <select class="form-control" ng-model="selectedUserGroup" ng-change="changeUserGroup()" ng-options="group.groupId as group.groupName for group in userGroup"></select>
                    </label>
                </div>
                <div class="col-xs-12" ng-show="(state.current.name === 'contents' || state.current.name === 'external') && displayType === 'Deployed'">
                    <label>Persona
                        <select class="form-control" ng-model="selectedReportGroup" ng-change="changeReportGroup()">
                            <option value=''></option>
                            <option ng-repeat="group in reportGroup" value="{{group.groupId}}">{{group.groupName}}</option>
                        </select>
                    </label>
                </div>
            </div>
        </nav>
        <!-- Ends Sidebar navbar -->
        <!-- Starts page-wrapper -->
        <div id="page-wrapper" class="white-bg dashbard-1" >
            <div class="row border-bottom gray-bg">
                <nav class="navbar navbar-static-top picture-bg nav-header-height" role="navigation" style="margin-bottom: 0">
                    <div class="navbar-header">
                        <ul class="main-content-header">
                            <li class="recommended-header-icon">
                                <h2>
                                    <a class="btn dropdown-toggle nav-select-dropdown" data-toggle="dropdown" href="javascript:;">
                                        <span ng-show="state.current.name === 'contents'|| state.current.name === 'external'">Content</span>
                                        <span ng-hide="state.current.name === 'contents'|| state.current.name === 'external'">Administration</span>
                                        <span class="caret"></span>
                                    </a>
                                    <ul class="dropdown-menu">
                                        <li><a ui-sref="contents">Content</a></li>
                                        <li><a ui-sref="administration.list">Administration</a></li>
                                    </ul>
                                </h2>
                                <span ng-hide="state.current.name === 'notauth'">
                                    <ul class="submenu-list-admin">
                                        <li ui-sref-active="active" ng-show="state.current.name === 'contents'|| state.current.name === 'external'">
                                            <a ui-sref="contents">Enterprise </a>
                                        </li>

                                        <li ui-sref-active="active" ng-show="state.current.name === 'contents'|| state.current.name === 'external'">
                                            <a ui-sref="external">External </a>
                                        </li>
                                        <li ui-sref-active="active" ng-hide="userObject.userinfo.role.toLowerCase() === 'buadmin' || (state.current.name === 'contents' || state.current.name === 'external')">
                                            <a ui-sref="administration.list.news">News </a>
                                        </li>

                                        <li ui-sref-active="active" ng-hide="state.current.name === 'contents' || state.current.name === 'external'">
                                            <a ui-sref="administration.list.communication">Communication </a>
                                        </li> 

                                        <li ui-sref-active="active" ng-hide="userObject.userinfo.role.toLowerCase() === 'buadmin' || (state.current.name === 'contents' || state.current.name === 'external')">
                                            <a ui-sref="administration.list.groups">Persona </a>
                                        </li> 

                                        <li ui-sref-active="active" ng-hide="userObject.userinfo.role.toLowerCase() === 'buadmin' || (state.current.name === 'contents' || state.current.name === 'external')">
                                            <a ui-sref="administration.list.levels">Level  </a>
                                        </li> 

                                        <li ui-sref-active="active" ng-hide="state.current.name === 'contents' || state.current.name === 'external'">
                                            <a ui-sref="administration.list.users">Users  </a>
                                        </li>
                                        <li ui-sref-active="active" ng-hide="state.current.name === 'contents' || state.current.name === 'external'">
                                            <a ui-sref="administration.list.audit">Audit</a>
                                        </li>
                                        <li ui-sref-active="active" ng-hide="state.current.name === 'contents' || state.current.name === 'external'">
                                            <a ui-sref="administration.list.recommended">Recommended Reports</a>
                                        </li>
                                        <li ui-sref-active="active" ng-hide="state.current.name === 'contents' || state.current.name === 'external'">
                                            <a ui-sref="administration.list.manageExternal">Manage External Content</a>
                                        </li>                                 
                                    </ul>
                                </span>
                            </li>
                        </ul>
                    </div>  
                </nav>
            </div>
            <!-- main content -->
            <div class="row">
                <div class="col-md-12">
                    <div class="wrapper wrapper-content" ui-view></div>
                </div>
            </div>
            <div class="row footer-row">
                <div class="footer">
                    <div class="visible-md visible-lg hidden-sm hidden-xs">
                        <a href="../#/faq">FAQ</a> | <a target="_blank" href="../doc/Insights%20BUAdmin%20Documentation.pdf">Help</a> | <a href="mailto:insights.portal.help@emc.com">Contact</a>
                    </div>
                </div>
            </div>
            <!-- end main content -->
        </div>
        <!-- End page-wrapper-->
    </div>
</div>
<!-- Ends pace-done -->

<!-- Here's some values to keep an eye on in the sample in order to understand $state and $stateParams -->

<!--pre>
$state = {{$state.current.name}}
$stateParams = {{$stateParams}}
$state full url = {{ $state.$current.url.source }}
{{isLoading}}
</pre -->
<!-- $state.$current is not a public api, we are using it to
display the full url for learning purposes-->

    <div id="grayblackground" ng-show="isLoading"></div>
    <div id="loadingIcon" ng-show="isLoading">Loading...</div>

    <!-- build:js(.) scripts/vendor.js -->
    <!-- bower:js -->
    <script src="bower_components/jquery/dist/jquery.js"></script>
    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/bootstrap/dist/js/bootstrap.js"></script>
    <script src="bower_components/angular-animate/angular-animate.js"></script>
    <script src="bower_components/angular-cookies/angular-cookies.js"></script>
    <script src="bower_components/angular-resource/angular-resource.js"></script>
    <script src="bower_components/angular-route/angular-route.js"></script>
    <script src="bower_components/angular-sanitize/angular-sanitize.js"></script>
    <script src="bower_components/angular-touch/angular-touch.js"></script>
    <script src="bower_components/angular-ui-grid/ui-grid.js"></script>
    <script src="bower_components/angular-bootstrap/ui-bootstrap-tpls.js"></script>
    <script src="bower_components/underscore/underscore.js"></script>
    <script src="bower_components/angular-mocks/angular-mocks.js"></script>
    <script src="bower_components/angular-ui-router/release/angular-ui-router.js"></script>
    <script src="bower_components/angular-ui-select/dist/select.js"></script>
    <script src="bower_components/ngprogress/build/ngprogress.min.js"></script>
    <!-- endbower -->
    <!-- endbuild -->

    <!-- build:js({.tmp,app}) scripts/scripts.js -->
    <script src="scripts/app.js"></script>
    <script src="scripts/app-run.js"></script>
    <script src="scripts/controllers/aboutController.js"></script>
    <script src="scripts/services/aboutService.js"></script>
    <script src="scripts/controllers/modal.js"></script>
    <script src="scripts/controllers/root.js"></script>
    <script src="scripts/services/webserviceurl.js"></script>
    <script src="scripts/services/commonservice.js"></script>
    <script src="scripts/services/userdetailsservice.js"></script>
    <script src="scripts/controllers/BICommunication.js"></script>
    <script src="scripts/controllers/BINews.js"></script>
    <script src="scripts/controllers/deleteModal.js"></script>
    <script src="scripts/controllers/Groups.js"></script>
    <script src="scripts/controllers/Levels.js"></script>
    <script src="scripts/controllers/Users.js"></script>
    <script src="scripts/controllers/audit.js"></script>
    <script src="scripts/controllers/recommend.js"></script>
    <script src="scripts/controllers/external.js"></script>
    <script src="scripts/controllers/manageExternal.js"></script>
    <script src="scripts/controllers/modalExternal.js"></script>
    <script src="scripts/directives/ngfiles.js"></script>
    <script src="scripts/directives/validFile.js"></script>
    <script src="scripts/directives/dropdownMultiselect.js"></script>
    <!-- endbuild -->
</body>
</html>