/* line 1, ../../app/styles/_header.scss */
body {
  /*background: #fff;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  color: #64686d;*/
  line-height: 26px;
  background: #fff;
  font-family: 'MetaWeb-Normal';
  font-weight: 400;
  color: #64686d;
}

/* line 12, ../../app/styles/_header.scss */
.logo {
  margin-top: -15px;
  height: 90px;
}

/* line 16, ../../app/styles/_header.scss */
a {
  text-decoration: none;
}

@media (min-width: 1200px) {
  /* line 20, ../../app/styles/_header.scss */
  .container {
    width: 100%;
  }
}
/* line 24, ../../app/styles/_header.scss */
.form-control {
  box-shadow: none;
  -webkit-box-shadow: none;
  font-family: arial;
}

/* line 29, ../../app/styles/_header.scss */
.usr-image {
  border-radius: 32px;
  width: 38px;
  height: 38px;
  border: none;
  margin-right: 5px;
}

/* line 36, ../../app/styles/_header.scss */
#header {
  background-color: #4e5052;
  position: relative;
  z-index: 999;
}

/* line 41, ../../app/styles/_header.scss */
.header-right {
  /* border: 0;
  height: 46px;
  padding: 4px;
  margin: 10px 10px 0;
  background-color: none;
  width: 210px;*/
  border: 0;
  width: 100%;
  text-align: right;
  text-overflow: ellipsis;
  margin-top: 17px;
  margin-right: 20px;
}

/* line 55, ../../app/styles/_header.scss */
.header-right > a {
  color: #ffffff;
  font-size: 13px;
  line-height: 28px;
  min-height: 38px;
  font-weight: normal;
  display: inline-flex;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
/* line 65, ../../app/styles/_header.scss */
.header-right > a .top-header-title {
  display: inline-flex;
  width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  padding-right: 5px;
  white-space: nowrap;
  float: left;
}
/* line 74, ../../app/styles/_header.scss */
.header-right > a .top-header-caret {
  display: inline-table;
  width: 9%;
  line-height: 38px;
}

/* line 80, ../../app/styles/_header.scss */
span.input-group-addon {
  background: #333332;
  color: #fff;
  border: none;
}

/* line 85, ../../app/styles/_header.scss */
.top-search {
  margin: 20px 0 0;
  width: 70%;
  background-color: #7D7D7D !important;
  border-radius: 32px 32px 32px 32px !important;
}
/* line 90, ../../app/styles/_header.scss */
.top-search input[type="text"] {
  border-radius: 32px 0 0 32px !important;
  border: none !important;
  background-color: #7D7D7D !important;
  height: 30px !important;
  color: #fff;
  cursor: default;
  width: 94%;
}
/* line 99, ../../app/styles/_header.scss */
.top-search .globle-search-icon {
  border-radius: 0px 32px 32px 0px !important;
  border: none !important;
  background-color: #333332 !important;
  height: 30px !important;
  color: #fff;
  position: relative;
  cursor: default;
}

/* line 110, ../../app/styles/_header.scss */
.profile-progress-small .progress {
  margin-bottom: 5px;
  height: 5px;
  border-radius: 0;
}

/* line 117, ../../app/styles/_header.scss */
#imaginary_container {
  margin: 3% 5%;
}

/* line 120, ../../app/styles/_header.scss */
.globle-search-icon {
  border-top-right-radius: 4px !important;
  border-bottom-right-radius: 4px !important;
}
/* line 121, ../../app/styles/_header.scss */
.globle-search-icon button {
  border: 0;
  background-color: transparent;
  color: #FFF;
}

/* line 129, ../../app/styles/_header.scss */
.globle-search-input {
  border-right: 0;
  color: #DFE4ED;
}

@media (min-width: 300px) and (max-width: 768px) {
  /* line 134, ../../app/styles/_header.scss */
  .portal-name {
    font-size: 12px !important;
    margin-top: 15px !important;
  }

  /* line 138, ../../app/styles/_header.scss */
  .navbar-brand {
    padding-top: 2px !important;
    padding-left: 2px !important;
    margin-left: 2px !important;
    padding-right: 2px !important;
  }

  /* line 144, ../../app/styles/_header.scss */
  img.logo {
    height: 60px;
    padding-top: 20px;
    margin-right: 5px;
  }

  /* line 149, ../../app/styles/_header.scss */
  .margin-padding-zero {
    margin-left: 0px !important;
    padding-left: 0px !important;
  }

  /* line 153, ../../app/styles/_header.scss */
  .nav-header {
    padding: 3px !important;
  }

  /* line 156, ../../app/styles/_header.scss */
  .metismenu {
    left: -145px !important;
  }

  /* line 159, ../../app/styles/_header.scss */
  .profile-small {
    height: 35px;
    margin-top: 5px;
    margin-right: 0px;
  }

  /* line 164, ../../app/styles/_header.scss */
  .globle-search-input {
    border-right: 0;
    color: #2C95DD;
  }

  /* line 168, ../../app/styles/_header.scss */
  #header {
    margin-bottom: 10px !important;
  }

  /* line 171, ../../app/styles/_header.scss */
  .xs-report-header {
    font-family: arial;
  }

  /* line 174, ../../app/styles/_header.scss */
  .button-icon {
    padding: 4px !important;
    margin: 4px 0px !important;
    color: #333333;
  }

  /* line 179, ../../app/styles/_header.scss */
  .glb-search-mob {
    background-color: #333;
    padding: 10px 10px 0px 10px;
  }
}
@media (min-width: 300px) and (max-width: 374px) {
  /* line 185, ../../app/styles/_header.scss */
  .portal-name {
    font-size: 8px !important;
    margin-top: 15px !important;
  }

  /* line 189, ../../app/styles/_header.scss */
  .profile-small {
    height: 30px;
    margin-left: -5px;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  /* line 196, ../../app/styles/_header.scss */
  .container {
    width: 100%;
  }

  /* line 199, ../../app/styles/_header.scss */
  .portal-name {
    font-size: 18px !important;
    margin-top: 15px !important;
  }

  /* line 203, ../../app/styles/_header.scss */
  .navbar-brand {
    padding-top: 5px !important;
    padding-left: 0px !important;
    margin-left: 0px !important;
    padding-right: 5px !important;
  }

  /* line 209, ../../app/styles/_header.scss */
  img.logo {
    height: 65px;
    padding-top: 0px;
    margin-right: 5px;
    margin-top: -5px;
  }

  /* line 215, ../../app/styles/_header.scss */
  .margin-padding-zero {
    margin-left: 0px !important;
    padding-left: 0px !important;
  }

  /* line 219, ../../app/styles/_header.scss */
  .usr-image {
    width: 30px;
    height: 30px;
  }

  /* line 223, ../../app/styles/_header.scss */
  .header-right {
    height: 40px;
    padding: 0px;
    margin: 5px;
    width: 175px;
  }

  /* line 229, ../../app/styles/_header.scss */
  .input-group-addon {
    padding: 5px 12px !important;
  }
}
@media (min-width: 992px) and (max-width: 1199px) {
  /* line 234, ../../app/styles/_header.scss */
  .container {
    width: 100%;
  }

  /* line 237, ../../app/styles/_header.scss */
  .portal-name {
    font-size: 25px !important;
  }
}
/* line 241, ../../app/styles/_header.scss */
.profile-dropdown-menu {
  margin-right: 23px;
  top: 68px !important;
  left: 138px !important;
}

/* line 246, ../../app/styles/_header.scss */
.header-menu {
  clear: both;
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}
/* line 252, ../../app/styles/_header.scss */
.header-menu li {
  float: left;
  margin-right: 10px;
}
/* line 256, ../../app/styles/_header.scss */
.header-menu li a {
  display: inline-block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
/* line 264, ../../app/styles/_header.scss */
.header-menu li:hover {
  border-bottom: 4px solid #337ab7;
}
/* line 268, ../../app/styles/_header.scss */
.header-menu li.active {
  border-bottom: 4px solid #337ab7;
}

/* line 272, ../../app/styles/_header.scss */
ul.submenu-list-admin {
  padding: 0;
  padding-left: 5px;
}
/* line 275, ../../app/styles/_header.scss */
ul.submenu-list-admin li {
  display: inline;
  margin-top: 0px;
  margin-bottom: 0px;
  margin-left: 5px;
  margin-right: 40px;
}
/* line 281, ../../app/styles/_header.scss */
ul.submenu-list-admin li a {
  font-family: 'MetaWeb-Normal';
  color: #fff;
  padding: 0px 0px;
  text-decoration: none;
  font-size: 17px;
}
/* line 287, ../../app/styles/_header.scss */
ul.submenu-list-admin li a:hover {
  color: #fff;
}
/* line 292, ../../app/styles/_header.scss */
ul.submenu-list-admin li:hover, ul.submenu-list-admin li.active {
  border-bottom: 4px solid #3396da;
}
/* line 296, ../../app/styles/_header.scss */
ul.submenu-list-admin li:first-child {
  margin-left: 8px;
}
/* line 300, ../../app/styles/_header.scss */
ul.submenu-list-admin li:last-child {
  margin-right: 0px;
}

/* line 305, ../../app/styles/_header.scss */
.urlValidation {
  margin-left: 10px;
  color: red;
}

/* line 309, ../../app/styles/_header.scss */
.close-icon {
  border: none;
  background-color: transparent;
  /* display: inline-block; */
  /* vertical-align: middle; */
  outline: 0;
  cursor: pointer;
  position: absolute;
  color: #FFF;
  top: 6px;
  font-size: 14px;
  border-radius: 32px;
  right: 54px;
  z-index: 2;
  padding: 2px;
}

/*@import "_custom.scss";*/
/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Jan 15, 2016, 2:02:05 PM
    Author     : srimas
*/
/* line 11, ../../app/styles/_BINews.scss */
.updateNews {
  margin-bottom: 10px;
}

/*
Version: 3.4.5 Timestamp: Mon Nov  4 08:22:42 PST 2013
*/
/* line 4, ../../app/styles/_select.scss */
.select2-container {
  margin: 0;
  position: relative;
  display: inline-block;
  /* inline-block for ie7 */
  zoom: 1;
  *display: inline;
  vertical-align: middle;
}

/* line 14, ../../app/styles/_select.scss */
.select2-container,
.select2-drop,
.select2-search,
.select2-search input {
  /*
    Force border-box so that % widths fit the parent
    container without overlap because of margin/padding.

    More Info : http://www.quirksmode.org/css/box.html
  */
  /* webkit */
  /* firefox */
  box-sizing: border-box;
  /* css3 */
}

/* line 29, ../../app/styles/_select.scss */
.select2-container .select2-choice {
  display: block;
  height: 26px;
  padding: 0 0 0 8px;
  overflow: hidden;
  position: relative;
  border: 1px solid #aaa;
  white-space: nowrap;
  line-height: 26px;
  color: #444;
  text-decoration: none;
  border-radius: 4px;
  background-clip: padding-box;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-color: #fff;
  background-image: -moz-linear-gradient(center bottom, #eee 0%, #fff 50%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr = '#ffffff', endColorstr = '#eeeeee', GradientType = 0);
  background-image: linear-gradient(top, #fff 0%, #eee 50%);
}

/* line 60, ../../app/styles/_select.scss */
.select2-container.select2-drop-above .select2-choice {
  border-bottom-color: #aaa;
  border-radius: 0 0 4px 4px;
  background-image: -moz-linear-gradient(center bottom, #eee 0%, #fff 90%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#eeeeee', GradientType=0);
  background-image: linear-gradient(top, #eee 0%, #fff 90%);
}

/* line 72, ../../app/styles/_select.scss */
.select2-container.select2-allowclear .select2-choice .select2-chosen {
  margin-right: 42px;
}

/* line 76, ../../app/styles/_select.scss */
.select2-container .select2-choice > .select2-chosen {
  margin-right: 26px;
  display: block;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

/* line 86, ../../app/styles/_select.scss */
.select2-container .select2-choice abbr {
  display: none;
  width: 12px;
  height: 12px;
  position: absolute;
  right: 24px;
  top: 8px;
  font-size: 1px;
  text-decoration: none;
  border: 0;
  /*background: url('select2.png') right top no-repeat;*/
  cursor: pointer;
  outline: 0;
}

/* line 103, ../../app/styles/_select.scss */
.select2-container.select2-allowclear .select2-choice abbr {
  display: inline-block;
}

/* line 107, ../../app/styles/_select.scss */
.select2-container .select2-choice abbr:hover {
  background-position: right -11px;
  cursor: pointer;
}

/* line 112, ../../app/styles/_select.scss */
.select2-drop-mask {
  border: 0;
  margin: 0;
  padding: 0;
  position: fixed;
  left: 0;
  top: 0;
  min-height: 100%;
  min-width: 100%;
  height: auto;
  width: auto;
  opacity: 0;
  z-index: 9998;
  /* styles required for IE to work */
  background-color: #fff;
  filter: alpha(opacity=0);
}

/* line 130, ../../app/styles/_select.scss */
.select2-drop {
  width: 100%;
  margin-top: -1px;
  position: absolute;
  z-index: 9999;
  top: 100%;
  background: #fff;
  color: #000;
  border: 1px solid #aaa;
  border-top: 0;
  border-radius: 0 0 4px 4px;
  box-shadow: 0 4px 5px rgba(0, 0, 0, 0.15);
}

/* line 148, ../../app/styles/_select.scss */
.select2-drop-auto-width {
  border-top: 1px solid #aaa;
  width: auto;
}

/* line 153, ../../app/styles/_select.scss */
.select2-drop-auto-width .select2-search {
  padding-top: 4px;
}

/* line 157, ../../app/styles/_select.scss */
.select2-drop.select2-drop-above {
  margin-top: 1px;
  border-top: 1px solid #aaa;
  border-bottom: 0;
  border-radius: 4px 4px 0 0;
  box-shadow: 0 -4px 5px rgba(0, 0, 0, 0.15);
}

/* line 168, ../../app/styles/_select.scss */
.select2-drop-active {
  border: 1px solid #5897fb;
  border-top: none;
}

/* line 173, ../../app/styles/_select.scss */
.select2-drop.select2-drop-above.select2-drop-active {
  border-top: 1px solid #5897fb;
}

/* line 177, ../../app/styles/_select.scss */
.select2-container .select2-choice .select2-arrow {
  display: inline-block;
  width: 18px;
  height: 100%;
  position: absolute;
  right: 0;
  top: 0;
  border-left: 1px solid #aaa;
  border-radius: 0 4px 4px 0;
  background-clip: padding-box;
  background: #ccc;
  background-image: -moz-linear-gradient(center bottom, #ccc 0%, #eee 60%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr = '#eeeeee', endColorstr = '#cccccc', GradientType = 0);
  background-image: linear-gradient(top, #ccc 0%, #eee 60%);
}

/* line 198, ../../app/styles/_select.scss */
.select2-container .select2-choice .select2-arrow b {
  display: block;
  width: 100%;
  height: 100%;
  /*background: url('select2.png') no-repeat 0 1px;*/
}

/* line 205, ../../app/styles/_select.scss */
.select2-search {
  display: inline-block;
  width: 100%;
  min-height: 26px;
  margin: 0;
  padding-left: 4px;
  padding-right: 4px;
  position: relative;
  z-index: 10000;
  white-space: nowrap;
}

/* line 219, ../../app/styles/_select.scss */
.select2-search input {
  width: 100%;
  height: auto !important;
  min-height: 26px;
  padding: 4px 20px 4px 5px;
  margin: 0;
  outline: 0;
  font-family: sans-serif;
  font-size: 1em;
  border: 1px solid #aaa;
  border-radius: 0;
  box-shadow: none;
  /*background: #fff url('select2.png') no-repeat 100% -22px;*/
  /*    background: url('select2.png') no-repeat 100% -22px, -webkit-gradient(linear, left bottom, left top, color-stop(0.85, #fff), color-stop(0.99, #eee));
      background: url('select2.png') no-repeat 100% -22px, -webkit-linear-gradient(center bottom, #fff 85%, #eee 99%);
      background: url('select2.png') no-repeat 100% -22px, -moz-linear-gradient(center bottom, #fff 85%, #eee 99%);
      background: url('select2.png') no-repeat 100% -22px, linear-gradient(top, #fff 85%, #eee 99%);*/
}

/* line 243, ../../app/styles/_select.scss */
.select2-drop.select2-drop-above .select2-search input {
  margin-top: 4px;
}

/* line 247, ../../app/styles/_select.scss */
.select2-search input.select2-active {
  background: #fff url("select2-spinner.gif") no-repeat 100%;
  background: url("select2-spinner.gif") no-repeat 100%, linear-gradient(top, #fff 85%, #eee 99%);
}

/* line 255, ../../app/styles/_select.scss */
.select2-container-active .select2-choice,
.select2-container-active .select2-choices {
  border: 1px solid #5897fb;
  outline: none;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}

/* line 264, ../../app/styles/_select.scss */
.select2-dropdown-open .select2-choice {
  border-bottom-color: transparent;
  box-shadow: 0 1px 0 #fff inset;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  background-color: #eee;
  background-image: -moz-linear-gradient(center bottom, #fff 0%, #eee 50%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#eeeeee', endColorstr='#ffffff', GradientType=0);
  background-image: linear-gradient(top, #fff 0%, #eee 50%);
}

/* line 280, ../../app/styles/_select.scss */
.select2-dropdown-open.select2-drop-above .select2-choice,
.select2-dropdown-open.select2-drop-above .select2-choices {
  border: 1px solid #5897fb;
  border-top-color: transparent;
  background-image: -moz-linear-gradient(center top, #fff 0%, #eee 50%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#eeeeee', endColorstr='#ffffff', GradientType=0);
  background-image: linear-gradient(bottom, #fff 0%, #eee 50%);
}

/* line 292, ../../app/styles/_select.scss */
.select2-dropdown-open .select2-choice .select2-arrow {
  background: transparent;
  border-left: none;
  -webkit-filter: none;
          filter: none;
}

/* line 297, ../../app/styles/_select.scss */
.select2-dropdown-open .select2-choice .select2-arrow b {
  background-position: -18px 1px;
}

/* results */
/* line 302, ../../app/styles/_select.scss */
.select2-results {
  max-height: 200px;
  padding: 0 0 0 4px;
  margin: 4px 4px 4px 0;
  position: relative;
  overflow-x: hidden;
  overflow-y: auto;
  -webkit-tap-highlight-color: transparent;
}

/* line 312, ../../app/styles/_select.scss */
.select2-results ul.select2-result-sub {
  margin: 0;
  padding-left: 0;
}

/* line 317, ../../app/styles/_select.scss */
.select2-results ul.select2-result-sub > li .select2-result-label {
  padding-left: 20px;
}

/* line 318, ../../app/styles/_select.scss */
.select2-results ul.select2-result-sub ul.select2-result-sub > li .select2-result-label {
  padding-left: 40px;
}

/* line 319, ../../app/styles/_select.scss */
.select2-results ul.select2-result-sub ul.select2-result-sub ul.select2-result-sub > li .select2-result-label {
  padding-left: 60px;
}

/* line 320, ../../app/styles/_select.scss */
.select2-results ul.select2-result-sub ul.select2-result-sub ul.select2-result-sub ul.select2-result-sub > li .select2-result-label {
  padding-left: 80px;
}

/* line 321, ../../app/styles/_select.scss */
.select2-results ul.select2-result-sub ul.select2-result-sub ul.select2-result-sub ul.select2-result-sub ul.select2-result-sub > li .select2-result-label {
  padding-left: 100px;
}

/* line 322, ../../app/styles/_select.scss */
.select2-results ul.select2-result-sub ul.select2-result-sub ul.select2-result-sub ul.select2-result-sub ul.select2-result-sub ul.select2-result-sub > li .select2-result-label {
  padding-left: 110px;
}

/* line 323, ../../app/styles/_select.scss */
.select2-results ul.select2-result-sub ul.select2-result-sub ul.select2-result-sub ul.select2-result-sub ul.select2-result-sub ul.select2-result-sub ul.select2-result-sub > li .select2-result-label {
  padding-left: 120px;
}

/* line 325, ../../app/styles/_select.scss */
.select2-results li {
  list-style: none;
  display: list-item;
  background-image: none;
}

/* line 331, ../../app/styles/_select.scss */
.select2-results li.select2-result-with-children > .select2-result-label {
  font-weight: bold;
}

/* line 335, ../../app/styles/_select.scss */
.select2-results .select2-result-label {
  padding: 3px 7px 4px;
  margin: 0;
  cursor: pointer;
  min-height: 1em;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* line 349, ../../app/styles/_select.scss */
.select2-results .select2-highlighted {
  background: #3875d7;
  color: #fff;
}

/* line 354, ../../app/styles/_select.scss */
.select2-results li em {
  background: #feffde;
  font-style: normal;
}

/* line 359, ../../app/styles/_select.scss */
.select2-results .select2-highlighted em {
  background: transparent;
}

/* line 363, ../../app/styles/_select.scss */
.select2-results .select2-highlighted ul {
  background: #fff;
  color: #000;
}

/* line 369, ../../app/styles/_select.scss */
.select2-results .select2-no-results,
.select2-results .select2-searching,
.select2-results .select2-selection-limit {
  background: #f4f4f4;
  display: list-item;
}

/*
disabled look for disabled choices in the results dropdown
*/
/* line 379, ../../app/styles/_select.scss */
.select2-results .select2-disabled.select2-highlighted {
  color: #666;
  background: #f4f4f4;
  display: list-item;
  cursor: default;
}

/* line 385, ../../app/styles/_select.scss */
.select2-results .select2-disabled {
  background: #f4f4f4;
  display: list-item;
  cursor: default;
}

/* line 391, ../../app/styles/_select.scss */
.select2-results .select2-selected {
  display: none;
}

/* line 395, ../../app/styles/_select.scss */
.select2-more-results.select2-active {
  background: #f4f4f4 url("select2-spinner.gif") no-repeat 100%;
}

/* line 399, ../../app/styles/_select.scss */
.select2-more-results {
  background: #f4f4f4;
  display: list-item;
}

/* disabled styles */
/* line 406, ../../app/styles/_select.scss */
.select2-container.select2-container-disabled .select2-choice {
  background-color: #f4f4f4;
  background-image: none;
  border: 1px solid #ddd;
  cursor: default;
}

/* line 413, ../../app/styles/_select.scss */
.select2-container.select2-container-disabled .select2-choice .select2-arrow {
  background-color: #f4f4f4;
  background-image: none;
  border-left: 0;
}

/* line 419, ../../app/styles/_select.scss */
.select2-container.select2-container-disabled .select2-choice abbr {
  display: none;
}

/* multiselect */
/* line 426, ../../app/styles/_select.scss */
.select2-container-multi .select2-choices {
  height: auto !important;
  height: 1%;
  margin: 0;
  padding: 0;
  position: relative;
  border: 1px solid #aaa;
  cursor: text;
  overflow: hidden;
  background-color: #fff;
  background-image: linear-gradient(top, #eee 1%, #fff 15%);
}

/* line 444, ../../app/styles/_select.scss */
.select2-locked {
  padding: 3px 5px 3px 5px !important;
}

/* line 448, ../../app/styles/_select.scss */
.select2-container-multi .select2-choices {
  min-height: 26px;
}

/* line 452, ../../app/styles/_select.scss */
.select2-container-multi.select2-container-active .select2-choices {
  border: 1px solid #5897fb;
  outline: none;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}

/* line 459, ../../app/styles/_select.scss */
.select2-container-multi .select2-choices li {
  float: left;
  list-style: none;
}

/* line 463, ../../app/styles/_select.scss */
.select2-container-multi .select2-choices .select2-search-field {
  margin: 0;
  padding: 0;
  white-space: nowrap;
}

/* line 469, ../../app/styles/_select.scss */
.select2-container-multi .select2-choices .select2-search-field input {
  padding: 5px;
  margin: 1px 0;
  font-family: sans-serif;
  font-size: 100%;
  color: #666;
  outline: 0;
  border: 0;
  box-shadow: none;
  background: transparent !important;
}

/* line 483, ../../app/styles/_select.scss */
.select2-container-multi .select2-choices .select2-search-field input.select2-active {
  background: #fff url("select2-spinner.gif") no-repeat 100% !important;
}

/* line 487, ../../app/styles/_select.scss */
.select2-default {
  color: #999 !important;
}

/* line 491, ../../app/styles/_select.scss */
.select2-container-multi .select2-choices .select2-search-choice {
  padding: 3px 5px 3px 18px;
  margin: 3px 0 3px 5px;
  position: relative;
  line-height: 13px;
  color: #333;
  cursor: default;
  border: 1px solid #aaaaaa;
  border-radius: 3px;
  box-shadow: 0 0 2px #fff inset, 0 1px 0 rgba(0, 0, 0, 0.05);
  background-clip: padding-box;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-color: #e4e4e4;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#eeeeee', endColorstr='#f4f4f4', GradientType=0);
  background-image: linear-gradient(top, #f4f4f4 20%, #f0f0f0 50%, #e8e8e8 52%, #eee 100%);
}

/* line 521, ../../app/styles/_select.scss */
.select2-container-multi .select2-choices .select2-search-choice .select2-chosen {
  cursor: default;
}

/* line 524, ../../app/styles/_select.scss */
.select2-container-multi .select2-choices .select2-search-choice-focus {
  background: #d4d4d4;
}

/* line 528, ../../app/styles/_select.scss */
.select2-search-choice-close {
  display: block;
  width: 12px;
  height: 13px;
  position: absolute;
  right: 3px;
  top: 4px;
  font-size: 1px;
  outline: none;
  /*background: url('select2.png') right top no-repeat;*/
}

/* line 541, ../../app/styles/_select.scss */
.select2-container-multi .select2-search-choice-close {
  left: 3px;
}

/* line 545, ../../app/styles/_select.scss */
.select2-container-multi .select2-choices .select2-search-choice .select2-search-choice-close:hover {
  background-position: right -11px;
}

/* line 548, ../../app/styles/_select.scss */
.select2-container-multi .select2-choices .select2-search-choice-focus .select2-search-choice-close {
  background-position: right -11px;
}

/* disabled styles */
/* line 553, ../../app/styles/_select.scss */
.select2-container-multi.select2-container-disabled .select2-choices {
  background-color: #f4f4f4;
  background-image: none;
  border: 1px solid #ddd;
  cursor: default;
}

/* line 560, ../../app/styles/_select.scss */
.select2-container-multi.select2-container-disabled .select2-choices .select2-search-choice {
  padding: 3px 5px 3px 5px;
  border: 1px solid #ddd;
  background-image: none;
  background-color: #f4f4f4;
}

/* line 567, ../../app/styles/_select.scss */
.select2-container-multi.select2-container-disabled .select2-choices .select2-search-choice .select2-search-choice-close {
  display: none;
  background: none;
}

/* end multiselect */
/* line 573, ../../app/styles/_select.scss */
.select2-result-selectable .select2-match,
.select2-result-unselectable .select2-match {
  text-decoration: underline;
}

/* line 578, ../../app/styles/_select.scss */
.select2-offscreen, .select2-offscreen:focus {
  clip: rect(0 0 0 0) !important;
  width: 1px !important;
  height: 1px !important;
  border: 0 !important;
  margin: 0 !important;
  padding: 0 !important;
  overflow: hidden !important;
  position: absolute !important;
  outline: 0 !important;
  left: 0px !important;
  top: 0px !important;
}

/* line 592, ../../app/styles/_select.scss */
.select2-display-none {
  display: none;
}

/* line 596, ../../app/styles/_select.scss */
.select2-measure-scrollbar {
  position: absolute;
  top: -10000px;
  left: -10000px;
  width: 100px;
  height: 100px;
  overflow: scroll;
}

/* Retina-ize icons */
@media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min-resolution: 144dpi) {
  /* line 607, ../../app/styles/_select.scss */
  .select2-search input, .select2-search-choice-close, .select2-container .select2-choice abbr, .select2-container .select2-choice .select2-arrow b {
    background-image: url("select2x2.png") !important;
    background-repeat: no-repeat !important;
    background-size: 60px 40px !important;
  }

  /* line 612, ../../app/styles/_select.scss */
  .select2-search input {
    background-position: 100% -21px !important;
  }
}
/*!
 * ui-select
 * http://github.com/angular-ui/ui-select
 * Version: 0.11.2 - 2015-03-17T04:08:46.478Z
 * License: MIT
 */
/* Style when highlighting a search. */
/* line 627, ../../app/styles/_select.scss */
.ui-select-highlight {
  font-weight: bold;
}

/* line 631, ../../app/styles/_select.scss */
.ui-select-offscreen {
  clip: rect(0 0 0 0) !important;
  width: 1px !important;
  height: 1px !important;
  border: 0 !important;
  margin: 0 !important;
  padding: 0 !important;
  overflow: hidden !important;
  position: absolute !important;
  outline: 0 !important;
  left: 0px !important;
  top: 0px !important;
}

/* Select2 theme */
/* Mark invalid Select2 */
/* line 648, ../../app/styles/_select.scss */
.ng-dirty.ng-invalid > a.select2-choice {
  border-color: #D44950;
}

/* line 652, ../../app/styles/_select.scss */
.select2-result-single {
  padding-left: 0;
}

/* line 656, ../../app/styles/_select.scss */
.select2-locked > .select2-search-choice-close {
  display: none;
}

/* line 660, ../../app/styles/_select.scss */
.select-locked > .ui-select-match-close {
  display: none;
}

/* line 664, ../../app/styles/_select.scss */
body > .select2-container.open {
  z-index: 9999;
  /* The z-index Select2 applies to the select2-drop */
}

/* Selectize theme */
/* Helper class to show styles when focus */
/* line 671, ../../app/styles/_select.scss */
.selectize-input.selectize-focus {
  border-color: #007FBB !important;
}

/* Fix input width for Selectize theme */
/* line 676, ../../app/styles/_select.scss */
.selectize-control > .selectize-input > input {
  width: 100%;
}

/* Fix dropdown width for Selectize theme */
/* line 681, ../../app/styles/_select.scss */
.selectize-control > .selectize-dropdown {
  width: 100%;
}

/* Mark invalid Selectize */
/* line 686, ../../app/styles/_select.scss */
.ng-dirty.ng-invalid > div.selectize-input {
  border-color: #D44950;
}

/* Bootstrap theme */
/* Helper class to show styles when focus */
/* line 694, ../../app/styles/_select.scss */
.btn-default-focus {
  color: #333;
  background-color: #EBEBEB;
  border-color: #ADADAD;
  text-decoration: none;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(102, 175, 233, 0.6);
}

/* line 704, ../../app/styles/_select.scss */
.ui-select-bootstrap .ui-select-toggle {
  position: relative;
}

/* line 708, ../../app/styles/_select.scss */
.ui-select-bootstrap .ui-select-toggle > .caret {
  position: absolute;
  height: 10px;
  top: 50%;
  right: 10px;
  margin-top: -2px;
}

/* Fix Bootstrap dropdown position when inside a input-group */
/* line 717, ../../app/styles/_select.scss */
.input-group > .ui-select-bootstrap.dropdown {
  /* Instead of relative */
  position: static;
}

/* line 722, ../../app/styles/_select.scss */
.input-group > .ui-select-bootstrap > input.ui-select-search.form-control {
  border-radius: 4px;
  /* FIXME hardcoded value :-/ */
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

/* line 728, ../../app/styles/_select.scss */
.ui-select-bootstrap > .ui-select-match > .btn {
  /* Instead of center because of .btn */
  text-align: left !important;
}

/* line 733, ../../app/styles/_select.scss */
.ui-select-bootstrap > .ui-select-match > .caret {
  position: absolute;
  top: 45%;
  right: 15px;
}

/* See Scrollable Menu with Bootstrap 3 http://stackoverflow.com/questions/19227496 */
/* line 740, ../../app/styles/_select.scss */
.ui-select-bootstrap > .ui-select-choices {
  width: 100%;
  height: auto;
  max-height: 200px;
  overflow-x: hidden;
  margin-top: -1px;
}

/* line 748, ../../app/styles/_select.scss */
body > .ui-select-bootstrap.open {
  z-index: 1000;
  /* Standard Bootstrap dropdown z-index */
}

/* line 752, ../../app/styles/_select.scss */
.ui-select-multiple.ui-select-bootstrap {
  height: auto;
  padding: 3px 3px 0 3px;
}

/* line 757, ../../app/styles/_select.scss */
.ui-select-multiple.ui-select-bootstrap input.ui-select-search {
  background-color: transparent !important;
  /* To prevent double background when disabled */
  border: none;
  outline: none;
  height: 1.666666em;
  margin-bottom: 3px;
}

/* line 765, ../../app/styles/_select.scss */
.ui-select-multiple.ui-select-bootstrap .ui-select-match .close {
  font-size: 1.6em;
  line-height: 0.75;
}

/* line 770, ../../app/styles/_select.scss */
.ui-select-multiple.ui-select-bootstrap .ui-select-match-item {
  outline: 0;
  margin: 0 3px 3px 0;
}

/* line 775, ../../app/styles/_select.scss */
.ui-select-multiple .ui-select-match-item {
  position: relative;
}

/* line 779, ../../app/styles/_select.scss */
.ui-select-multiple .ui-select-match-item.dropping-before:before {
  content: "";
  position: absolute;
  top: 0;
  right: 100%;
  height: 100%;
  margin-right: 2px;
  border-left: 1px solid #428bca;
}

/* line 789, ../../app/styles/_select.scss */
.ui-select-multiple .ui-select-match-item.dropping-after:after {
  content: "";
  position: absolute;
  top: 0;
  left: 100%;
  height: 100%;
  margin-left: 2px;
  border-right: 1px solid #428bca;
}

/* line 799, ../../app/styles/_select.scss */
.ui-select-bootstrap .ui-select-choices-row > a {
  display: block;
  padding: 3px 20px;
  clear: both;
  font-weight: 400;
  line-height: 1.42857143;
  color: #333;
  white-space: nowrap;
}

/* line 809, ../../app/styles/_select.scss */
.ui-select-bootstrap .ui-select-choices-row > a:hover, .ui-select-bootstrap .ui-select-choices-row > a:focus {
  text-decoration: none;
  color: #262626;
  background-color: #f5f5f5;
}

/* line 815, ../../app/styles/_select.scss */
.ui-select-bootstrap .ui-select-choices-row.active > a {
  color: #fff;
  text-decoration: none;
  outline: 0;
  background-color: #428bca;
}

/* line 822, ../../app/styles/_select.scss */
.ui-select-bootstrap .ui-select-choices-row.disabled > a,
.ui-select-bootstrap .ui-select-choices-row.active.disabled > a {
  color: #777;
  cursor: not-allowed;
  background-color: #fff;
}

/* fix hide/show angular animation */
/* line 830, ../../app/styles/_select.scss */
.ui-select-match.ng-hide-add,
.ui-select-search.ng-hide-add {
  display: none !important;
}

/* Mark invalid Bootstrap */
/* line 836, ../../app/styles/_select.scss */
.ui-select-bootstrap.ng-dirty.ng-invalid > button.btn.ui-select-match {
  border-color: #D44950;
}

/* line 6, ../../app/styles/main.scss */
.nav-pills > li {
  background-color: white;
}

/* line 10, ../../app/styles/main.scss */
.nav-pills > .active > a,
.nav-pills > .active > a:hover, .nav-pills > li > a:hover {
  text-decoration: none;
  font-weight: bold;
  border-radius: 0px;
  border-bottom-width: 4px;
  border-bottom-style: solid;
  border-bottom-color: #0198E1;
  color: #000 !important;
  background-color: transparent !important;
}