
<div class="modal-header">
    <button type="button" class="close" ng-click="cancel()" aria-label="Close"><span aria-hidden="true">&times;</span></button>
    <button class="btn btn-primary save" type="button" ng-disabled="progress || !items.reportName" ng-click="ok()" ng-hide="items.id && exFlag && updatefields">
        {{(!exFlag)? 'Save' : (items.id && exFlag && !updatefields)? 'Save': 'Add to Portal'}}
    </button>
    
    <!--Code for Nav Tabs-->
    <ul class="nav nav-pills">
        <li ng-class="{'active':updatefields}" >
            <a href="javascript:void(0);" ng-click="tabchange(true)">
                {{(exFlag) ? 'Report Details' : 'Update Report'}}
            </a>
        </li>
        <li ng-class="{'active':!updatefields}"  ng-hide="!items.id">
            <a href="javascript:void(0);" ng-click="tabchange(false)">
                Report Visibility
            </a>
        </li>
    </ul>   
    <!--End of Code for Nav Tabs-->
</div>
<!-- Code for Tab1-->
<div class="modal-body">
    <span class="text-success">{{saveText}}</span>
    <span class="text-danger" ng-show="!enableError">{{enableErrorMessage}}</span>
    <form name="reportForm" ng-show="updatefields" class="report-modal-form">
        <div class="row">
            <div style="" class="col-xs-6">
                <div class="row"  >
                    <div class="col-xs-4"> Created Date</div>
                    <div class="col-xs-8">{{convertStringDate(items.createdDate) | date:'medium'}}</div>
                </div>
            </div>

            <div class="col-xs-6" >
                <div class="row"  >
                    <div class="col-xs-4"> Updated Date </div>
                    <div class="col-xs-6">{{convertStringDate(items.updatedDate) | date:'medium'}}</div>
                </div>
            </div>
        </div>
        <!--End of row1-->   
        <div class="row">
            <div style="" class="col-xs-6">
                <div class="row"  >
                    <div class="col-xs-4" ng-hide="exFlag"> Owner</div>
                    <div class="col-xs-4" ng-show="exFlag"> Created By</div>
                    <div class="col-xs-8">{{items.owner}}</div>
                </div>
            </div>

            <div class="col-xs-6" >
                <div class="row"  >
                    <div class="col-xs-4"> System Description </div>
                    <div class="col-xs-8">{{ items.systemDescription}} </div>
                </div>
            </div>
        </div>
        <!--End of row2-->   
        <div class="row">
            <div style="" class="col-xs-6">
                <div class="row"  >
                    <div class="col-xs-4"> Source System</div>
                    <div class="col-xs-8">
                        {{items.sourceSystem}}
                    </div>
                </div>
            </div>

            <div class="col-xs-6" >
                <div class="row"  >
                    <div class="col-xs-4"> Report Name </div>
                    <div class="col-xs-8">
                        <input type="text" name="reportName" ng-model="items.reportName" ng-hide="exFlag">
                        <p ng-show="exFlag">{{items.reportName}}</p>
                    </div>
                </div>
            </div>
        </div>
        <!--End of row4-->   
        <div class="row">
            <div style="" class="col-xs-6">
                <div class="row"  >
                    <div class="col-xs-4"> Source Report Id</div>
                    <div class="col-xs-8">
                        {{items.sourceReportId}}
                    </div>
                </div>  
            </div>

            <div class="col-xs-6" >
                <div class="row"  >
                    <div class="col-xs-4"> Report Description </div>
                    <div class="col-xs-8">
                        <textarea name="reportDesc" ng-model="items.reportDesc" ng-hide="exFlag">{{items.reportDesc}}</textarea>
                        <p ng-show="exFlag">{{items.reportDesc | limitTo:100}}<span ng-show="items.reportDesc.length > 100">...</span></p>
                    </div>
                </div>
            </div>
        </div>
        <!--End of row5-->   
        <div class="row">
            <div style="" class="col-xs-6">

                <div class="row"  >
                    <div class="col-xs-4"> Report Type</div>
                    <div class="col-xs-6">
                        {{items.reportType}}
                    </div>
                </div>
            </div>

            <div class="col-xs-6" >

                <div class="row"  >
                    <div class="col-xs-4" ng-hide="exFlag"> Additional Information </div>
                    <div class="col-xs-4" ng-show="exFlag"> Tile Color </div>
                    <div class="col-xs-6">
                        {{items.additionalInfo}}
                    </div>
                </div>
            </div>
        </div>
        <!--End of row6-->   
        <div class="row">
            <div style="" class="col-xs-6">
                <div class="row"  >
                    <div class="col-xs-4"> Report Link </div>
                    <div class="col-xs-8" style="word-wrap: break-word;">
                        {{items.reportLink}}
                    </div>
                </div>
            </div>

            <div class="col-xs-6" >
                <div class="row" ng-hide="exFlag">
                    <div class="col-xs-4"> View Count </div>
                    <div class="col-xs-8">
                        {{items.viewCount}}
                    </div>
                </div>
                <div class="row" ng-show="exFlag">
                    <div class="col-xs-4"> Is Embedded </div>
                    <div class="col-xs-8">
                        {{(items.displayType == 'N')? 'No': 'Yes'}}
                    </div>
                </div>
            </div>
        </div>
        <!--End of row7-->   
        <div class="row">
            <div style="" class="col-xs-6">
                <div class="row"  >
                    <div class="col-xs-4"> Functional Area</div>
                    <div class="col-xs-8">
                        {{items.functionalArea}}
                    </div>
                </div>
            </div>

            <div class="col-xs-6" >
                <div class="row" ng-hide="exFlag">
                    <div class="col-xs-4"> Refresh Status </div>
                    <div class="col-xs-8">
                        <select ng-model="items.refreshStatus">
                            <option value="N">N</option>
                            <option value="Y">Y</option>
                        </select>
                    </div>
                </div>
            </div>
        </div>
        <!--End of row8-->  
        <div class="row">
            <div style="" class="col-xs-6">
                <div class="row"  >
                    <div class="col-xs-4"> Link Title</div>
                    <div class="col-xs-8">
                        <input type="text" name="titleLink" ng-model="items.linkTitle" ng-hide="exFlag">
                        <p ng-show="exFlag">{{items.linkTitle}}</p>
                    </div>
                </div>
            </div>

            <div class="col-xs-6" >
                <div class="row" ng-hide="exFlag">
                    <div class="col-xs-4"> View Tabs </div>
                    <div class="col-xs-8">
                        <select ng-model="items.tabbedViews">
                            <option value="N">N</option>
                            <option value="Y">Y</option>
                        </select>
                    </div>
                </div>
            </div>
        </div>
        <!--End of row9-->   
        <div class="row">
            <div class="col-md-6">
                <div class="row"  >
                    <div class="col-xs-4"> Link Hover Information</div>
                    <div class="col-xs-8">
                        <input type="text" name="linkHoverInfo" ng-model="items.linkHoverInfo" ng-hide="exFlag">
                        <p ng-show="exFlag">{{items.linkHoverInfo}}</p>
                    </div>
                </div>
            </div>

            <div class="col-md-6" >
                <div class="row" ng-hide="exFlag">
                    <div class="col-xs-4">Toolbar Position </div>
                    <div class="col-xs-8">
                        <select ng-model="items.displayType">
                            <option value="B">Bottom</option>
                            <option value="T">Top</option>
                            <option value="H">Hide</option>
                        </select>
                    </div>
                </div>
            </div>
        </div>
        <div class="row" ng-hide="exFlag">
            <div class="col-md-6" ng-show="headerFlag">
                <div class="row"  >
                    <div class="col-xs-4"> Header Flag</div>
                    <div class="col-xs-8">
                        <select ng-model="isHeaderVal">
                            <option value="1">Show</option>
                            <option value="0">Hide</option>
                        </select>
                    </div>
                </div>
            </div>
            
            <div class="col-md-6" ></div>
        </div>
    </form>
    <!-- Code for Tab2-->
    <form ng-hide="updatefields"  style="margin-left: 30px">
        <div>
            <b>Permissions</b> - Reports to give access
        </div>
        <hr />

        <div class="row">
            <div class="col-xs-2">Persona</div>
            <div class="col-xs-2">Parent Level</div>
            <div class="col-xs-2">Child Level</div>
            <div class="col-xs-2">Sub-Child Level</div>
        </div>
        <hr />

        <div class="row level-select" ng-repeat="levelGroupMap in levelGroupMaps">
            <div class="col-xs-2">
                <select ng-model="levelGroupMap.selectedGroup" ng-options="group.groupId as group.groupName for group in levelGroup.allGroups" ng-change="populateParentLevel(levelGroupMap.selectedGroup, $index, 'parentLevelList');" required></select>     
            </div>
            <div class="col-xs-2">
                <select ng-model="levelGroupMap.selectedParentLevel" ng-options="parentLevel.levelId as parentLevel.levelDesc for parentLevel in levelGroupMap.parentLevelList" ng-change="populateChildLevel(levelGroupMap.selectedParentLevel, $index, 'childLevelList');" required>
                    <option value="">Select</option>
                </select> 
            </div>
            <div class="col-xs-2">
                <select ng-model="levelGroupMap.selectedChildLevel" ng-show="levelGroupMap.childLevelList.length > 0" ng-options="childLevel.levelId as childLevel.levelDesc for childLevel in levelGroupMap.childLevelList" ng-change="populateChildLevel(levelGroupMap.selectedChildLevel, $index, 'subChildLevelList');">
                    <option value="">Select</option>
                </select>     
            </div>
            <div class="col-xs-2">
                <select ng-model="levelGroupMap.selectedSubChildLevel" ng-show="levelGroupMap.subChildLevelList.length > 0" ng-options="subChildLevel.levelId as subChildLevel.levelDesc for subChildLevel in levelGroupMap.subChildLevelList" ng-change="populateSubChildLevel(levelGroupMap.selectedSubChildLevel, $index, 'lastList');">
                    <option value="">Select</option>
                </select>     
            </div>
            <div class="col-xs-3" style="margin-bottom: 10px">
                <button class="btn" type="button" ng-click="addLevelGroup()">+Add</button>
                <button class="btn" type="button" ng-click="removeLevelGroup($index)">-Remove</button>
            </div>
        </div>
        <br />
    </form>
    <!-- End of Code for Tab2-->
</div>
<!-- End of Code for Tab2-->
<div class="modal-footer">
    <!--<span class="text-success">{{saveText}}</span>-->
<!--    <button class="btn btn-primary save" type="button" ng-disabled="progress" ng-click="ok()">Save</button>
    <button class="btn btn-warning" type="button" ng-click="cancel()">Cancel</button>-->
</div>