<div id="BINewsModal">
    <div class="modal-header">
        <button type="button" class="close" ng-click="cancel()" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
        <h3 class="modal-title" ng-show="items.type">Add New Notification</h3>
        <h3 class="modal-title" ng-hide="items.type">Edit Notification</h3>
    </div>
    <div class="modal-body">
        <form name="NotificationForm">
            <div class="row">
                <div class="col-xs-12">
                    <div class="row updateNews">
                        <div class="col-xs-4"> Persona <span ng-show="items.type === 'new'">*</span></div>
                        <div class="col-xs-8">
                            <dropdown-multiselect model="items.selectedGroupIdList" options="groupIdList" selected-model="selectedGroupIds" ng-if="groupIdList" ng-show="items.type === 'new'" required></dropdown-multiselect>
                            <input type="text" name="persona" ng-model="items.persona" value="{{items.groupIds}}" ng-show="items.type !== 'new'" class="col-xs-8" readonly="readonly">
                        </div>
                    </div>
                    <div class="row updateNews">
                        <div class="col-xs-4"> Title *</div>
                        <div class="col-xs-8">
                            <input type="text" name="header" ng-model="items.header" class="col-xs-8" maxlength="40">
                        </div>
                    </div>
                    <div class="row updateNews">
                        <div class="col-xs-4"> Message Body *</div>
                        <div class="col-xs-8">
                            <textarea rows="4" cols="50" name="messageBody" ng-model="items.messageBody" class="col-xs-8" maxlength="250"></textarea> 
                        </div>
                    </div>
                    <div class="row updateNews">
                        <div class="col-xs-4"> More Info URL</div>
                        <div class="col-xs-8">
                            <input type="url" name="moreInfoUrl " ng-model="items.moreInfoUrl" class="col-xs-8">
                            <span class="error urlValidation" ng-show="NotificationForm.moreInfoUrl.$error.url">  Not a valid url!</span>
                        </div>
                    </div>
                    <div class="row updateNews">
                        <div class="col-xs-4"> Notification Type</div>
                        <div class="col-xs-8"> 
                            <select ng-model="items.notificationType">
                                <option value="A">Alert</option>
                                <option value="M">Message</option>
                            </select>
                        </div>
                    </div>
                    <div class="row updateNews calendarBlock">
                        <div class="col-xs-4 calendar-labal"> Notification Start Date</div>
                        <div class="col-xs-4">
                            <div class="input-group calendar-input">
                                <input type="text" class="form-control" uib-datepicker-popup="{{format}}" ng-model="popup1.dt" is-open="popup1.opened" show-weeks="false" min-date="popup1.minDate" max-date="popup1.maxDate" datepicker-options="dateOptions"  ng-required="true" close-text="Close" ng-change="toggleMax()" />
                                <span class="input-group-btn">
                                    <button type="button" class="btn btn-default" ng-click="open1($event)"><i class="glyphicon glyphicon-calendar"></i></button>
                                </span>
                            </div>
                            <div class="calendar-time" uib-timepicker ng-model="mytime1" ng-change="changed()" hour-step="hstep" minute-step="mstep" show-meridian="ismeridian" readonly-input="true"></div>
                        </div>
                    </div>
                    <div class="row updateNews calendarBlock">
                        <div class="col-xs-4  calendar-labal"> Notification End Date</div>
                        <div class="col-xs-4">
                            <div class="input-group calendar-input">
                                <input type="text" class="form-control" uib-datepicker-popup="{{format}}" ng-model="popup2.dt" is-open="popup2.opened" show-weeks="false" min-date="popup1.dt" max-date="popup2.maxDate" datepicker-options="dateOptions" ng-required="true" close-text="Close" />
                                <span class="input-group-btn">
                                    <button type="button" class="btn btn-default" ng-click="open2($event)"><i class="glyphicon glyphicon-calendar"></i></button>
                                </span>
                            </div>                    
                            <div class="calendar-time" uib-timepicker ng-model="mytime2" ng-change="changed()" hour-step="hstep" minute-step="mstep" show-meridian="ismeridian" readonly-input="true"></div>
                        </div>
                    </div>
                    <div class="row updateNews calendarBlock">
                        <div class="col-xs-4"></div>
                        <div class="col-xs-4"><span class="error urlValidation" ng-show="dateError">{{dateError}}</span></div>
                    </div>                    
                    <div class="row updateNews">
                        <div class="col-xs-4"> Is Active</div>
                        <div class="col-xs-8  notification-radio"> 
                            <input type="radio" ng-model="items.isActive" value="Y" checked>Yes
                            <input class="inactive" type="radio" ng-model="items.isActive" value="N">No
                        </div>
                    </div>                    
                </div>
            </div>
        </form>
    </div>
    <div class="modal-footer">
        <button class="btn btn-primary" type="button" ng-disabled="!items.header || !items.messageBody || items.selectedGroupIdList.length < 1" ng-click="save(items)">Save</button>
        <button class="btn btn-warning" type="button" ng-click="cancel()">Cancel</button>
    </div>
</div>