<button type="button" ng-click="open()" ng-hide="state.current.name === 'administration.list.groups' && userObject.userinfo.role.toLowerCase() === 'buadmin'">Add</button>
<span class="pull-right" ng-show="state.current.name === 'administration.list.users'">
    <a target="_self" class="btn btn-sm btn-info" href="{{downloadLink}}" download="UserReport.csv">Download</a>
</span>
<span class="text-success">{{messageAlert}}</span>
<span class="text-danger">{{messageAlertError}}</span>
<br>
<span ui-view="audit"></span>
<br>
<div id="grid3" ui-grid-infinite-scroll ui-grid="myData" class="grid"></div>
