@import url("//fonts.googleapis.com/css?family=Open+Sans:300,400,600,700&lang=en");
/*
 *
 *   MyBI - Data services and Business Intelligence
 *   
 *
*/
h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 100;
}
h1 {
    font-size: 30px;
}
h2 {
    font-size: 24px;
}
h3 {
    font-size: 16px;
}
h4 {
    font-size: 14px;
}
h5 {
    font-size: 12px;
}
h6 {
    font-size: 10px;
}
h3,
h4,
h5 {
    margin-top: 5px;
    font-weight: 600;
}
@font-face {
    font-family: 'Roboto-Regular'; //MetaWeb-Normal
    src: url('fonts/Roboto-Regular.ttf'); /* Modern Browsers */
}
@font-face {
    font-family: 'Roboto-Medium'; // MetaWeb-BOOK
    src: url('fonts/Roboto-Medium.ttf');
}
.v-offset-top-2px  { margin-top: 2px; }
.v-offset-top-3px { margin-top: 3px; }
.v-offset-top-4px { margin-top: 4px; }
.v-offset-top-5px { margin-top: 5px; }
.v-offset-top-10px{ margin-top: 10px; }
.v-offset-top-15px { margin-top: 15px; }
.v-offset-top-20px{ margin-top:20px;}
.v-offset-top-30px { margin-top: 30px; }
.v-offset-top-40px { margin-top: 40px; }
.v-offset-top-60px { margin-top: 60px; }

.v-offset-bottom-2px  { margin-bottom: 2px; }
.v-offset-bottom-3px { margin-bottom: 3px; }
.v-offset-bottom-4px { margin-bottom: 4px; }
.v-offset-bottom-5px { margin-bottom: 5px; }
.v-offset-bottom-10px{ margin-bottom: 10px; }
.v-offset-bottom-15px { margin-bottom: 15px; }
.v-offset-bottom-30px { margin-bottom: 30px; }
.v-offset-bottom-40px { margin-bottom: 40px; }
.v-offset-bottom-60px { margin-bottom: 60px; }
.nav > li > a {
    color: #a7b1c2;
    font-weight: 600;
    padding: 10px 15px 10px 15px;
    border-radius: 4px;
    margin: 0px 5px;
}
.nav.navbar-right > li > a {
    color: #999c9e;
}
.nav > li.active > a {
    color: #ffffff;
}

.navbar-default .nav > li > a:hover {
    text-decoration: underline;
    background-color: inherit;
}

.navbar-default .nav > li.active > a,
.navbar-default .nav > li > a:focus {
    background-color: #3396da;
    color: #ffffff;
    /*  border-radius: 4px;
      margin: 0px 14px; */
}
.nav .open > a,
.nav .open > a:hover,
.nav .open > a:focus {
    background: #fff;
}
.nav.navbar-top-links > li > a:hover,
.nav.navbar-top-links > li > a:focus {
    background-color: transparent;
}
.nav > li > a img {
    margin-right: 6px;
}
.nav {
    .panel-group {
        margin-bottom: 0px;
    }
    .panel {
        background-color: transparent;
        border: none;
        border-radius: 0px;
        .panel-heading {
            background-color: transparent;
            border: none;
            border-radius: 0px;

        }
    }
    .rr > .panel-heading a {
        color: #a7b1c2;
        font-weight: 600;
        padding: 10px 15px 10px 15px;
        border-radius: 4px;
        margin: 0px 5px;
        display: block;
        &:hover{
            /*background-color: #3396da;*/
            text-decoration: underline;
            /*color: #ffffff;*/
        }
        img {
            margin-right: 6px;
        }
    }
    .rr.rropen > .panel-heading a {
        /*background-color: #3396da;
        color: #ffffff;*/
        text-decoration: underline;
    }

    .panel-body {
        padding: 0px;
        border-top: none;
    }

    .panel-group .panel-heading + .panel-collapse > .panel-body {
        border-top: none;
    }
}
.pace-done {
    position: relative;
    z-index: 998;
    height:100%;
    /*height: calc(100% - 70px);*/
}
.navbar {
    border: 0;
    font-family:'Roboto-Regular';
}
.navbar-default {
    background-color: #2c2c2c;
    border-color: #2f4050;
}
.navbar-top-links li {
    display: inline-block;
}
.navbar-top-links li:last-child {
    margin-right: 40px;
}
.navbar-top-links li a {
    padding: 0px 10px;
    min-height: 50px;
}
.dropdown-menu {
    border: medium none;
    border-radius: 3px;
    box-shadow: 0 0 3px rgba(86, 96, 117, 0.7);
    display: none;
    float: left;
    font-size: 14px;
    left: 0;
    list-style: none outside none;
    padding: 0;
    position: absolute;
    text-shadow: none;
    top: 100%;
    z-index: 1000;
}
.dropdown-menu > li > span {
    display: block;
    padding: 0px 20px;
    clear: both;
    label {
        margin: 0px 4px;
    }
}
.dropdown-menu > li > a, .dropdown-menu > li > span {
    border-radius: 3px;
    color: inherit;
    line-height: 25px;
    margin: 4px;
    text-align: left;
    font-weight: normal;
}

.dropdown-menu > li > a.selectedViewTile {
    font-weight: bold;
}
.dropdown-menu > li > a:hover{
    background-color: #2c95dd !important; 
}
.dropdown-menu > li > a.font-bold {
    font-weight: 600;
}
.navbar-top-links .dropdown-menu li {
    display: block;
}
.navbar-top-links .dropdown-menu li:last-child {
    margin-right: 0;
}
.navbar-top-links .dropdown-menu li a {
    padding: 3px 20px;
    min-height: 0;
}
.navbar-top-links .dropdown-menu li a div {
    white-space: normal;
}
.navbar-top-links .dropdown-messages,
.navbar-top-links .dropdown-tasks,
.navbar-top-links .dropdown-alerts {
    width: 310px;
    min-width: 0;
}
.navbar-top-links .dropdown-messages {
    margin-left: 5px;
}
.navbar-top-links .dropdown-tasks {
    margin-left: -59px;
}
.navbar-top-links .dropdown-alerts {
    margin-left: -123px;
}
.navbar-top-links .dropdown-user {
    right: 0;
    left: auto;
}
.nav-header {
    padding: 33px 25px;
    /*background: url("patterns/header-profile.png") no-repeat;*/
    background-color : initial !important;
}
.pace-done .nav-header {
    transition: all 0.5s;
}
.nav > li.active {
    margin: 0px 0px;
}
.nav.nav-second-level > li.active {
    border: none;
}
.nav.nav-second-level.collapse[style] {
    height: auto !important;
}
.nav-header a {
    color: #ffffff;
    &:hover strong {
        text-decoration: underline;
    }
    &.user-icon-nav-header {
        background-color: transparent;
    }
}

.nav-header .text-muted {
    color: #8095a8;
}
.minimalize-styl-2 {
    margin: 10px 0px 0px 0px;
    font-size: 14px;
    float: left;
}
.navbar-form-custom {
    float: left;
    height: 50px;
    padding: 0;
    width: 200px;
    display: inline-table;
}
.navbar-form-custom .form-group {
    margin-bottom: 0;
}
.nav.navbar-top-links a {
    font-size: 14px;
}
.navbar-form-custom .form-control {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
    border: medium none;
    font-size: 14px;
    height: 60px;
    margin: 0;
    z-index: 2000;
}
.count-info .label {
    line-height: 12px;
    padding: 2px 5px;
    position: absolute;
    right: 6px;
    top: 12px;
}
.arrow {
    float: right;
}
.fa.arrow:before {
    content: "\f104";
}
.active > a > .fa.arrow:before {
    content: "\f107";
}
.nav-second-level li,
.nav-third-level li {
    border-bottom: none !important;
}
.nav-second-level li a {
    padding: 7px 10px 7px 10px;
    padding-left: 52px;
}
.nav-third-level li a {
    padding-left: 62px;
}
.nav-second-level li:last-child {
    margin-bottom: 10px;
}
.select2-search{
    margin-top:2px;
    input {
        width: 100% !important;
        padding: 4px;
        font-family: 'Roboto-Regular';
        font-size: 1em;
        color:#D3D3D3;
        border-color:#808080;
        border-radius: 0;
        box-shadow: none;
        background: none;
    }
}

.main-content-header{
    a:hover{
        color:#fff;
    }
}
.ui-select-container[theme="select2"].direction-up.select2-dropdown-open .ui-select-match{
    border-color:#808080;
}
.select2-container .select2-choice .select2-arrow{
    border:none;
    border-radius:0;
}
.select2-container .select2-choice .select2-arrow,.select2-container .select2-choice{
    border-radius:0px;
    background:#333;
    color:#D3D3D3;
    border-color:#808080;
}
.select2-dropdown-open .select2-choice{
    box-shadow:none;
}
.select2-drop{
    width: 100%;
    margin-top: -1px;
    position: absolute;
    z-index: 9999;
    top: 100%;
    background: #333;
    color: #f2f2f2;
    border: 1px solid #aaa;
    border-top: 0;
    border-radius: 0px;
    box-shadow: none;
}
.ui-select-choices-row:hover{
    color:#333;
}
.select2-drop-active{
    border:1px solid #808080;
}
.ui-grid-top-panel{
    background: #333;
    color: #FFF;
}
div.ui-grid-cell input {
    vertical-align: middle;
}
.ui-grid-menu-items {
    background-color: #333;
    color: #FFF;
}
.fixed-nav .slimScrollDiv #side-menu {
    padding-bottom: 60px;
}
.navbar-default .special_link a {
    background: #1ab394;
    color: white;
}
.navbar-default .special_link a:hover {
    background: #17987e !important;
    color: white;
}
.navbar-default .special_link a span.label {
    background: #fff;
    color: #1ab394;
}
.navbar-default .landing_link a {
    background: #1cc09f;
    color: white;
}
.navbar-default .landing_link a:hover {
    background: #1ab394 !important;
    color: white;
}
.navbar-default .landing_link a span.label {
    background: #fff;
    color: #1cc09f;
}
.logo-element {
    text-align: center;
    font-size: 18px;
    font-weight: 600;
    color: white;
    display: none;
    padding: 80px 0;
    min-height: 200px;
    font-family: "Roboto-Regular";
}
.pace-done .navbar-static-side,
.pace-done .nav-header,
.pace-done li.active,
.pace-done #page-wrapper,
.pace-done .footer {
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
}
.navbar-fixed-top {
    background: #fff;
    transition-duration: 0.5s;
    /* border-bottom: 1px solid #e7eaec !important; */
    z-index: 2030;
}
.navbar-fixed-top,
.navbar-static-top {
    background: #f6f6f6;
    height: 78px;
}
.navbar-header {
    height: 100%;
}
.fixed-nav #wrapper {
    margin-top: 0;
}
body.fixed-nav #wrapper .navbar-static-side,
body.fixed-nav #wrapper #page-wrapper {
    margin-top: 60px;
}
.fixed-nav .minimalize-styl-2 {
    margin: 14px 5px 5px 15px;
}
.body-small .navbar-fixed-top {
    margin-left: 0px;
}
.navbar .dropdown-menu {
    margin-top: 0px;
}
.navbar-toggle {
    background-color: #1ab394;
    color: #fff;
    padding: 6px 12px;
    font-size: 14px;
}
.btn {
    border-radius: 3px;
}
.float-e-margins .btn {
    margin-bottom: 5px;
}
.btn-w-m {
    min-width: 120px;
}
.btn-primary.btn-outline {
    color: #1ab394;
}
.btn-success.btn-outline {
    color: #1c84c6;
}
.btn-info.btn-outline {
    color: #23c6c8;
}
.btn-warning.btn-outline {
    color: #f8ac59;
}
.btn-danger.btn-outline {
    color: #ed5565;
}
.btn-primary.btn-outline:hover,
.btn-success.btn-outline:hover,
.btn-info.btn-outline:hover,
.btn-warning.btn-outline:hover,
.btn-danger.btn-outline:hover {
    color: #fff;
}
.btn-primary {
    background-color: #1ab394;
    border-color: #1ab394;
    color: #FFFFFF;
}
.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active,
.btn-primary.active,
.open .dropdown-toggle.btn-primary {
    background-color: #18a689;
    border-color: #18a689;
    color: #FFFFFF;
}
.btn-primary:active,
.btn-primary.active,
.open .dropdown-toggle.btn-primary {
    background-image: none;
}
.btn-primary.disabled,
.btn-primary.disabled:hover,
.btn-primary.disabled:focus,
.btn-primary.disabled:active,
.btn-primary.disabled.active,
.btn-primary[disabled],
.btn-primary[disabled]:hover,
.btn-primary[disabled]:focus,
.btn-primary[disabled]:active,
.btn-primary.active[disabled],
fieldset[disabled] .btn-primary,
fieldset[disabled] .btn-primary:hover,
fieldset[disabled] .btn-primary:focus,
fieldset[disabled] .btn-primary:active,
fieldset[disabled] .btn-primary.active {
    background-color: #1dc5a3;
    border-color: #1dc5a3;
}
.btn-success {
    background-color: #1c84c6;
    border-color: #1c84c6;
    color: #FFFFFF;
}
.btn-success:hover,
.btn-success:focus,
.btn-success:active,
.btn-success.active,
.open .dropdown-toggle.btn-success {
    background-color: #1a7bb9;
    border-color: #1a7bb9;
    color: #FFFFFF;
}
.btn-success:active,
.btn-success.active,
.open .dropdown-toggle.btn-success {
    background-image: none;
}
.btn-success.disabled,
.btn-success.disabled:hover,
.btn-success.disabled:focus,
.btn-success.disabled:active,
.btn-success.disabled.active,
.btn-success[disabled],
.btn-success[disabled]:hover,
.btn-success[disabled]:focus,
.btn-success[disabled]:active,
.btn-success.active[disabled],
fieldset[disabled] .btn-success,
fieldset[disabled] .btn-success:hover,
fieldset[disabled] .btn-success:focus,
fieldset[disabled] .btn-success:active,
fieldset[disabled] .btn-success.active {
    background-color: #1f90d8;
    border-color: #1f90d8;
}
.btn-info {
    background-color: #23c6c8;
    border-color: #23c6c8;
    color: #FFFFFF;
}
.btn-info:hover,
.btn-info:focus,
.btn-info:active,
.btn-info.active,
.open .dropdown-toggle.btn-info {
    background-color: #21b9bb;
    border-color: #21b9bb;
    color: #FFFFFF;
}
.btn-info:active,
.btn-info.active,
.open .dropdown-toggle.btn-info {
    background-image: none;
}
.btn-info.disabled,
.btn-info.disabled:hover,
.btn-info.disabled:focus,
.btn-info.disabled:active,
.btn-info.disabled.active,
.btn-info[disabled],
.btn-info[disabled]:hover,
.btn-info[disabled]:focus,
.btn-info[disabled]:active,
.btn-info.active[disabled],
fieldset[disabled] .btn-info,
fieldset[disabled] .btn-info:hover,
fieldset[disabled] .btn-info:focus,
fieldset[disabled] .btn-info:active,
fieldset[disabled] .btn-info.active {
    background-color: #26d7d9;
    border-color: #26d7d9;
}
.btn-default {
    background-color: #c2c2c2;
    border-color: #c2c2c2;
    color: #FFFFFF;
}
.btn-default:hover,
.btn-default:focus,
.btn-default:active,
.btn-default.active,
.open .dropdown-toggle.btn-default {
    background-color: #bababa;
    border-color: #bababa;
    color: #FFFFFF;
}
.btn-default:active,
.btn-default.active,
.open .dropdown-toggle.btn-default {
    background-image: none;
}
.btn-default.disabled,
.btn-default.disabled:hover,
.btn-default.disabled:focus,
.btn-default.disabled:active,
.btn-default.disabled.active,
.btn-default[disabled],
.btn-default[disabled]:hover,
.btn-default[disabled]:focus,
.btn-default[disabled]:active,
.btn-default.active[disabled],
fieldset[disabled] .btn-default,
fieldset[disabled] .btn-default:hover,
fieldset[disabled] .btn-default:focus,
fieldset[disabled] .btn-default:active,
fieldset[disabled] .btn-default.active {
    background-color: #cccccc;
    border-color: #cccccc;
}
.btn-warning {
    background-color: #f8ac59;
    border-color: #f8ac59;
    color: #FFFFFF;
}
.btn-warning:hover,
.btn-warning:focus,
.btn-warning:active,
.btn-warning.active,
.open .dropdown-toggle.btn-warning {
    background-color: #f7a54a;
    border-color: #f7a54a;
    color: #FFFFFF;
}
.btn-warning:active,
.btn-warning.active,
.open .dropdown-toggle.btn-warning {
    background-image: none;
}
.btn-warning.disabled,
.btn-warning.disabled:hover,
.btn-warning.disabled:focus,
.btn-warning.disabled:active,
.btn-warning.disabled.active,
.btn-warning[disabled],
.btn-warning[disabled]:hover,
.btn-warning[disabled]:focus,
.btn-warning[disabled]:active,
.btn-warning.active[disabled],
fieldset[disabled] .btn-warning,
fieldset[disabled] .btn-warning:hover,
fieldset[disabled] .btn-warning:focus,
fieldset[disabled] .btn-warning:active,
fieldset[disabled] .btn-warning.active {
    background-color: #f9b66d;
    border-color: #f9b66d;
}
.btn-danger {
    background-color: #ed5565;
    border-color: #ed5565;
    color: #FFFFFF;
}
.btn-danger:hover,
.btn-danger:focus,
.btn-danger:active,
.btn-danger.active,
.open .dropdown-toggle.btn-danger {
    background-color: #ec4758;
    border-color: #ec4758;
    color: #FFFFFF;
}
.btn-danger:active,
.btn-danger.active,
.open .dropdown-toggle.btn-danger {
    background-image: none;
}
.btn-danger.disabled,
.btn-danger.disabled:hover,
.btn-danger.disabled:focus,
.btn-danger.disabled:active,
.btn-danger.disabled.active,
.btn-danger[disabled],
.btn-danger[disabled]:hover,
.btn-danger[disabled]:focus,
.btn-danger[disabled]:active,
.btn-danger.active[disabled],
fieldset[disabled] .btn-danger,
fieldset[disabled] .btn-danger:hover,
fieldset[disabled] .btn-danger:focus,
fieldset[disabled] .btn-danger:active,
fieldset[disabled] .btn-danger.active {
    background-color: #ef6776;
    border-color: #ef6776;
}
.btn-link {
    color: inherit;
}
.btn-link:hover,
.btn-link:focus,
.btn-link:active,
.btn-link.active,
.open .dropdown-toggle.btn-link {
    color: #1ab394;
    text-decoration: none;
}
.btn-link:active,
.btn-link.active,
.open .dropdown-toggle.btn-link {
    background-image: none;
}
.btn-link.disabled,
.btn-link.disabled:hover,
.btn-link.disabled:focus,
.btn-link.disabled:active,
.btn-link.disabled.active,
.btn-link[disabled],
.btn-link[disabled]:hover,
.btn-link[disabled]:focus,
.btn-link[disabled]:active,
.btn-link.active[disabled],
fieldset[disabled] .btn-link,
fieldset[disabled] .btn-link:hover,
fieldset[disabled] .btn-link:focus,
fieldset[disabled] .btn-link:active,
fieldset[disabled] .btn-link.active {
    color: #cacaca;
}
.btn-white {
    color: inherit;
    background: white;
    border: 1px solid #e7eaec;
}
.btn-white:hover,
.btn-white:focus,
.btn-white:active,
.btn-white.active,
.open .dropdown-toggle.btn-white {
    color: inherit;
    border: 1px solid #d2d2d2;
}
.btn-white:active,
.btn-white.active {
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.15) inset;
}
.btn-white:active,
.btn-white.active,
.open .dropdown-toggle.btn-white {
    background-image: none;
}
.btn-white.disabled,
.btn-white.disabled:hover,
.btn-white.disabled:focus,
.btn-white.disabled:active,
.btn-white.disabled.active,
.btn-white[disabled],
.btn-white[disabled]:hover,
.btn-white[disabled]:focus,
.btn-white[disabled]:active,
.btn-white.active[disabled],
fieldset[disabled] .btn-white,
fieldset[disabled] .btn-white:hover,
fieldset[disabled] .btn-white:focus,
fieldset[disabled] .btn-white:active,
fieldset[disabled] .btn-white.active {
    color: #cacaca;
}
.form-control,
.form-control:focus,
.has-error .form-control:focus,
.has-success .form-control:focus,
.has-warning .form-control:focus,
.navbar-collapse,
.navbar-form,
.navbar-form-custom .form-control:focus,
.navbar-form-custom .form-control:hover,
.open .btn.dropdown-toggle,
.panel,
.popover,
.progress,
.progress-bar {
    box-shadow: none;
}
.btn-outline {
    color: inherit;
    background-color: transparent;
    transition: all .5s;
}
.btn-rounded {
    border-radius: 50px;
}
.btn-large-dim {
    width: 90px;
    height: 90px;
    font-size: 42px;
}
button.dim {
    display: inline-block;
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    text-align: center;
    padding-top: 6px;
    margin-right: 10px;
    position: relative;
    cursor: pointer;
    border-radius: 5px;
    font-weight: 600;
    margin-bottom: 20px !important;
}
button.dim:active {
    top: 3px;
}
button.btn-primary.dim {
    box-shadow: inset 0px 0px 0px #16987e, 0px 5px 0px 0px #16987e, 0px 10px 5px #999999;
}
button.btn-primary.dim:active {
    box-shadow: inset 0px 0px 0px #16987e, 0px 2px 0px 0px #16987e, 0px 5px 3px #999999;
}
button.btn-default.dim {
    box-shadow: inset 0px 0px 0px #b3b3b3, 0px 5px 0px 0px #b3b3b3, 0px 10px 5px #999999;
}
button.btn-default.dim:active {
    box-shadow: inset 0px 0px 0px #b3b3b3, 0px 2px 0px 0px #b3b3b3, 0px 5px 3px #999999;
}
button.btn-warning.dim {
    box-shadow: inset 0px 0px 0px #f79d3c, 0px 5px 0px 0px #f79d3c, 0px 10px 5px #999999;
}
button.btn-warning.dim:active {
    box-shadow: inset 0px 0px 0px #f79d3c, 0px 2px 0px 0px #f79d3c, 0px 5px 3px #999999;
}
button.btn-info.dim {
    box-shadow: inset 0px 0px 0px #1eacae, 0px 5px 0px 0px #1eacae, 0px 10px 5px #999999;
}
button.btn-info.dim:active {
    box-shadow: inset 0px 0px 0px #1eacae, 0px 2px 0px 0px #1eacae, 0px 5px 3px #999999;
}
button.btn-success.dim {
    box-shadow: inset 0px 0px 0px #1872ab, 0px 5px 0px 0px #1872ab, 0px 10px 5px #999999;
}
button.btn-success.dim:active {
    box-shadow: inset 0px 0px 0px #1872ab, 0px 2px 0px 0px #1872ab, 0px 5px 3px #999999;
}
button.btn-danger.dim {
    box-shadow: inset 0px 0px 0px #ea394c, 0px 5px 0px 0px #ea394c, 0px 10px 5px #999999;
}
button.btn-danger.dim:active {
    box-shadow: inset 0px 0px 0px #ea394c, 0px 2px 0px 0px #ea394c, 0px 5px 3px #999999;
}
button.dim:before {
    font-size: 50px;
    line-height: 1em;
    font-weight: normal;
    color: #fff;
    display: block;
    padding-top: 10px;
}
button.dim:active:before {
    top: 7px;
    font-size: 50px;
}
.label {
    background-color: #d1dade;
    color: #5e5e5e;
    /*font-family: 'Open Sans';*/
    font-size: 10px;
    font-weight: 600;
    padding: 3px 8px;
    text-shadow: none;
}
.badge {
    background-color: #d1dade;
    color: #5e5e5e;
    /*font-family: 'Open Sans';*/
    font-size: 11px;
    font-weight: 600;
    padding-bottom: 4px;
    padding-left: 6px;
    padding-right: 6px;
    text-shadow: none;
}
.label-primary,
.badge-primary {
    background-color: #1ab394;
    color: #FFFFFF;
}
.label-success,
.badge-success {
    background-color: #1c84c6;
    color: #FFFFFF;
}
.label-warning,
.badge-warning {
    background-color: #f8ac59;
    color: #FFFFFF;
}
.label-warning-light,
.badge-warning-light {
    background-color: #f8ac59;
    color: #ffffff;
}
.label-danger,
.badge-danger {
    background-color: #ed5565;
    color: #FFFFFF;
}
.label-info,
.badge-info {
    background-color: #23c6c8;
    color: #FFFFFF;
}
.label-inverse,
.badge-inverse {
    background-color: #262626;
    color: #FFFFFF;
}
.label-white,
.badge-white {
    background-color: #FFFFFF;
    color: #5E5E5E;
}
.label-white,
.badge-disable {
    background-color: #2A2E36;
    color: #8B91A0;
}
/* TOOLTIPS */
.tooltip-inner {
    background-color: #2F4050;
}
.tooltip.top .tooltip-arrow {
    border-top-color: #2F4050;
}
.tooltip.right .tooltip-arrow {
    border-right-color: #2F4050;
}
.tooltip.bottom .tooltip-arrow {
    border-bottom-color: #2F4050;
}
.tooltip.left .tooltip-arrow {
    border-left-color: #2F4050;
}
/* DATATABLES */
table.dataTable thead .sorting,
table.dataTable thead .sorting_asc:after,
table.dataTable thead .sorting_desc,
table.dataTable thead .sorting_asc_disabled,
table.dataTable thead .sorting_desc_disabled {
    background: transparent;
}
table.dataTable thead .sorting_asc:after {
    float: right;
    font-family: fontawesome;
}
table.dataTable thead .sorting_desc:after {
    content: "\f0dd";
    float: right;
    font-family: fontawesome;
}
table.dataTable thead .sorting:after {
    content: "\f0dc";
    float: right;
    font-family: fontawesome;
    color: rgba(50, 50, 50, 0.5);
}
.dataTables_wrapper {
    padding-bottom: 30px;
}
/* CIRCLE */
.img-circle {
    border-radius: 50%;
    width: 48px;
    height: 48px;
}
.btn-circle {
    width: 30px;
    height: 30px;
    padding: 6px 0;
    border-radius: 15px;
    text-align: center;
    font-size: 12px;
    line-height: 1.428571429;
}
.btn-circle.btn-lg {
    width: 50px;
    height: 50px;
    padding: 10px 16px;
    border-radius: 25px;
    font-size: 18px;
    line-height: 1.33;
}
.btn-circle.btn-xl {
    width: 70px;
    height: 70px;
    padding: 10px 16px;
    border-radius: 35px;
    font-size: 24px;
    line-height: 1.33;
}
.show-grid [class^="col-"] {
    padding-top: 10px;
    padding-bottom: 10px;
    border: 1px solid #ddd;
    background-color: #eee !important;
}
.show-grid {
    margin: 15px 0;
}
/* ANIMATION */
.css-animation-box h1 {
    font-size: 44px;
}
.glyphicon.fa {
    font-family: "FontAwesome";
}
/* INPUTS */
.inline {
    display: inline-block !important;
}
.input-s-sm {
    width: 120px;
}
.input-s {
    width: 200px;
}
.input-s-lg {
    width: 250px;
}
.i-checks {
    padding-left: 0;
}
.dark-bg {
    background-color: #45494c !important;
    border-color: #37383a !important;
}

.margin-top-md{
    margin-top: 15px;
}
.has-success .form-control {
    border-color: #1ab394;
}
.has-warning .form-control {
    border-color: #f8ac59;
}
.has-error .form-control {
    border-color: #ed5565;
}
.has-success .control-label {
    color: #1ab394;
}
.has-warning .control-label {
    color: #f8ac59;
}
.has-error .control-label {
    color: #ed5565;
}
.input-group-addon {
    background-color: #fff;
    border: 1px solid #E5E6E7;
    border-radius: 1px;
    color: inherit;
    font-size: 14px;
    font-weight: 400;
    line-height: 1;
    padding: 6px 12px;
    text-align: center;
}
.spinner-buttons.input-group-btn .btn-xs {
    line-height: 1.13;
}
.spinner-buttons.input-group-btn {
    width: 20%;
}
.noUi-connect {
    background: none repeat scroll 0 0 #1ab394;
    box-shadow: none;
}
.slider_red .noUi-connect {
    background: none repeat scroll 0 0 #ed5565;
    box-shadow: none;
}
/* Validation */
label.error {
    color: #cc5965;
    display: inline-block;
    margin-left: 5px;
}
.form-control.error {
    border: 1px dotted #cc5965;
}
body {
    background-color: #CCCCCC;
    font-size: 12px;
    color: #676a6c;
    overflow-x: hidden;
}
html,
body {
    height: 100%;
}
body.full-height-layout #wrapper,
body.full-height-layout #page-wrapper {
    height: 100%;
}
#page-wrapper {
    min-height: auto;
}
body.boxed-layout {
    background: url('patterns/shattered.png');
}
body.boxed-layout #wrapper {
    background-color: #2f4050;
    max-width: 1200px;
    margin: 0 auto;
    -webkit-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.75);
}
.block {
    display: block;
}
.clear {
    display: block;
    overflow: hidden;
}
a {
    cursor: pointer;
}
a:hover,
a:focus {
    text-decoration: none;
}
.border-bottom {
    border-bottom: 1px solid #e7eaec !important;
}
.font-bold {
    font-weight: 600;
}
.font-noraml {
    font-weight: 400;
}
.text-uppercase {
    text-transform: uppercase;
}
.b-r {
    border-right: 1px solid #e7eaec;
}
.hr-line-dashed {
    border-top: 1px dashed #e7eaec;
    color: #ffffff;
    background-color: #ffffff;
    height: 1px;
    margin: 20px 0;
}
.hr-line-solid {
    border-bottom: 1px solid #e7eaec;
    background-color: rgba(0, 0, 0, 0);
    border-style: solid !important;
    margin-top: 15px;
    margin-bottom: 15px;
}
video {
    width: 100%    !important;
    height: auto   !important;
}
/* MODAL */
.modal-header {
    .close {
        margin-top: -2px;
        margin-left: 10px;
        color: #FFF;
        opacity: 1;
    }
    .save {
        float: right;
        margin: 2px 4px 0;
        padding: 3px 9px 3px 9px;
        font-size: 14px;
        line-height: 12px;
        background: #0198e1;
    }
    .nav-pills li.active a, .nav-pills li a:hover {
        color:#FFF !important;
    }
    .nav-pills li a {
        color:#c5bfbf !important;
    }
}
.modal-content {
    background-clip: padding-box;
    background-color: #FFFFFF;
    border: 1px solid rgba(0, 0, 0, 0);
    border-radius: 4px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
    outline: 0 none;
    position: relative;
    .nav > li{
        background-color:#333;
    }
}
.modal-body {
    .report-modal-form div:nth-child(even).row {
        background: #d8d3d3;
    }
    .report-modal-form div {
        padding: 4px 10px;
    }
}
.modal-dialog {
    z-index: 2200;
}
.modal-body {
    padding: 15px;
}
.inmodal .modal-body {
    background: #f8fafb;
}
.inmodal .modal-header {
    padding: 30px 15px;
    text-align: center;
}
.animated.modal.fade .modal-dialog {
    -webkit-transform: none;
    -ms-transform: none;
    -o-transform: none;
    transform: none;
}
.inmodal .modal-title {
    font-size: 26px;
}
.inmodal .modal-icon {
    font-size: 84px;
    color: #e2e3e3;
}
.modal-footer {
    margin-top: 0;
}
/* WRAPPERS */
#wrapper {
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    background-color: #2C2C2C !important;
}
.nav-header-height {
    height: 155px;
}
.wrapper {
    padding: 0 20px;
}
.wrapper-content {
    padding: 20px 10px 70px;
}
#page-wrapper {
    padding: 0 15px;
    min-height: 568px;
    position: relative !important;
    z-index: 2001;
}
.title-action {
    text-align: right;
    padding-top: 30px;
}
ul.unstyled,
ol.unstyled {
    list-style: none outside none;
    margin-left: 0;
}
.big-icon {
    font-size: 160px !important;
    color: #e5e6e7;
}
/* FOOTER */
.footer-row {
    background: #333;
    padding: 10px;
    font-size: 15px;
    text-align: center;
    margin-top: 11px;
}
footer {
    color:#337ab7;
    padding:10px;
    a {
        &:hover{
            text-decoration: none;
        }
    }
}
.footer.fixed_full {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    padding: 10px 20px;
    background: white;
    border-top: 1px solid #e7eaec;
}
.footer.fixed {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    padding: 10px 20px;
    border-top: 1px solid #e7eaec;
    margin-left: 260px;
}
body.body-small .footer.fixed {
    margin-left: 0px;
}
/* PANELS */
.page-heading {
    border-top: 0;
    padding: 0px 10px 20px 10px;
}
.panel-heading h1,
.panel-heading h2 {
    margin-bottom: 5px;
}
/* TABLES */
.table-bordered {
    border: 1px solid #EBEBEB;
}
.table-bordered > thead > tr > th,
.table-bordered > thead > tr > td {
    background-color: #F5F5F6;
    border-bottom-width: 1px;
}
.table-bordered > thead > tr > th,
.table-bordered > tbody > tr > th,
.table-bordered > tfoot > tr > th,
.table-bordered > thead > tr > td,
.table-bordered > tbody > tr > td,
.table-bordered > tfoot > tr > td {
    border: 1px solid #e7e7e7;
}
.table > thead > tr > th {
    border-bottom: 1px solid #DDDDDD;
    vertical-align: bottom;
}
.table > thead > tr > th,
.table > tbody > tr > th,
.table > tfoot > tr > th,
.table > thead > tr > td,
.table > tbody > tr > td,
.table > tfoot > tr > td {
    border-top: 1px solid #e7eaec;
    line-height: 1.42857;
    padding: 8px;
    vertical-align: top;
}
/* PANELS */
.panel.blank-panel {
    background: none;
    margin: 0;
}
.blank-panel .panel-heading {
    padding-bottom: 0;
}
.nav-tabs > li.active > a,
.nav-tabs > li.active > a:hover,
.nav-tabs > li.active > a:focus {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background: none;
    border-color: #dddddd #dddddd rgba(0, 0, 0, 0);
    border-bottom: #f3f3f4;
    border-image: none;
    border-style: solid;
    border-width: 1px;
    color: #555555;
    cursor: default;
}
.nav.nav-tabs li {
    background: none;
    border: none;
}
.nav-tabs > li > a {
    color: #A7B1C2;
    font-weight: 600;
    padding: 10px 20px 10px 25px;
}
.nav-tabs > li > a:hover,
.nav-tabs > li > a:focus {
    background-color: #e6e6e6;
    color: #676a6c;
}
.ui-tab .tab-content {
    padding: 20px 0px;
}
/* GLOBAL  */
.no-padding {
    padding: 0 !important;
}
.no-borders {
    border: none !important;
}
.no-margins {
    margin: 0 !important;
}
.no-top-border {
    border-top: 0 !important;
}
.border-left-right {
    border-left: 1px solid #e7eaec;
    border-right: 1px solid #e7eaec;
    border-top: none;
    border-bottom: none;
}
.border-left {
    border-left: 1px solid #e7eaec;
    border-right: none;
    border-top: none;
    border-bottom: none;
}
.border-right {
    border-left: none;
    border-right: 1px solid #e7eaec;
    border-top: none;
    border-bottom: none;
}
.full-width {
    width: 100% !important;
}
.link-block {
    font-size: 12px;
    padding: 10px;
}
.nav.navbar-top-links .link-block a {
    font-size: 12px;
}
.link-block a {
    font-size: 10px;
    color: inherit;
}
img.circle-border {
    border: 6px solid #FFFFFF;
    border-radius: 50%;
}
.branding {
    float: left;
    color: #FFFFFF;
    font-size: 18px;
    font-weight: 600;
    padding: 17px 20px;
    text-align: center;
    background-color: #1ab394;
}
.login-panel {
    margin-top: 25%;
}
.icons-box h3 {
    margin-top: 10px;
    margin-bottom: 10px;
}
.icons-box .infont a i {
    font-size: 25px;
    display: block;
    color: #676a6c;
}
.icons-box .infont a {
    color: #a6a8a9;
}
.icons-box .infont a {
    padding: 10px;
    margin: 1px;
    display: block;
}
code {
    background-color: #F9F2F4;
    border-radius: 4px;
    color: #ca4440;
    font-size: 90%;
    padding: 2px 4px;
    white-space: nowrap;
}
.read td a,
.read td {
    font-weight: normal;
    color: inherit;
}
/* BACKGROUNDS */
.gray-bg {
    background-color: #f3f3f4;
}

.white-bg {
    background-color: #ffffff;
}
.navy-bg {
    background-color: #1ab394;
    color: #ffffff;
}
.blue-bg {
    background-color: #1c84c6;
    color: #ffffff;
}
.lazur-bg {
    background-color: #23c6c8;
    color: #ffffff;
}
.yellow-bg {
    background-color: #f8ac59;
    color: #ffffff;
}
.red-bg {
    background-color: #ed5565;
    color: #ffffff;
}
.black-bg {
    background-color: #262626;
}
.picture-bg{
    background-image:url('../images/banner.png');
    background-size: cover;
}
.panel-primary {
    border-color: #1ab394;
}
/*.panel-primary > .panel-heading {
  background-color: #1ab394;
  border-color: #1ab394;
}*/
.panel-success {
    border-color: #1c84c6;
}
.panel-success > .panel-heading {
    background-color: #1c84c6;
    border-color: #1c84c6;
    color: #ffffff;
}
.panel-info {
    border-color: #23c6c8;
}
.panel-info > .panel-heading {
    background-color: #23c6c8;
    border-color: #23c6c8;
    color: #ffffff;
}
.panel-warning {
    border-color: #f8ac59;
}
.panel-warning > .panel-heading {
    background-color: #f8ac59;
    border-color: #f8ac59;
    color: #ffffff;
}
.panel-danger {
    border-color: #ed5565;
}
.panel-danger > .panel-heading {
    background-color: #ed5565;
    border-color: #ed5565;
    color: #ffffff;
}
.progress-bar {
    background-color: #2C95DD;
}
.progress-small,
.progress-small .progress-bar {
    height: 10px;
}
.progress-small,
.progress-mini {
    margin-top: 5px;
}
.progress-mini,
.progress-mini .progress-bar {
    height: 5px;
    margin-bottom: 0px;
}
.progress-bar-navy-light {
    background-color: #3dc7ab;
}
.progress-bar-success {
    background-color: #1c84c6;
}
.progress-bar-info {
    background-color: #23c6c8;
}
.progress-bar-warning {
    background-color: #f8ac59;
}
.progress-bar-danger {
    background-color: #ed5565;
}
.panel-title {
    font-size: inherit;
}
.jumbotron {
    border-radius: 6px;
    padding: 40px;
}
.jumbotron h1 {
    margin-top: 0;
}
/* COLORS */
.text-navy {
    color: #1ab394;
}
.text-primary {
    color: inherit;
}
.text-success {
    color: #1c84c6;
}
.text-info {
    color: #23c6c8;
}
.text-warning {
    color: #f8ac59;
}
.text-danger {
    color: #ed5565;
}
.text-muted {
    color: #888888;
}
.simple_tag {
    background-color: #f3f3f4;
    border: 1px solid #e7eaec;
    border-radius: 2px;
    color: inherit;
    font-size: 10px;
    margin-right: 5px;
    margin-top: 5px;
    padding: 5px 12px;
    display: inline-block;
}
.img-shadow {
    -webkit-box-shadow: 0px 0px 3px 0px #919191;
    -moz-box-shadow: 0px 0px 3px 0px #919191;
    box-shadow: 0px 0px 3px 0px #919191;
}
/* For handle diferent bg color in AngularJS version */
/*.dashboards\.dashboard_2 nav.navbar,
.dashboards\.dashboard_3 nav.navbar,
.mailbox\.inbox nav.navbar,
.mailbox\.email_view nav.navbar,
.mailbox\.email_compose nav.navbar,
.dashboards\.dashboard_4_1 nav.navbar,
.metrics nav.navbar,
.metrics\.index nav.navbar {
    background: #fff;
}*/
/* For handle diferent bg color in MVC version */
/*.Dashboard_2 .navbar.navbar-static-top,
.Dashboard_3 .navbar.navbar-static-top,
.Dashboard_4_1 .navbar.navbar-static-top,
.ComposeEmail .navbar.navbar-static-top,
.EmailView .navbar.navbar-static-top,
.Inbox .navbar.navbar-static-top,
.Metrics .navbar.navbar-static-top {
    background: #fff;
}*/
/* FULL HEIGHT */
.full-height {
    height: 100%;
}
.modal-backdrop {
    z-index: 2040 !important;
}
.modal {
    z-index: 2050 !important;
}
.spiner-example {
    height: 200px;
    padding-top: 70px;
}
/* MARGINS & PADDINGS */
.p-xxs {
    padding: 5px;
}
.p-xs {
    padding: 10px;
}
.p-sm {
    padding: 15px;
}
.p-m {
    padding: 20px;
}
.p-md {
    padding: 25px;
}
.p-lg {
    padding: 30px;
}
.p-xl {
    padding: 40px;
}
.m-xxs {
    margin: 2px 4px;
}
.m-xs {
    margin: 5px;
}
.m-sm {
    margin: 10px;
}
.m {
    margin: 15px;
}
.m-md {
    margin: 20px;
}
.m-lg {
    margin: 30px;
}
.m-xl {
    margin: 50px;
}
.m-n {
    margin: 0 !important;
}
.m-l-none {
    margin-left: 0;
}
.m-l-xs {
    margin-left: 5px;
}
.m-l-sm {
    margin-left: 10px;
}
.m-l {
    margin-left: 15px;
}
.m-l-md {
    margin-left: 20px;
}
.m-l-lg {
    margin-left: 30px;
}
.m-l-xl {
    margin-left: 40px;
}
.m-l-n-xxs {
    margin-left: -1px;
}
.m-l-n-xs {
    margin-left: -5px;
}
.m-l-n-sm {
    margin-left: -10px;
}
.m-l-n {
    margin-left: -15px;
}
.m-l-n-md {
    margin-left: -20px;
}
.m-l-n-lg {
    margin-left: -30px;
}
.m-l-n-xl {
    margin-left: -40px;
}
.m-t-none {
    margin-top: 0;
}
.m-t-xxs {
    margin-top: 1px;
}
.m-t-xs {
    margin-top: 5px;
}
.m-t-sm {
    margin-top: 10px;
}
.m-t {
    margin-top: 15px;
}
.m-t-md {
    margin-top: 20px;
}
.m-t-lg {
    margin-top: 30px;
}
.m-t-xl {
    margin-top: 40px;
}
.m-t-n-xxs {
    margin-top: -1px;
}
.m-t-n-xs {
    margin-top: -5px;
}
.m-t-n-sm {
    margin-top: -10px;
}
.m-t-n {
    margin-top: -15px;
}
.m-t-n-md {
    margin-top: -20px;
}
.m-t-n-lg {
    margin-top: -30px;
}
.m-t-n-xl {
    margin-top: -40px;
}
.m-r-none {
    margin-right: 0;
}
.m-r-xxs {
    margin-right: 1px;
}
.m-r-xs {
    margin-right: 5px;
}
.m-r-sm {
    margin-right: 10px;
}
.m-r {
    margin-right: 15px;
}
.m-r-md {
    margin-right: 20px;
}
.m-r-lg {
    margin-right: 30px;
}
.m-r-xl {
    margin-right: 40px;
}
.m-r-n-xxs {
    margin-right: -1px;
}
.m-r-n-xs {
    margin-right: -5px;
}
.m-r-n-sm {
    margin-right: -10px;
}
.m-r-n {
    margin-right: -15px;
}
.m-r-n-md {
    margin-right: -20px;
}
.m-r-n-lg {
    margin-right: -30px;
}
.m-r-n-xl {
    margin-right: -40px;
}
.m-b-none {
    margin-bottom: 0;
}
.m-b-xxs {
    margin-bottom: 1px;
}
.m-b-xs {
    margin-bottom: 5px;
}
.m-b-sm {
    margin-bottom: 10px;
}
.m-b {
    margin-bottom: 15px;
}
.m-b-md {
    margin-bottom: 20px;
}
.m-b-lg {
    margin-bottom: 30px;
}
.m-b-xl {
    margin-bottom: 40px;
}
.m-b-n-xxs {
    margin-bottom: -1px;
}
.m-b-n-xs {
    margin-bottom: -5px;
}
.m-b-n-sm {
    margin-bottom: -10px;
}
.m-b-n {
    margin-bottom: -15px;
}
.m-b-n-md {
    margin-bottom: -20px;
}
.m-b-n-lg {
    margin-bottom: -30px;
}
.m-b-n-xl {
    margin-bottom: -40px;
}
.space-15 {
    margin: 15px 0;
}
.space-20 {
    margin: 20px 0;
}
.space-25 {
    margin: 25px 0;
}
.space-30 {
    margin: 30px 0;
}
body.modal-open {
    padding-right: inherit !important;
}
/* ERROR & LOGIN & LOCKSCREEN*/
.middle-box {
    max-width: 400px;
    z-index: 100;
    margin: 0 auto;
    padding-top: 40px;
}
.middle-box h1 {
    font-size: 170px;
}
.wrapper .middle-box {
    margin-top: 140px;
}
/* DIFF */
ins {
    background-color: #c6ffc6;
    text-decoration: none;
}
del {
    background-color: #ffc6c6;
}
/*
 *
 *   SKIN 1 - INSPINIA - Responsive Admin Theme
 *   NAME - Blue light
 *
*/
.text-center {
    text-align: center;
}
.navbar-brand{
    padding: 10px 15px;
    /*line-height: 66px;
    display: table;*/
}
.portal-name{
    color: #FFF;
    font-size: 18px;
    line-height: 30px;
}
.control-padding {
    padding: 2px;
}
.panel{
    border: 1px solid #cfcfcf;
    border-radius: 4px;
    -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, .05);
    box-shadow: 0 1px 1px rgba(0, 0, 0, .05);
}
.view-more {
    padding-right: 10px; 
}
.expand-collapse{
    margin-left: -45px;
}
.main-content-header-title{
    margin-right: 15px;
    margin-bottom: 10px;
    margin-top: -35px;
}
.nav > li {
    background-color: #4d4d4d;
    &.navigation-menu {
        text-transform: uppercase;
        font-weight: bold;
        padding: 3px;
        color: #ccc;
        span {
            font-size: 10px;
        }
    }
}
.navbar-minimalize {
    color: #fff!important;
    margin: 20px 20px 10px 15px;
    font-weight: 400;
    display: inline-block;
    font-size: 20px; 
}

.main-content-header{
    margin: 0px;
    padding-left: 2px;
    height: 100%;
    display: table;
}
.main-content-header > li{
    display : inline-block;
    background-repeat: no-repeat;
    background-position: 0 50%;
    padding-left: 20px;
    display: table-cell;
    vertical-align: middle;
}
.main-content-header > li > h2 {
    font-size: 25px;
    position: relative;
    font-weight: 600;
    color: #666666;
    margin-bottom: 5px;
    margin-top: 9px;
    bottom: 28px;
}
.main-content-header > li > span {
    font-size: 17px;
    color: #666666;
    margin-bottom : 5px;
}
.navbar-header-right{
    float: right;
    margin: 0px 10px;
    display: table;
    height: 100%;
    .breadcrum {
        display: table-cell;
        vertical-align: middle;
    }
    .current-page{
        font-size: 13px;
        color: #333;
        font-weight: 600;
    }
}
.panel-heading {
    padding: 0px 0px;
    margin: 0px 1px 0px 0px;
}
.panel-footer {
    padding: 0px 15px;
}
.report-name{
    margin: 0px 10px
}
.panel-primary > .panel-heading {
    color: #fff;
    background-color: #0093b8;
    border-color: #0093b8;
}
.reports-type{
    margin-left: 20px;
}
.button-icon{
    padding: 5px;
}
.modal-header {
    padding: 15px;
    border-bottom: 1px solid #bababa;
    min-height: 16.428571429px;
    background-color: #333;
}
.search-btn{
    background-color: #4b8df8;
    border-color: #4b8df8;
    color: #FFFFFF;
}
.add-to-gallary{
    background-color: #3994d1;
    border-color: #3994d1;
    color: #FFFFFF;
    margin: 0px 15px;
}
.search-btn-size{
    padding: 8px 15px;
}
/*.form-control {
    height: 35px;
}*/
.my-act{
    padding: 5px 5px 5px 10px;
}
.clickableDiv {
    cursor: pointer;
}
.textCapitalize {
    text-transform: capitalize;
}
.text-right {
    text-align: right;
}
.report-grid-layout {
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 0px;
    margin-right: 0px;
    border: 1px solid #eeeeee;
}
.green {
    color: #02fd03;
}
.padding-zero {
    padding: 0px;
}
.extra-small {
    width: 6%;
    height: 6%;
}
.separator {
    margin-left: 5px;
    margin-right: 5px;
}
.minimum-size {
    width: 1%;
    height: 1%;
    margin-right: 5px;
}
.report-list-grid{
    color : #107DC2;
    font-weight: 500;
    font-size: 13px;
}
.vertical-icon{
    margin-left: -13px;
}
body > div.ng-scope {
    position: relative;
    z-index: 1;
}
.navbar-toggle-reportsDashboard {
    background-color: #FFFFFF;
    color: #2C95DD;
    padding: 6px 12px;
    font-size: 14px;
    border: 0;
}
.right-border{
    border-right: 1px dotted;
}
.view-tiles{
    padding-top: 5px;
    position: relative;
}
.wrapper-content-dash{
    padding: 70px 10px 40px;
}
.tile-panel {
    position: relative;

    margin: 15px 0px;
    padding-bottom: 60%;
    color: white;
    &>.row {
        position: absolute;
        width: 100%;
        height: 100%;
        margin: 0px;
        &> .col-sm-1, &> .col-sm-11 {
            padding: 0 2px;
        }
        h3 {
            margin-top: 15px;
        }
        span {
            line-height: 20px;
        }
    }
}
.tile-view-scroll{
    height: 450px;
    overflow: auto;
}
.profile-m-b{
    margin-bottom: 10px !important;
}    
.tilesbody-form-p{
    padding: 40px 15px 70px 15px;
}
.option-vertical-p{
    padding: 55px 3px !important;
}
.bg-transparent{
    background-color: transparent !important;
}
.body-404-page{
    h1{    
        text-align: center;
        font-weight: 600;
    }

    max-width: 500px;
    padding: 50px 40px 50px;;
    border: 1px solid #b3b3b3;
    border-radius: 4px;
    margin: 0 auto;
    box-shadow: 0 1px 10px #a7a7a7, inset 0 1px 0 #fff;
    background: #fcfcfc;
}

.tilesbody-form-p{
    input.ng-invalid {
        border: solid red 1px;
    }
    input.ng-valid {
        border: solid green 1px;
    }
    select.ng-invalid {
        border: solid red 1px;
    }
    select.ng-valid {
        border: solid green 1px;
    }
}
.p-l-sm{
    padding-left: 0px;
}
.p-l-md{
    padding-left: 25px;
}
.list-grp-scroll{
    height: 258px;
    overflow: auto;
}
.news-list {
    li {
        border-bottom: 1px solid #ccc;
        padding: 5px 0px;
    }
    li:last-child {
        border-bottom: none;
    }
}
.sidebar-collapse {
    color:#D3D3D3;
    font-family:'Roboto-Regular';
    font-size:13px;
    padding: 60px 10px;
    .form-control {
        height: auto;
    }
    select{
        border-radius:0;
        border:1px solid #808080;
        background:#333;
        color:#D3D3D3;
    }
}

.grid {
    height: 400px;
}

.calendarBlock {
    .btn-info.active {
        color: #ffffff;
        background-color: #39b3d7;
        border-color: #269abc;

    }
    .text-info {
        color: #31708f;
    }
    .btn-default[disabled] {
        background-color: #fff;
        border-color: #ccc;
    }
    .btn-default {
        color: #333;
        background-color: #fff;
        border-color: #ccc;
    }
    .btn-default:hover {
        color: #333;
        background-color: #ebebeb;
        border-color: #adadad;
    }
}

select {
    max-width: 100%;
}

.scrollable-menu {
    height: auto;
    padding: 10px 0px 1px 10px !important;
    max-height: 200px;
    overflow: scroll;
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1000;
    float: left;
    min-width: 251px;
    padding: 5px 0;
    margin: 2px 0 0;
    font-size: 12px;
    text-align: left;
    list-style: none;
    background-color: #fff;
    input[type=checkbox] {
        margin-top: 7px;
    }    
}
.divider{
    height: 1px;
    margin: 9px 0;
    overflow: hidden;
    background-color: #e5e5e5;
}
.nav-select-dropdown {
    background: transparent;
    color: #FFF;
    border: none;
    font-size: 20px;
    font-weight: normal;
    span {
        color:#FFF;
    }
    option {
        background: #333333;
        color: #FFF;
        border: none;
        font-size: 14px;
        font-weight: normal;
    }
    &:hover {
        color: #FFF;
    }
    &.focus {
        color: #FFF;
    }
}
select:focus::-ms-value {
    background-color: #333; 
    color:#D3D3D3;;
}
option:hover {
    background-color: #66afe9;
    color:#FFF;
}
.additiona-info {
    left: 1px !important;
}
.font-Iconsize {
    font-size: 17px;
}
//submenu-list-admin
.submenu-list-admin {
    li {
        float:left;
    }
    .icon{
        background-size: cover;
        display:inline-block;
        margin-left: 40%;
        &.report{
            background-image: url('../images/about.png');
            height: 18px;
            width: 15px;
        }
        &.news{
            background-image: url('../images/news.png');
            height: 18px;
            width: 18px;
        }
        &.communication{
            background-image: url('../images/communications.png');
            height: 18px;
            width: 18px;
        }
    }
}    
.color-picker-wrapper {
    div {
        width: 100%;
        span {
            width: 15%;
        }
        input {
            width: 85%;
        }
    }
}
.clear-button {
    position: absolute;
    top: 33px;
    font-size: 14px;
    right: 17px;
    background-color: transparent;
    color: #FFF;
    padding: 2px;
    border: none;
    margin-top: 2px;
    outline: none;
}
.isembeded {
    padding-top: 10px;
}
.download-button {
    padding: 15px;
}
.row-options {
    font-size: 15px;
    span {
        padding: 3px;
    }
}
.notification-radio {
    input[type='radio'] {
        vertical-align: middle;
        margin-top: 0px;
        margin-right: 4px;
    }
    .inactive {
        margin-left: 10px;
    }
}
@media (max-width: 992px) {
    .forum-info {
        margin: 15px 0 10px 0px;
        /* Comment this is you want to show forum info in small devices */
        display: none;
    }
    .forum-desc {
        float: none !important;
    }
}
@media (min-width: 768px) {
    .main-container {  
        width: calc(100% - 280px);
        float: left;
    }
    .main-container-right {  
        width: 280px;
        float: right;
    }
    #page-wrapper {
        position: inherit;
        margin: 0 0 0 225px;
        min-height: 100%;
    }
    .navbar-static-side {
        z-index: 2002;
        position: absolute;
        width: 225px;
    }
    .navbar-top-links .dropdown-messages,
    .navbar-top-links .dropdown-tasks,
    .navbar-top-links .dropdown-alerts {
        margin-left: auto;
    }
    .modal-dialog {
        width: 875px;
        margin: 100px auto;
    }
}
@media (max-width: 768px) {
    #page-wrapper {
        position: inherit;
        margin: 0 0 0 0px;
        min-height: 1000px;
    }
    .body-small .navbar-static-side {
        display: none;
        z-index: 2001;
        position: absolute;
        width: 70px;
    }
    .navbar-form-custom {
        display: none;
    }
    .navbar-header {
        display: inline;
        float: left;
    }
    .sidebard-panel {
        z-index: 2;
        position: relative;
        width: auto;
        min-height: 100% !important;
    }
    .sidebar-content .wrapper {
        padding-right: 0px;
        z-index: 1;
    }
    body.rtls .navbar-top-links li:last-child {
        margin-left: 20px;
    }
    .body-small.rtls #page-wrapper {
        position: inherit;
        margin: 0 0 0 0px;
        min-height: 1000px;
    }
    .body-small.rtls .navbar-static-side {
        display: none;
        z-index: 2001;
        position: absolute;
        width: 70px;
    }
    .rtls.fixed-sidebar.body-small .navbar-static-side {
        display: none;
        z-index: 2001;
        position: fixed;
        width: 220px;
    }
}
@media (min-width: 300px)and (max-width: 768px){
    @media (min-width: 300px)and (max-width: 452px){
        body{
            font-size: 10px;
            line-height: 20px;
        }
        .report-list-grid {
            font-size: 10px;
        }
        .container-fluid {
            padding-left: 5px;
            padding-right: 5px;
        }
        .add-to-gallary {
            margin: 0px 20px;
        }
        .btn{
            font-size: 10px;
        }

    }
    .right-border{
        border-right: 0;
    }
    .menu-bar-small{
        span{  
            color: #ffffff !important;
            font-weight: 400;
            font-size: 14px;
        }
        button{
            background-color: inherit;
            padding: 0px 14px;
            margin: 0px;
        }
        ul {
            background-color: #4d4d4d;
            width : 91%;
            margin-left: 15px;
        }

        .dropdown-menu{
            img{ margin: 0px 10px 0px 0px;}
        }  
        border: 1px solid #e7eaec;
        padding: 10px 15px;
        margin: 10px 0px;
        border-image: none;
        border-radius: 4px 4px 0px 0px;
    }
    .menu-bar-small-filter{
        span{  
            color: #ffffff !important;
            font-weight: 400;
            font-size: 14px;
        }
        .filter-heading{
            color: #333333 !important;
        }
        button{
            background-color: inherit;
            padding: 0px 14px;
            margin: 0px;
            border: 0;
        }
        ul {
            background-color: #4d4d4d;
            width : 91%;
            margin-left: 15px;
        }

        .dropdown-menu{
            img{ margin: 0px 10px 0px 0px;}
        }  
        margin-bottom: 10px;

    }
    .dropdown-menu > li > a:hover{
        background-color: #2c95dd; 
    }
    .search-btn-size {
        padding: 7px 10px;
    }
    .form-control {
        height: 30px;
    }
    .extra-small {
        width: 10%;
        height: 10%;
        margin-bottom: 3px;
    }
    .separator {
        margin-left: 2px;
        margin-right: 2px;
    }
    .container-fluid {
        padding-left: 8px;
        padding-right: 8px;
    }
    .navbar-header-right {
        float: left;
    }
    .navbar-toggle-filter{
        float: left;
    }
}
@media (min-width: 768px)and (max-width: 991px){
    .right-border{
        border-right: 0;
    }
    .navbar-static-side {
        width: 200px;
    }
    #page-wrapper {
        margin: 0 0 0 200px;
    }
    .reports-type {
        margin-left: 8px;
    }
    .menu-bar-small{
        span{  
            color: #ffffff !important;
            font-weight: 400;
            font-size: 14px;
        }
        button{
            background-color: inherit;
            padding: 0px 14px;
            margin: 0px;
        }
        ul {
            background-color: #4d4d4d;
            width : 91%;
            margin-left: 15px;
        }

        .dropdown-menu{
            img{ margin: 0px 10px 0px 0px;}
        }  
        border: 1px solid #e7eaec;
        padding: 10px 15px;
        margin: 10px 0px;
        border-image: none;
        border-radius: 4px 4px 0px 0px;
    }
    .dropdown-menu > li > a:hover{
        background-color: #2c95dd; 
    }
    .search-btn-size {
        padding: 4px 10px;
    }
    .form-control {
        height: 30px;
    }
    .extra-small {
        width: 9%;
        height: 9%;
    }
    .main-content-header > li > h2 {
        font-size: 18px;
    }
}
@media (max-width: 1000px) {
    .welcome-message {
        display: none;
    }
}
@media (min-width: 1200px) {
    .report-list {
        width: 20%;
    }
    .menu-visible-lg {
        display: block !important;
    }
}