<div id="deleteModal">
    <div class="modal-header">
        <button type="button" class="close" ng-click="cancel()" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h3 class="modal-title">Clear All Notifications</h3>
    </div>
    <div class="modal-body">
        <p>Are you sure want to remove all the notifications ?</p>
    </div>
    <div class="modal-footer">
        <button class="btn btn-danger p-xs text-white" type="button" ng-click="delete()">Clear All</button>
        <button class="btn btn-warning p-xs text-white" type="button" ng-click="cancel()">Cancel</button>
    </div>
</div>