<div id='d3d'>
    <div class="tree-info" ng-show="isTableu">
        <span>Workbook Name</span><i class="glyphicon glyphicon-arrow-right"></i>
        <span>Dashboard Name</span><i class="glyphicon glyphicon-arrow-right"></i>
        <span>WorksheetName</span><i class="glyphicon glyphicon-arrow-right"></i>
        <span>Datasource</span><i class="glyphicon glyphicon-arrow-right"></i>
        <span>Data Table</span><i class="glyphicon glyphicon-arrow-right"></i>
        <span>Source Column Name</span>
    </div>
    <div class="tree-info" ng-hide="isTableu" style="margin-left: 193px;">
        <span>Report Name</span><i class="glyphicon glyphicon-arrow-right"></i>
        <span>Universe /Variables</span><i class="glyphicon glyphicon-arrow-right"></i>
        <span>DataProvider/Variable Name</span><i class="glyphicon glyphicon-arrow-right"></i>
        <span>Object Name/Calculation Formula</span>
    </div>
    <button class='btn btn-info' id='toggle' style="display:none;">Expand All</button>
    <svg width='960' height='800'  style="height:800px"></svg>
</div>