<div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 hidden-xs" style="height:40px;" >
    <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 pull-left padding-zero">
        <span>Sort By:</span>
        <select ng-model="sortOption" class="search-filter-dropdown" ng-change="sortReports()">
            <option value="ascName">Name (A-Z)</option>
            <option value="desName">Name (Z-A)</option>
            <option value="desCDate">Date Added (New-Old)</option>
            <option value="ascCDate">Date Added (Old-New)</option>
            <option value="mostViewed">Most Popular</option>
            <option value="recenltyAdded">Newly Added</option>
        </select>
        <span class="legendLabel">Display:</span>
        <select ng-model="filterOption" class="search-filter-dropdown m-l-sm" ng-change="filterReports()">
            <option value="filter">{{defaultFilter}}</option>
            <option value="bobjReports">BOBJ Reports</option>
            <option value="tableauReports">Tableau Reports</option>
            <option value="externalReports">External Reports</option>
        </select>
    </div>
    <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 pull-right tile-list-inner" ng-hide="$stateParams.levelId && $stateParams.reportId">
        <a class="list-grid-container align-center" ng-class="{bordered:listViewStatus === 'detailed'}" ng-click="setListView('detailed')" data-toggle="tooltip" data-placement="left" tooltip title="Detail View">
            <span class="detailed-view-icon"></span>
        </a>
        <a class="list-grid-container align-center" ng-hide="false" ng-class="{bordered:myfavorites.listView == 'list'}" ng-click="setListView('list')" data-toggle="tooltip" data-placement="left" tooltip title="List View">
            <span class="list-view-icon"></span>
        </a>
        <a class="list-grid-container align-center" ng-hide="false" ng-class="{bordered:myfavorites.listView == 'grid'}" ng-click="setListView('grid')" data-toggle="tooltip" data-placement="bottom" tooltip title="Tile View">
            <span class="grid-view-icon"></span>
        </a>
    </div>
</div>

<div class="container-fluid report-container">
    <load-tiles-infinite tiles-data="myfavorites" user-login-name="{{userObject.emcLoginName}}"></load-tiles>         
</div>                   
        



