<div class=" row myprofile picture-bg">
    <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12 v-offset-bottom-10px">
        <div class="row">
            <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12">
                <div class="profile-logo">
                    <img alt="image" class="usr-image" ng-src="{{userPicUrl}}" err-src="images/charts/default_user.png">
                </div>
                <div class="user-name">
                    <h3 ng-bind="userObject.userFullName" style="display:inline-block;" class="v-offset-top-15px"></h3>
                    <img src="{{userBadgeImage}}"/>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-8 col-md-8 col-sm-10 col-xs-11">
        <div class="color-white  v-offset-bottom-10px margin-top-left">My usage Level Indication</div>
        <div class="row margin-top-left" style="border-bottom:0;">
            <div class="progress">
                <div class="progress-bar" role="progressbar" aria-valuenow="70"
                     aria-valuemin="0" aria-valuemax="100" ng-class="myLevel">
                </div>
            </div>
            <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3 margin-top-md">
                <div  class="text-center color-white ">Bronze</div>
            </div>

            <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3 margin-top-md"> 
                <div  class="text-center color-white">Silver</div>
            </div>

            <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3 margin-top-md"> 
                <div  class="text-center color-white">Gold</div>
            </div>

            <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3 margin-top-md"> 
                <div class="text-center color-white">Platinum</div>
            </div>
        </div>
    </div>
</div>
<br>
<div class="row">
    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <span class="pull-right text-navy">{{$scope.statusMessage}}</span>
        <ul class="list-unstyled background-box no-padding">
            <li>
                <div class="col-sm-6 col-md-6 col-lg-6 col-xs-6">
                    Persona:
                </div>
                <div class="col-sm-6 col-md-6 col-lg-6 col-xs-6">
                    <span ng-repeat="groups in userObject.userinfo.group">{{groups.groupName}}</span>
                </div>
            </li>
            <li>
                <div class="col-sm-6 col-md-6 col-lg-6 col-xs-6">
                    Badge:
                </div>
                <div class="col-sm-6 col-md-6 col-lg-6 col-xs-6">
                    {{userObject.uid}}
                </div>
            </li>
            <li>
                <div class="col-sm-6 col-md-6 col-lg-6 col-xs-6">
                    Designation:
                </div>
                <div class="col-sm-6 col-md-6 col-lg-6 col-xs-6">
                    {{userObject.title}}
                </div>
            </li>
            <li>
                <div class="col-sm-6 col-md-6 col-lg-6 col-xs-6">
                    Phone Number:
                </div>
                <div class="col-sm-6 col-md-6 col-lg-6 col-xs-6">
                    {{userObject.telephonenumber}}
                </div>
            </li>
            <li>
                <div class="col-sm-6 col-md-6 col-lg-6 col-xs-6">
                    Email:
                </div>
                <div class="col-sm-6 col-md-6 col-lg-6 col-xs-6">
                    {{userObject.mail}}
                </div>
            </li>
            <li>
                <div class="col-sm-6 col-md-6 col-lg-6 col-xs-6">
                    Role:
                </div>
                <div class="col-sm-6 col-md-6 col-lg-6 col-xs-6">
                    {{userObject.userinfo.role}}
                </div>
            </li>
        </ul>
    </div>
</div>
<div class="col-md-12 col-lg-12 col-sm-12 col-xs-12 v-offset-top-10px v-offset-bottom-10px ng-scope">
    <h3>Themes</h3><!-- style="color:#D7D7D7"-->
    <hr />
    <div class="col-lg-3 col-md-3 col-lg-3 col-sm-5 col-xs-5">
        <a class="theme-select" ng-click="setUserTheme('default')" ng-class="{'active' : userTheme === 'default'}">
            <img src="images/color-2.png" />
            <h4 class="align-center">Light</h4>
        </a>
    </div>
    <div class="col-lg-3 col-md-3 col-lg-3 col-sm-5 col-xs-5 col-md-offset-1 col-sm-offset-1 col-lg-offset-1">
        <a class="theme-select" ng-click="setUserTheme('black')" ng-class="{'active' : userTheme === 'black'}">
            <img src="images/color-1.png" />
            <h4 class="align-center">Dark</h4>
        </a>
    </div>
</div>
