<div class="background-box">
    <h3>About</h3>
    <table class="table" ng-class="{'search-table':mainState.current.name.indexOf('search.details') === 0}">
        <tr>
            <td class="col-md-4">
                <strong>Name:</strong>
            </td>
            <td class="col-md-8">{{reportData.name}}</td>
        </tr>
        <tr>
            <td>
                <strong>Description:</strong>
            </td>
            <td>{{reportData.reportDesc}}</td>
        </tr>
        <tr>
            <td>
                <strong>Functional Area:</strong>
            </td>
            <td>{{reportData.functionalArea}}</td>
        </tr>
        <tr>
            <td>
                <strong>Functional Area Level1:</strong>
            </td>
            <td>{{reportData.functionalAreaLvl1}}</td>
        </tr>
        <tr>
            <td>
                <strong>Functional Area Level2:</strong>
            </td>
            <td>{{reportData.functionalAreaLvl2}}</td>
        </tr>
        <tr>
            <td>
                <strong>Owner:</strong>
            </td>
            <td>{{reportData.owner}}</td>
        </tr>
        <tr>
            <td>
                <strong>Source System:</strong>
            </td>
            <td>{{reportData.sourceSystem}}</td>
        </tr>    
    </table>
</div>