<div class="background-box">
    <h3>User Feedback</h3>
    <table class="table ng-scope" ng-class="{'search-table':mainState.current.name.indexOf('search.details') === 0}">
        <tbody>
            <tr ng-repeat="feedback in feedbackArray">
                <td class="col-md-4">
                    <div class="col-xs-12 col-md-12 col-sm-12 col-lg-12 col-xl-12">
                        {{feedback.feedback}}
                    </div>
                    <div class="col-xs-12 col-md-12 col-sm-12 col-lg-12 col-xl-12 small text-muted">
                        By: {{feedback.userName}}
                    </div>
                </td>
                <td class="col-md-8 ng-binding">
                    Posted: {{feedback.feedbackDate| date:'MMM d yyyy'}}
                </td>
            </tr>
        </tbody>
    </table>
    <div class="row">
        <div class="col-xs-12 col-sm-12 co-md-12 col-lg-12 col-xl-12">
            <textarea ng-model="feedback" class="form-control custom-control" rows="3" style="resize:none;" placeholder="Please write a feedback here"></textarea>
            <a href="javascript:;" class="btn btn-lg btn-secondary btn-post col-md-4 col-lg-2 col-sm-4 col-xs-12 col-xl-2" ng-click="postFeedback()">
                Post
            </a>
        </div>
    </div>
</div>    