<div id="imaginary_container">
    <div class="col-lg-9 col-md-9 col-sm-9 col-xl-12">
        <div class="input-group search-parent clickable" ng-show="model.isMinimised" ng-click="model.isMinimised = false;" >
            <div class="search-report globle-search-input"></div>
            <span class="input-group-addon globle-search-icon hidden-xs">
                <button type="submit">
                    <span class="glyphicon glyphicon-search"></span>
                </button>  
            </span>
            <button type="submit" class="hidden-xl hidden-lg hidden-md hidden-sm search-icon-mobile">
                <span class="glyphicon glyphicon-search"></span>
            </button>
        </div>
    </div>
</div>

<div class="overlay-dark" ng-hide="model.isMinimised">
    <form ng-submit="submitSearch()" class="jq-form-class" style="z-index:100" name="searchForm" ng-hide="model.isMinimised">
        <div class="row">
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12 align-center">
                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12 align-center v-offset-top-20px">
                    <div class="col-xl-3 col-lg-3 col-md-3 col-sm-3 col-xs-1 v-offset-top-5px align-custom">
                        <a href="javascript:;" ng-click="model.isMinimised = true;" class="header-search-close-button color-white">
                            <span class="back-button-image color-white"></span>
                            <span class="hidden-xs back-text">&nbsp;&nbsp;Back</span>
                        </a>
                    </div>
                    <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-xs-10 align-center">
                        <div class="input-group search-parent">
                            <select class="filter hidden-xs" ng-model="searchFilter" ng-options="filter.name for filter in model.searchFilterOptions" ng-change="setFilterValue()">
                                <option value="">Filter Search</option>
                            </select>
                            <input ng-model="searchText"
                                   type="text"
                                   name="searchText"
                                   class="form-control search-report globle-search-input hidden-xs"
                                   placeholder="Search..."
                                   uib-typeahead="searchText for searchText in getSearchSuggest($viewValue)"
                                   typeahead-loading="loadingLocations"
                                   typeahead-no-results="noResults"
                                   typeahead-focus-first="false"
                                   typeahead-show-hint="true"
                                   typeahead-append-to = "searchParent"
                                   typeahead-on-select="searchOnSelect($item, $model, $label, $event)"
                                   typeahead-popup-template-url="views/customPopupTemplate.html"
                                   autocomplete="off"
                                   ng-model-onblur ng-change="showIconFlag()"
                                   />
                            <input ng-model="searchText"
                                   type="text"
                                   name="searchText"
                                   class="form-control search-report globle-search-input hidden-xl hidden-lg hidden-md hidden-sm"
                                   placeholder="Search..."
                                   uib-typeahead="searchText for searchText in getSearchSuggest($viewValue)"
                                   typeahead-loading="loadingLocations"
                                   typeahead-no-results="noResults"
                                   typeahead-focus-first="false"
                                   typeahead-show-hint="true"
                                   typeahead-append-to-body = "true"
                                   typeahead-on-select="searchOnSelect($item, $model, $label, $event)"
                                   typeahead-popup-template-url="views/customPopupTemplate.html"
                                   autocomplete="off"
                                   ng-model-onblur ng-change="showIconFlag()"
                                   />
                            <button class="glyphicon glyphicon-remove color-white close-icon" ng-class="{'ng-hide': !showIcon, 'ng-show':showIcon}" type="reset" ng-click="showIcon = false;"></button>
                            <span class="input-group-addon search-report globle-search-icon">
                                <button type="submit">
                                    <span class="glyphicon glyphicon-search"></span>
                                </button>  
                            </span>
                        </div>
                    </div>
                    <div class="hidden-xl hidden-lg hidden-md hidden-sm col-xs-12 margin-top-md on-Mobile">
                        <select class="filter col-xs-5" ng-model="searchin" ng-change="setSearchInValue()">
                            <option value="persona" ng-selected="true">Persona</option>
                            <option value="catalog">Report Catalog</option>
                        </select>
                        <span class="col-xs-2"></span>
                        <select class="filter col-xs-5" ng-model="searchFilter" ng-options="filter.name for filter in model.searchFilterOptions" ng-change="setFilterValue()">
                            <option value="">Filter Search</option>
                        </select>
                    </div>
                    <div class="col-xl-3 col-lg-3 col-md-3 col-sm-3 hidden-xs align-left"></div>
                    <div id="search-parent" class="col-xs-12"></div>
                </div>
            </div>
        </div>
    </form>
    <div class="container v-offset-top-20px">
        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 hidden-xs tab-container">
            <div class="col-xl-8 col-lg-8 col-md-8 col-sm-8 col-xs-12 col-xl-offset-2 col-lg-offset-2 col-md-offset-2 col-sm-offset-2 v-offset-top-15px">
                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-xs-6 align-center tab-label active" ng-model="searchin" ng-click="updateSearchIn('persona')" ng-class="{active:searchin === 'persona'}">
                    <label>Persona</label>
                </div>
                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-xs-6 align-center tab-label" ng-model="searchin" ng-click="updateSearchIn('catalog')"  ng-class="{active:searchin === 'catalog'}">
                    <label>Report Catalog</label>
                </div>
            </div>
        </div>
        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 hidden-xs v-top-offset-20px" >
            <!-- <jqcloud  ng-if="isCloudVisible" width=250 height=250 words="model.searchCloud" shape="elliptic" colors="['#3396da']" auto-resize="true" steps="10"></jqcloud> -->
            <jqcloud class="jqcloud-container" ng-if="isCloudVisible" words="model.searchCloud" style="width:100%;height:400px;" shape="elliptic" colors="['#7291A6']" auto-resize="true" steps="10" font-size="{from:0.09, to:0.04}"></jqcloud>
        </div>
    </div>
</div>