<div class="col-xs-12 col-md-12 col-lg-12 col-xl-12 v-offset-bottom-15px no-padding">
    <div class="row ibox-title" ng-hide="panel.pesonaError">
        <div class="col-sm-10 col-md-11 col-lg-11 col-xl-11 col-xs-10 dashed-box">
            <div class="row">
                <h5 class="panel-box-heading">
                    <div class="col-xs-10 col-sm-10 col-md-10 col-lg-10 col-xl-10">{{(panel.displayName) ? panel.displayName : panel.title | limitTo:19}}<span ng-show="panel.title.length > 19">...</span></div>
                    <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2 col-xl-2 align-right">{{panel.service.reports.length}}</div>
                </h5>
            </div>
        </div>
        <div class="col-sm-2 col-md-1 col-lg-1 col-xl-1 col-xs-2 align-right">
            <a class="btn btn-md bordered" href="javascript:;" ng-show="panel.open" ng-click="collapseOpen();"><span class="glyphicon glyphicon-minus"></span></a>
            <a class="btn btn-md bordered" href="javascript:;" ng-hide="panel.open" ng-click="collapseOpen();"><span class="glyphicon glyphicon-plus"></span></a>
        </div>
    </div>
    <div ng-show="panel.open" class="row ibox-content no-padding"  ng-class="{'tiles-list-view':panel.listView}">
        <div class="container-fluid"
            infinite-scroll='panel.service.loadReports(panel.parameter1,panel.parameter2)' 
            infinite-scroll-distance='1' 
            infinite-scroll-disabled='panel.service.loadmoredisable' 
            infinite-scroll-immediate-check='true'
            >
            <div class="row" >
                <div ng-class="panel.class_names" class="single-tile report-block" ng-repeat="report in (mostviewed = (panel.service.reports| limitTo:panel.limit))" ng-mouseenter="showHideIcon(true,  report.id)" ng-mouseleave="showHideIcon(false, report.id)">
                    <a href="javascript:void(0)" ng-click="loadReport(report);" title="{{(report.reportDesc) ? report.reportDesc : report.linkHoverInfo }}" ng-show="externalUrl">
                        <div class="panel panel-primary reports-box">
                            <div class="image-container">
                                <load-tile-image></load-tile-image>
                            </div>
                            <div class="panel-footer">
                                <span class="image-icon {{iconClass}}" ng-show="panel.listView"></span>
                                <span class="pull-left wrap-reportname" title="{{report.name}}">{{report.name}} </span>
                                <div class="clearfix"></div>
                            </div>
                        </div>
                    </a>
                    <a ng-href="#/reports/{{report.levelId}}/{{report.id}}/report" title="{{(report.reportDesc) ? report.reportDesc : report.linkHoverInfo }}" ng-hide="externalUrl">
                        <div class="panel panel-primary reports-box" ng-class="{'refresh-status-icon-green-bottom': report.refreshStatus === 'Y' }">
                            <div class="image-container">
                                <load-tile-image></load-tile-image>
                            </div>
                            <!--div class="tile-hover-div"></div>
                            <div class="tile-hover-div-search"></div -->
                            <div class="panel-footer">
                                <span class="image-icon {{iconClass}}" ng-show="panel.listView"></span>
                                <span class="pull-left wrap-reportname" title="{{report.name}}">{{report.name}} </span>
                                <!--{{report.name | limitTo: 20}}<span ng-show="report.name.length > 20">...</span>-->
                                <div class="clearfix"></div>
                            </div>
                        </div>
                    </a>

                    <div class="footer-links">
                        <div class="favorite-button" 
                             ng-click="changeFavorite(report, $index, panel)" 
                             ng-class="{'favorite-selected': report.favorite === 'Y' }" 
                             title="Make this Report favorite" 
                             ng-show="showIcons === true+report.id || report.favorite === 'Y'"></div>
                        <div class="open-exteranl hidden-xs" title="Open in new window/tab" ng-show="showIcons===true+report.id">
                            <a ng-show="report.type.toLowerCase() === 'tableau'" href="{{report.reportLink}}?:embed=y&:showVizHome=n&:apiID=handler0" target="_blank"><img src=""></a>
                            <a ng-show="report.type.toLowerCase() !== 'tableau'" href="{{report.reportLink}}" target="_blank"><img src=""></a>
                        </div>
                    </div>
                    <div class="refresh-status-icon" ng-class="{'refresh-status-icon-green': report.refreshStatus === 'Y' }" >
                    </div>
                </div>
                <p ng-show="panel.pesonaError" class="text-center persona-error col-sm-12 col-md-12 col-lg-10 col-xl-10 col-xs-10 text-center">
                    <span ng-show="panel.pesonaError">
                        {{panel.pesonaError}}.
                    </span>
                </p>
                <p ng-show="panel.service.reports.length === 0" class="col-sm-12 col-md-12 col-lg-10 col-xl-10 col-xs-10 text-center">
                    <span ng-show="panel.rr && !panel.pesonaError">
                        There are no available reports for this persona.
                    </span>
                    <span ng-show="panel.title === 'My Favorites'">
                        There are currently no favorite reports.
                    </span>
                </p>
            </div>
            <div class="row pull-right view-more" ng-show="panel.levelLink">
                <a ui-sref="reports.details({levelId:panel.levelLink})">View more</a>
            </div>
        </div>
    </div>
</div>