<div class="col-xs-12 col-md-12 col-lg-12 col-xl-12 ibox-title">
    <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12 dashed-box">
        <h5 class="col-sm-6 col-md-6 col-lg-6 col-xl-6 col-sm-offset-3 col-md-offset-3 col-lg-offset-3 col-xl-offset-3">
            <div class="col-sm-10 col-md-10 col-lg-12 col-xl-12">Search results for '<span ng-bind="keyword"></span>'</div>
        </h5>
    </div>
</div>
<div
    infinite-scroll='panel.service.loadReports(panel.parameter1,panel.parameter2)' 
    infinite-scroll-distance='1' 
    infinite-scroll-disabled='panel.service.loadmoredisable' 
    infinite-scroll-immediate-check='true'>
    <div class="row">
        <div class="col-sm-12 col-md-12 col-lg-10 col-xl-10 col-lg-offset-1 col-xl-offset-1">
            <div ng-class="panel.class_names" class="col-xs-12 col-sm-6 col-md-4 col-lg-4 col-xl-4 search-article " ng-repeat="report in (mostviewed = (panel.service.reports| limitTo:panel.limit))">
                <div style="height:310px;">
                    <div class="col-xs-10 col-sm-10 col-md-8 col-lg-8 col-xl-8">
                        <div class="reports-box reports-box-search v-offset-bottom-10px">
                            <load-tile-image></load-tile-image>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-12 col-md-10 col-lg-10 col-xl-10 v-offset-bottom-5px">
                        <h3>
                            <a ui-sref="search.details.report({'searchId':report.id, 'sourceReportId':report.sourceReportId, 'sourceName':report.sourceSystem})"
                               title="{{report.reportName}}">
                                {{report.reportName}}
                            </a>
                        </h3>
                        <div class="small text-muted" ng-if="report.owner">Created by <cite title="{{report.owner}}">{{report.owner}}</cite> <span ng-if="report.functionalArea">in {{report.functionalArea}}</span></div>
                    </div>
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-10 col-xl-10 description v-offset-bottom-5px" ng-if="report.reportDesc">
                        <div class="border-bottom v-offset-bottom-5px"></div>
                        {{report.reportDesc}}
                    </div>

                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 small text-muted v-offset-top-5px">
                        <div ng-if="report.viewCount">Views:{{report.viewCount}}</div>
                        <div ng-if="report.createdDate" >Created: {{convertStringDate(report.createdDate) | date:'MMM d yyyy'}}</div>
                        <div ng-if="report.updatedDate">Last modified: {{convertStringDate(report.updatedDate) | date:'MMM d yyyy'}}</div>
                    </div>
                </div>
            </div>
        </div>
        <p ng-if="panel.service.reports.length === 0" class="col-sm-12 col-md-12 col-lg-10 col-xl-10 col-lg-offset-1 col-xl-offset-1 text-center">Your search did not match any results.</p>
    </div>
</div>